@import "src/components/Avatar/Avatar.scss";
@import "../../styles/themes";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.avatarContainer {
  // TODO customize spacing?
  margin-left: -8px;
  // TODO hover effect?
  //opacity: 0.8;
  //&:hover {
  //  opacity: 1.0;
  //  z-index: 2;
  //}
}

.counterContainer {
  background: var(--primary-background-hover-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -8px;
  z-index: 1;

  &:focus {
    outline: none;
    @include focus-style(50%);
  }

  &.small {
    height: $avatar-size-small;
    width: $avatar-size-small;
    border-radius: $avatar-size-small / 2;
  }

  &.medium {
    height: $avatar-size-medium;
    width: $avatar-size-medium;
    border-radius: $avatar-size-medium / 2;
  }

  &.large {
    height: $avatar-size-large;
    width: $avatar-size-large;
    border-radius: $avatar-size-large / 2;
  }

  &.primary {
    @include theme-prop(color, text-color-on-primary);
    @include theme-prop(background-color, primary-color);
  }
  &.dark {
    @include theme-prop(color, text-color-on-inverted);
    @include theme-prop(background-color, inverted-color-background);
  }
  &.negative {
    @include theme-prop(color, text-color-on-primary);
    @include theme-prop(background-color, negative-color);
  }
  &.light {
    @include theme-prop(color, text-color);
    @include theme-prop(background-color, primary-background-hover-color);
  }
}
