.largeComponentRule {
  height: fit-content !important;
  width: fit-content;
  padding: var(--sb-spacing-large);
}

.preview {
  padding-inline-start: 32px;
  padding-block-start: 40px;
  height: 360px;

  &.large {
    height: 540px;
  }
}
