.layout {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;

  .header {
    border: 1px dashed #c74646;

    width: 100%;
    margin-block: var(--spacing-large) var(--spacing-small);
    text-align: center;
  }

  .content {
    flex: 1;
    width: 100%;
    align-self: flex-start;
  }

  .media {
    height: 260px;
    flex-shrink: 0;
  }
}
