@import "~@vibe/style/dist/mixins/states";
@import "~@vibe/style/dist/mixins/typography";

.clickableWrapper {
  @include clickable;

  &:active {
    transform: scale(0.95) translate3d(0, 0, 0);
    transition: var(--motion-productive-short) transform;
  }
}

.label {
  @include smoothing-text;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 2px var(--spacing-small);
  position: relative;

  &.small {
    padding: 2px var(--spacing-xs);
    border-radius: 4px;
  }
}

.withLeg {
  border-radius: 4px 4px 4px 0;
}

.legWrapper {
  position: absolute;
  height: 8px;
  top: 100%;
  left: 0;
  display: inline-flex;
}

.kindFill {
  border: none;
  background-color: transparent;
  padding: 2px var(--spacing-small);

  &.small {
    padding: 2px var(--spacing-xs);
  }

  &.colorPrimary {
    background-color: var(--surface-primary-color);
    color: var(--primary-color);

    svg path {
      fill: var(--surface-primary-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--surface-primary-color);
    }
  }

  &.colorDark {
    background-color: var(--ui-background-color);
    color: var(--primary-text-color);

    svg path {
      fill: var(--ui-background-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ui-background-color);
    }
  }

  &.colorNegative {
    background-color: var(--surface-negative-color);
    color: var(--negative-color);

    svg path {
      fill: var(--surface-negative-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--surface-negative-color);
    }
  }

  &.colorPositive {
    background-color: var(--surface-positive-color);
    color: var(--positive-color);

    svg path {
      fill: var(--surface-positive-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--surface-positive-color);
    }
  }

  .smallText {
    line-height: 14px;
  }
}

.kindLine {
  border: 1px solid currentColor;
  padding: 1px var(--spacing-small);

  &.small {
    padding: 0 var(--spacing-xs);
  }

  .legWrapper {
    left: -1px;
    top: calc(100% + 1px);
  }

  &.colorPrimary {
    color: var(--primary-color);

    svg path {
      fill: var(--primary-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--primary-background-hover-color);
    }
  }

  &.colorDark {
    color: var(--primary-text-color);

    svg path {
      fill: var(--primary-text-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--primary-background-hover-color);
    }
  }

  &.colorNegative {
    color: var(--negative-color);

    svg path {
      fill: var(--negative-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--negative-color-selected);
    }
  }

  &.colorPositive {
    color: var(--positive-color);

    svg path {
      fill: var(--positive-color);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--positive-color-selected);
    }
  }

  .smallText {
    line-height: 14px;
  }
}
