@import "../../styles/typography";
@import "../../styles/content-spacing";
@import "../../../styles/global-css-settings";

.monday-storybook-component-name {
  width: 100%;
  margin-top: 0;
  margin-bottom: $spacing-between-section-items;
  @include basic-text;
  font-family: $header-primary-font;
  font-size: $h1-font-size;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: -0.24px;
  text-align: left;
  display: grid;
  border-radius: $border-radius-small;
  padding: 40px 24px;
  background-image: url('./assets/component-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  &--foundation {
    background-image: url('./assets/foundation-background.png');
  }
}