@import "../../../styles/themes";

.custom-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-radius: var(--border-radius-small);
  padding: 2px;
  &:hover {
    background: var(--primary-background-hover-color);
  }
  .icon-resizer {
    transform: rotate(45deg);

  }

}
.custom-handle-se {
  bottom: 0;
  right: -8px;
  cursor: ew-resize;
}

.resizable-container {
  position: relative;
}

.responsive-story {
  display: flex;
  align-items: center;
  .responsive-icon-margin {
    margin-right: 8px;
  }

  .responsive-lst-search {
    width: 250px;
  }
}
