.clickable-description {
  padding: var(--sb-spacing-small);
  border-radius: var(--sb-border-radius-small);
  background-color: var(--sb-primary-selected-color);
  color: var(--sb-primary-text-color);
  width: 40%;
}
