.clickable-description {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  background-color: var(--primary-selected-color);
  color: var(--primary-text-color);
  width: 40%;
}