@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.labelComponentWrapper {
  display: flex;
  padding-bottom: $spacing-small;
  align-items: center;
}

.labelComponentWrapper .labelComponentIcon {
  margin: 0 var(--spacing-small) 0 var(--spacing-xs);
  line-height: 24px;
  font-size: var(--font-size-general-label);
  @include theme-prop(color, icon-color);
}

.labelComponentWrapper .labelComponentText {
  @include font-paragraph-bold();
  @include theme-prop(color, primary-text-color);
}

.labelComponentWrapper .labelComponentIcon {
  font-family: var(--font-family);
}
