@import "../../../styles/global-css-settings";
@import "../../styles/typography";

.monday-storybook-anchor-list-item {
  @include theme-prop(color, link-color);
  font-size: $anchor-font-size;
  line-height: $text-line-height;

  &:not(:last-child) {
    margin-bottom: $spacing-small;
  }

  a {
    @include theme-prop(color, link-color);
  }
}