.stickyCategoryHeader {
  position: absolute;
  z-index: 10;
  width:  calc(100% - 12px);
  background-color: var(--ezds-color-background-primary);
  padding-block: 10px var(--ezds-space-0050);
  display: flex;
  align-items: center;
}
