.anchorListItem {
  color: var(--sb-link-color);
  font-size: 18px;
  line-height: var(--sb-text-line-height);

  &:not(:last-child) {
    margin-bottom: var(--sb-spacing-small);
  }

  a {
    color: var(--sb-link-color);
  }
}
