@import "../../styles/typography";

.tipseenWrapper {
  min-width: 100px;
  min-height: 40px;
  --tooltip-padding: 0;
  --tooltip-border-radius: var(--border-radius-medium);
  --tooltip-max-width: initial;

  &.tipseenWrapperWithoutCustomWidth {
    --tooltip-max-width: 320px;
  }

  &.floating {
    position: fixed;
    bottom: 0;
    inset-inline-end: 0;
    margin-bottom: var(--space-16);
    margin-inline-end: var(--space-16);
  }

  .tipseen {
    &Header {
      display: flex;
      justify-content: flex-start;
    }

    &Title {
      padding: var(--space-16) var(--space-32) 0 var(--space-16);
    }

    &Content {
      margin: 0;
      @include smoothing-text;
    }

    &CloseButton {
      position: absolute;
      top: var(--space-8);
      inset-inline-end: var(--space-8);
      z-index: 2;

      &.dark {
        color: var(--color-asphalt);
      }
    }
  }
}
