@import "../../styles/typography";

.tipseenWrapper {
  min-width: 100px;
  min-height: 40px;
  --tooltip-padding: 0;
  --tooltip-border-radius: var(--ezds-radius-0200);
  --tooltip-max-width: initial;

  &.tipseenWrapperWithoutCustomWidth {
    --tooltip-max-width: 320px;
  }

  &.floating {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: var(--ezds-space-0200);
    margin-right: var(--ezds-space-0200);
  }

  .tipseen {
    &Header {
      display: flex;
      justify-content: flex-start;
    }

    &Title {
      padding: var(--ezds-space-0200) var(--ezds-space-0500) 0 var(--ezds-space-0200);
    }

    &Content {
      margin: 0;
      @include smoothing-text;
    }

    &CloseButton {
      position: absolute;
      top: var(--ezds-space-0100);
      right: var(--ezds-space-0100);
      z-index: 2;

      &.dark {
        color: var(--ezds-color-background-neutral-dark);
      }
    }
  }
}
