// BLACK THEME LEGACY KEYS MAP: This partial defines the black theme's legacy keys color map.
// - Map include legacy keys scope tokens.
// - Its main Purpose is to separate legacy tokens to registration tokens and key tokens.
// - This map is for Key Tokens.
//   - Legacy Key tokens are aliases of registration tokens or content color tokens with a semantic meaning.
// - Map is collected into the $theme-dark-settings map and is interpolated into custom properties.

$theme-black-legacy-keys: (
        primary-on-secondary-color: $theme-black-primary-on-secondary-color,
        primary-hover-on-secondary-color:$theme-black-primary-hover-on-secondary-color,
        primary-selected-color-rgb: $theme-black-primary-selected-color-rgb,
        primary-selected-on-secondary-color: $theme-black-primary-selected-on-secondary-color,
        primary-text-on-secondary-color: $theme-black-primary-text-on-secondary-color,
        primary-background-color-rgb: $theme-black-primary-background-color-rgb,
        primary-background-hover-on-secondary-color: $theme-black-primary-background-hover-on-secondary-color,
        secondary-background-color-rgb: $theme-black-secondary-background-color-rgb,
        secondary-text-on-secondary-color:$theme-black-secondary-text-on-secondary-color,
        link-on-secondary-color: $theme-black-link-on-secondary-color,
        modal-background-color: $theme-black-modal-background-color,
        dark-background-color: $theme-black-dark-background-color,
        dark-background-on-secondary-color: $theme-black-dark-background-on-secondary-color,
        dialog-background-color: $theme-black-dialog-background-color,
        label-background-color: $theme-black-label-background-color,
        label-background-on-secondary-color: $theme-black-label-background-on-secondary-color,
        icon-on-secondary-color: $theme-black-icon-on-secondary-color,
        placeholder-color-with-opacity: $theme-black-placeholder-color-with-opacity,
        placeholder-on-secondary-color: $theme-black-placeholder-on-secondary-color,
        ui-border-on-secondary-color: $theme-black-ui-border-on-secondary-color,
        layout-border-on-secondary-color: $theme-black-layout-border-on-secondary-color,
        disabled-background-on-secondary-color: $theme-black-disabled-background-on-secondary-color,
        disabled-text-on-secondary-color: $theme-black-disabled-text-on-secondary-color,
        box-shadow-mediun: $box-shadow-mediun,
);
