.monday-style-story-empty-tipseen_container {
  width: 10px;
  height: 70px;
}

.monday-style-story-tipseen_container {
  width: 10px;
  height: 300px;
}
.monday-style-story-tipseen_containera{
  width: 300px;
  height: 1px

}

.monday-style-story-tipseen_image {
  width: 320px;
  height: 175px;
}

.monday-style-story-sandbox-tipseen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  &_container {
    background: green;
    height: 100px;
    width: 100px;
  }
}

.a {
  margin: 100px;
}
.b {
  
  width: 280px;
  height: 20px;
  padding-left: 10px;
}

.c {
  width: 280px;
}

.d {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
}

.q {
  background-color: #CCE5FF;
}

// .monday-style-tooltip-arrow {
//   display: none;
// }

.t {
  width: 100px;
  height: 180px;
}