@import "../../../styles/themes.scss";
@import "../../../styles/typography.scss";

.monday-style-story-empty-tipseen_container {
  width: 10px;
  height: 120px;
}

.monday-style-story-tipseen {
  &_big-container {
    width: 10px;
    height: 300px;
  }

  &_image {
    width: 320px;
    height: 175px;
  }

  &_inline-container {
    width: 300px;
    height: 20px; 
  }

  &_inline-spacing  {
    width: 280px;
    height: 20px;
    padding-left: 10px;
  }

  &_column-item {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
  }

  &_column-spacing {
    width: 100px;
    height: 155px;
  }

  &_hovered {
    @include theme-prop(background-color, primary-selected-color);
  }
}

.related-component-tipseen {
  width: 300px;

  .monday-style-tooltip-arrow {
    display: none;
    border: 1px solid red;
  }

  .monday-style-arrow {
    display: none;
    border: 1px solid red;
  }
  
  .monday-style-arrow-primary {
    display: none;
    border: 1px solid red;
  }
}
