@import "../../../styles/themes";
@import "../../../styles/global-css-settings";
@import "../../../styles/typography";

$component-rules-grid-gap: $spacing-xxl;
$tipseen-rules-cell-min-width: 476px;
$component-rules-grid-cell-array-calc: calc(50% - #{$tipseen-rules-cell-min-width});

.monday-storybook-tipseen {
  &_rules {
    @include grid-auto-fit(
      $grid-gap: $component-rules-grid-gap,
      $grid-cell-min-width: $tipseen-rules-cell-min-width,
      $grid-cell-array-calc: $component-rules-grid-cell-array-calc,
      $important: true);
  }
  &_container {
    width: 20px;
    height: 180px;
  }

  &_big-container {
    width: 20px;
    height: 400px;
  }

  &_image {
    width: 320px;
    height: 175px;
  }

  &_inline-container {
    width: 300px;
    height: 20px; 
  }

  &_inline-spacing  {
    width: 280px;
    height: 20px;
    padding-left: 10px;
  }

  &_column-item {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
  }

  &_column-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &_box {
    padding-right: 280px;
    padding-top: 50px;
    height: 100%;
  }

  &_hovered {
    @include theme-prop(background-color, primary-selected-color);
  }
}
