.monday-style-story-empty-tipseen_container {
  width: 10px;
  height: 70px;
}

.monday-style-story-tipseen_container {
  width: 10px;
  height: 150px;
}

.monday-style-story-tipseen_image {
  width: 200px;
  height: 200px;
}

.monday-style-story-sandbox-tipseen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  &_container {
    background: green;
    height: 100px;
    width: 100px;
  }
}
