// BASIC THEME LEGACY COLOR MAP: This partial defines the basic theme's legacy color map.
// - Map include legacy color scope tokens.
// - Its main Purpose is to cleanup non "VIBE" tokens from the Registration map ($theme-basic-colors).
// - Map is collected into the $theme-basic-settings map and is interpolated into custom properties.
// - Keys sort order is according to legacy tokens sort order.

$theme-basic-legacy-palette: (
        color-dark_marble: $color-dark_marble,
        color-marble: $color-marble,
        color-gainsboro: $color-gainsboro,
        color-extra_light_gray: $color-extra_light_gray,
        color-glitter: $color-glitter,
        color-ultra_light_gray: $color-ultra_light_gray,
        color-very_light_gray:$color-very_light_gray,
        color-jaco_gray: $color-jaco_gray,
        color-storm_gray:$color-storm_gray,
        color-trolley-grey: $color-trolley-grey,
        color-basic_light_blue: $color-basic_light_blue,
        color-light_blue: $color-light_blue,
        color-turquoise: $color-turquoise,
        color-aqua: $color-aqua,
        color-live_blue: $color-live_blue,
        color-jeans: $color-jeans,
        color-burned_eggplant: $color-burned_eggplant,
        color-light-pink: $color-light-pink,
        color-dark-pink: $color-dark-pink,
        color-dark_red: $color-dark_red,
        color-yellow: $color-yellow,
        color-mustered: $color-mustered,
        color-orange: $color-orange,
        color-lime-green: $color-lime-green,
        color-jade: $color-jade,
        color-green-haze: $color-green-haze,
        color-grass-green: $color-grass-green,
        color-amethyst: $color-amethyst,
        color-dark-purple: $color-dark-purple,
        color-blue_links: $color-blue_links,
        color-blue-links: $color-blue-links-alias,
        color-private: $color-private,
        color-public: $color-public,
        color-board_views_grey: $color-board_views_grey,
        color-board_views_grey_hover: $color-board_views_grey_hover,
        color-board_views_blue: $color-board_views_blue,
        color-board_views_blue_secondary: $color-board_views_blue_secondary,
        color-border_light_gray: $color-border_light_gray,
        color-brand-blue: $color-brand-blue,
        color-brand-charcoal: $color-brand-charcoal,
        color-brand-gold: $color-brand-gold,
        color-brand-green: $color-brand-green,
        color-brand-iris: $color-brand-iris,
        color-brand-light-blue: $color-brand-light-blue,
        color-brand-malachite: $color-brand-malachite,
        color-brand-purple: $color-brand-purple,
        color-brand-red: $color-brand-red,
        color-deadline_upcoming_indication: $color-deadline_upcoming_indication,
        color-default_group_color:$color-default_group_color,
        color-form_btn_hover: $color-form_btn_hover,
        color-form_purple: $color-form_purple,
        color-highlight: $color-highlight,
        color-green_shadow: $color-green_shadow,
        color-green-shadow: $color-green-shadow-alias,
        color-red_shadow: $color-red_shadow,
        color-red-shadow: $color-red-shadow-alias,
        color-pulse_bg: $color-pulse_bg,
        color-pulse_text_color: $color-pulse_text_color,
        color-placholder_gray: $color-placholder_gray,
        color-placeholder_light_gray: $color-placeholder_light_gray,
        color-excel-green: $color-excel-green,
        color-media-blue: $color-media-blue,
        color-pdf-red: $color-pdf-red,
        color-ppt-orange: $color-ppt-orange,
        color-word-blue: $color-word-blue,
        color-zip-orange: $color-zip-orange,
        color-like_red: $color-like_red,
        color-scrollbar_gray: $color-scrollbar_gray,
        color-timeline_grid_blue: $color-timeline_grid_blue,
        color-timeline_blue: $color-timeline_blue,
        color-highlight_blue-rgb: $color-highlight_blue-rgb,
        color-snow_white-with-opacity: $color-snow_white-with-opacity,
        color-wolf_gray-with-opacity: $color-wolf_gray-with-opacity,
        color-asphalt-with-opacity: $color-asphalt-with-opacity,
);
