//  HACKER THEME TOKENS: BASE COLORS
// - This partial defines Dark Theme's base color tokens
// -- Please notice Dark theme is also using basic theme colors as dependency.
// --- Only New theme related colors are defined here.

// Colors
// - Brand
$color-pink-plastic: #fe78c6;
$color-viola-vivid: #9f4077;
$color-liliac: #bd93f9;
$color-deep_blue: #0d2e65;

// - Semantics
$color-red-fluorescent: #ff5555;
$color-amber_red: #5a2027;

$color-green-grotesque: #50fa7b;
$color-green-blackboard: #26503e;
$color-darker_green: #194733;

// Natural / Gray
$color-night-sky: #282a36;
$color-blue-manhattan: #414458;
$color-parisian-night: #303241;
$color-shadow-mountain: #595959;
