@import "../../../styles/typography";

.title {
  @include smoothing-text;
  padding-block: 1px;
}

.titleCaption {
  color: var(--ezds-color-icon-subtle);
  margin: var(--ezds-space-0100) 0;
}

.titleCaptionCenter {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

.titleCaptionBottom,
.titleCaptionTop {
  padding-left: var(--ezds-space-0100);
}

.titleCaptionBottom {
  padding-bottom: var(--ezds-space-0100);
}

.titleCaptionCenter::before,
.titleCaptionCenter::after {
  content: "";
  flex-grow: 1;
  background-color: var(--ezds-color-border-strong);
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin: 0 var(--ezds-space-0100);
}
