@import "../../../styles/themes";

.monday-storybook-breadcrumbs-bar {
  &_inline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    width: 320px;
  }

  &_line {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
  }

  &_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &_column-wrapper {
    display: flex;
    flex-direction: column;
    ol {
      padding-inline-start: 0;
      padding: 0;
      margin: 0;
    }
  }
}
