.monday-storybook-breadcrumb-menu_column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.monday-storybook-breadcrumb-menu_row-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;

  span {
    width: 100px;
  }
} 