@import "../../styles/mixins/typography";

.vibe-sb-comps-information-box-title{
  &_content {
    @include sb-content-text-without-color;
    font-weight: bold;
    margin-bottom: var(--sb-spacing-xs);
    margin-top: var(--sb-spacing-xs);
    display: inline;
    &--link {
      cursor: pointer;
    }
  }
  &_link {
    color: var(--sb-link-color);
    text-decoration: none;
  }
}
