@import "../../styles/typography";
@import "../../styles/states";
@import "../../styles/keyframes";
@import "~@ezds/web/dist/mixins/states";

.chips {
  display: inline-flex;
  overflow: hidden;
  height: 24px;
  border-radius: 4px;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  margin: var(--chips-margin, #{0 var(--ezds-space-0050)});
  user-select: none;
  @include smoothing-text;
  color: var(--ezds-color-text-default);
  animation: chips-pop-in-emphasized var(--ezds-motion-productive-medium) var(--ezds-motion-timing-emphasize);
  &.border {
    border: 1px solid var(--ezds-color-background-primary);
  }
  &.withUserSelect {
    user-select: text;
    cursor: text;
  }
  &.noMargin {
    margin: 0;
  }

  .label {
    @include ellipsis();
  }

  &.noAnimation {
    animation: none;
  }

  .icon,
  .avatar,
  .customRenderer {
    min-width: 18px;
    &.left {
      margin-right: var(--ezds-space-0050);
    }
    &.right {
      margin-left: var(--ezds-space-0050);
    }
    &.close {
      margin-left: var(--ezds-space-0050);
      color: var(--ezds-color-text-default);
    }
  }

  &.disabled {
    .icon {
      color: var(--ezds-color-text-default-disabled);
    }
    .label {
      color: var(--ezds-color-text-default-disabled);
    }
  }

  &.defaultCursor {
    cursor: default;
  }

  &.clickable {
    @include clickable;
    &.disabled {
      @include clickable-disabled;
    }
    &.disableTextSelection {
      @include clickable-disable-text-selection;
    }
  }
}

@include keyframe(chips-pop-in-emphasized) {
  @include pop-in-emphasized();
}
