.searchBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-medium);
}

.item {
  width: max-content;
}

.lable {
  padding-left: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.inlineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  padding: 0 var(--spacing-small);

  span {
    color: var(--sb-secondary-text-color);
  }
}
