.bar {
  left: 0;
  height: 100%;
  position: absolute;
  border-radius: var(--ezds-radius-0100);
}

.typePrimaryPrimary {
  background-color: var(--ezds-color-background-accent-default);
}

.typePrimarySecondary {
  background-color: var(--ezds-color-background-primary-inverted);
}

.typePrimaryPositive {
  background-color: var(--ezds-color-background-success-default);
}

.typePrimaryNegative {
  background-color: var(--ezds-color-background-danger-default);
}

.typePrimaryWarning {
  background-color: var(--ezds-color-background-warning-default);
}

.typeSecondaryPrimary {
  background-color: var(--ezds-color-background-accent-subtle);
}

.typeSecondarySecondary {
  background-color: var(--ezds-color-border-strong);
}

.typeSecondaryPositive {
  background-color: var(--ezds-color-background-success-subtle);
}

.typeSecondaryNegative {
  background-color: var(--ezds-color-background-danger-subtle);
}

.typeSecondaryWarning {
  background-color: var(--ezds-color-background-warning-subtle);
}

.animate {
  transition: width 300ms var(--ezds-motion-timing-transition);
}
