.monday-storybook-welcome-contributors {
  margin-top: 168px;

  &_contributor {
    &--bg-pattern-1 {
      background-image: url("../assets/BackgroundPattern1.png");
    }

    &--bg-pattern-2 {
      background-image: url("../assets/BackgroundPattern2.png");
    }

    &--bg-pattern-3 {
      background-image: url("../assets/BackgroundPattern3.png");
    }

    &--bg-pattern-4 {
      background-image: url("../assets/BackgroundPattern4.png");
    }

    &--bg-pattern-5 {
      background-image: url("../assets/BackgroundPattern5.png");
    }
  }
}
