.comboboxItemContainer {
  display: flex;
  flex: auto;
  width: 100%;
  background-color: var(--primary-background-color);
}

.dividerContainer {
  position: relative;
  width: 95%;
}

.divider {
  position: absolute;
  width: calc(100% + 16px);
  margin-left: -12px;
}

.sticky {
  position: sticky;
  top: 0;
}