.comboboxItemContainer {
  display: flex;
  flex: auto;
  width: 100%;
}

.dividerContainer {
  position: relative;
  width: 100%;
}

.divider {
  position: absolute;
  width: calc(100% + 16px);
  margin-left: -12px;
}