@import "../../../../styles/global-css-settings.scss";
@import "../../../../styles/typography.scss";
@import "../../../../styles/themes.scss";

.color-picker-content--wrapper {
  .clear-color-icon {
    margin-right: $spacing-small;
  }
  .clear-color-button {
    margin-top: $spacing-small;
  }
  .color-picker {
    padding: 0;
    outline: none;
    display: flex;
    flex-wrap: wrap;
  }  
}
