.color-picker-content--wrapper {
  .clear-color-icon {
    margin-right: $spacing-small;
  }
  .clear-color-button {
    margin-top: $spacing-small;
  }
  .color-picker {
    display: flex;
    flex-wrap: wrap;
  }  
}
