@mixin define-dark-theme-content-colors() {
  // green grass
  --color-grass_green-hover: #116846;
  --color-grass_green-selected: #0f4f43;

  // done green
  --color-done-green-hover: #0f9b63;
  --color-done-green-selected: #0e7358;
  --color-done-green-selected-with-opacity: rgba(14, 115, 88, 0.6);

  // Bright Green
  --color-bright-green-hover: #7ca32b;
  --color-bright-green-selected: #5c7930;

  // Saladish
  --color-saladish-hover: #9d8f3e;
  --color-saladish-selected: #736a3e;

  // Egg Yolk
  --color-egg_yolk-hover: #c29e11;
  --color-egg_yolk-selected: #8d751e;
  --color-egg_yolk-rgb: 255, 213, 51;

  // Working on it
  --color-working_orange-hover: #c0873c;
  --color-working_orange-selected: #8c653c;

  // Dark orange
  --color-dark-orange-hover: #c25531;
  --color-dark-orange-selected: #8d4134;

  // Peach Color
  --color-peach-hover: #c2888a;
  --color-peach-selected: #8d6674;

  // Sunset Color
  --color-sunset-hover: #c26163;
  --color-sunset-selected: #8d4a58;
  --color-sunset-selected-with-opacity: rgba(141, 74, 88, 0.6);

  // Stuck red
  --color-stuck-red-hover: #ad3f51;
  --color-stuck-red-selected: #7f314b;

  // Dark red
  --color-dark-red-hover: #92334c;
  --color-dark-red-selected: #6b2947;

  // Sofia
  --color-sofia_pink-hover: #c21e71;
  --color-sofia_pink-selected: #8d1a62;

  // Lipstick color
  --color-lipstick-hover: #c24e9a;
  --color-lipstick-selected: #8d3c7f;

  // Bubble
  --color-bubble-hover: #be80ba;
  --color-bubble-selected: #8b6096;

  // Purple
  --color-purple-hover: #8050ab;
  --color-purple-selected: #5f3e8b;

  // Dark purple
  --color-dark_purple-hover: #6344a3;
  --color-dark_purple-selected: #4a3586;

  // Berry
  --color-berry-hover: #673971;
  --color-berry-selected: #4d2d62;

  // Dark indigo
  --color-dark_indigo: #6129ff;
  --color-dark_indigo-hover: #4c18dc;
  --color-dark_indigo-selected: #3c13ae;

  // Indigo
  --color-indigo-hover: #4b4ead;
  --color-indigo-selected: #383c8d;

  // Navy
  --color-navy: #5684c5;
  --color-navy-hover: #3468b2;
  --color-navy-selected: #24508f;

  // Light Blue
  --color-bright-blue-hover: #4c7cc1;
  --color-bright-blue-selected: #395d9b;

  // Dark blue
  --color-dark-blue-hover: #0f6d97;
  --color-dark-blue-selected: #0e527e;

  // Aquamarine
  --color-aquamarine-hover: #469e9b;
  --color-aquamarine-selected: #357580;

  // Chili Blue
  --color-chili-blue-hover: #569ec3;
  --color-chili-blue-selected: #41759d;

  // River
  --color-river-hover: #588095;
  --color-river-selected: #42607c;

  // winter
  --color-winter-hover: #7b8895;
  --color-winter-selected: #5b667c;

  // Explosive
  --color-explosive-hover: #98999a;
  --color-explosive-selected: #70717f;

  // American Grey
  --color-american_gray-hover: #69696a;
  --color-american_gray-selected: #4e505e;

  // Blackish
  --color-blackish: #7a7a7a;
  --color-blackish-hover: #525252;
  --color-blackish-selected: #383838;

  // Brown
  --color-brown-hover: #684943;
  --color-brown-selected: #4d3941;

  // Orchid
  --color-orchid-hover: #b4739a;
  --color-orchid-selected: #85597b;

  // Tan
  --color-tan-hover: #978977;
  --color-tan-selected: #716863;

  // Sky
  --color-sky-hover: #90bac6;
  --color-sky-selected: #6c8a9a;

  // Coffee
  --color-coffee-hover: #a27b6f;
  --color-coffee-selected: #795e5d;

  // Royal
  --color-royal-hover: #4474bb;
  --color-royal-selected: #375993;

  // Teal
  --color-teal: #4a8f98;
  --color-teal-hover: #347179;
  --color-teal-selected: #245960;

  // Lavender
  --color-lavender-hover: #a294c8;
  --color-lavender-selected: #79709c;

  // Steel
  --color-steel-hover: #95a2be;
  --color-steel-selected: #707a95;

  // Lilac
  --color-lilac-hover: #8e8a9f;
  --color-lilac-selected: #6b697f;

  // Pecan
  --color-pecan: #806363;
  --color-pecan-hover: #674c4c;
  --color-pecan-selected: #513939;
}
