@import "../../../../styles/themes";
@import "../../../../styles/typography";

.placeholder-container {
  margin-left: 6px;
}

.multiselect-chip-multi-line {
  margin: 2px;
}

.multiselect-chip-single-line {
  margin: 5px 2px;
}

.value-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.value-container-chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;

  &.without-placeholder {
    margin-left: 6px;
  }
}

.value-container-dialog-content {
  max-width: 300px;
}
