@import "~monday-ui-style/dist/mixins";
@import "../../../styles/states";

.menuButton {
  font-family: var(--font-family);
  line-height: var(--font-line-height-small);
  font-size: var(--font-size-10);
  font-weight: 500;
} 