@import "../../../styles/global-css-settings.scss";
@import "../../styles/content-spacing";

.monday-storybook-related-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $spacing-large;
}