@import "../../../styles/themes";

@mixin color-rectangle-example {
  width: 150px;
  padding: var(--spacing-small);
}
.primaryBackground {
  @include color-rectangle-example;
  background-color: var(--primary-color);
}

.invertedBackground {
  @include color-rectangle-example;
  background-color: var(--inverted-color-background);
}
