.bannerButton {
  // TODO Mismatched property value - fix other
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

:global(.dark-app-theme) .darkBackground .bannerButton {
  background-color: var(--ezds-color-background-dark);
}

.marginLeft {
  margin-left: var(--ezds-space-0100);
}
