@import "../../../styles/typography";
@import "../../../styles/states";
@import "../../../styles/global-css-settings";

.item {
  @include smoothing-text;
  margin: unset;
  display: flex;
  flex-direction: row;
  padding: var(--spacing-xs) var(--spacing-small);
  cursor: pointer;
  user-select: none;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
}

.iconWrapper {
  margin-right: var(--spacing-small);
}

.subMenuIconWrapper {
  margin-left: var(--spacing-xs);
}

.subMenuIconWrapper,
.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subMenuIconWrapper .subMenuIcon,
.subMenuIconWrapper .icon,
.iconWrapper .subMenuIcon,
.iconWrapper .icon {
  color: var(--icon-color);
}

.item.disabled {
  cursor: not-allowed;
  color: var(--disabled-text-color);
}

.item.disabled .subMenuIcon,
.item.disabled .icon {
  cursor: not-allowed;
  color: var(--disabled-text-color);
}

.item:not(.disabled).focused {
  background-color: var(--primary-background-hover-color);
}

.item:not(.disabled).focused:not(:hover):not(.initialSelected) {
  @include focus-style-css();
}

.item:not(.disabled).focused {
  border-radius: var(--border-radius-small);
}

.item:not(.disabled).selected {
  background-color: var(--primary-selected-color);
  border-radius: var(--border-radius-small);
}

.item:not(.disabled).selected .iconWrapper .icon {
  color: var(--primary-color);
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-block: 1px;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
  @include font-caption();
}
