@import "../../../styles/typography";
@import "../../../../styles/themes";

.monday-storybook-ability-description {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  @include theme-prop(border-color, layout-border-color);
  padding: $spacing-large;
  width: 100%;
  &_image {
    height: 48px;
    width: 48px;
  }

  &_title {
    font-weight: 400;
    font-size: 18px;
    line-height: $text-line-height;
  }

  &_content {
    @include small-text;
    margin-bottom: $spacing-large;
  }
}