//  HACKER THEME  TOKENS: SEMANTIC KEYS COLORS
// - This partial defines Basic Theme's Semantic Keys color tokens

// - Theme keys should hold registration values (colors, content colors, other keys)
//   - In some case there are unique hex values assignments
//   - They should be transformed into Registration colors.
//     - We add some annotation to their scope when found.
// - When several key has the same value and have a connection
// - We either use $theme-hacker token or var(--token) depending on connection logic and value type.

@use "sass:color";

// Fixed colors
$theme-hacker-fixed-light-color: $color-snow_white;
$theme-hacker-fixed-dark-color: $color-mud_black;

// Text colors
$theme-hacker-primary-color: $color-pink-plastic;
$theme-hacker-primary-hover-color: #{color.adjust($color-pink-plastic, $lightness: -6%)};
$theme-hacker-primary-selected-color: $color-viola-vivid;
$theme-hacker-primary-selected-hover-color: $color-deep_blue;
$theme-hacker-primary-highlighted-color: $color-downriver;
$theme-hacker-primary-surface-color: $color-vanta;
$theme-hacker-primary-text-color: $color-snow;

$theme-hacker-text-color-on-inverted: $color-mud_black; // todo: fix, value from basic theme

$theme-hacker-secondary-text-color: $color-jaco_gray; // todo: fix, value from basic legacy palette
$theme-hacker-placeholder-color: $color-wolf_gray; // todo: fix, value from basic theme
$theme-hacker-icon-color: $color-wolf_gray; // todo: fix, value from basic theme

$theme-hacker-link-color: $color-liliac;

// Background colors
$theme-hacker-primary-background-color: $color-night-sky;
$theme-hacker-primary-background-hover-color: $color-silver;
$theme-hacker-secondary-background-color: $color-graphite;
$theme-hacker-grey-background-color: $color-night-sky;
$theme-hacker-allgrey-background-color: $color-night-sky; //todo: fix, grey and allgrey should not be the same
// - contrast hook
$theme-hacker-inverted-color-background: $color-snow_white; // todo: fix, value from basic theme

// System Semantics (state, status)
$theme-hacker-disabled-text-color: $theme-black-disabled-text-color;
$theme-hacker-disabled-background-color: $color-dust-muted;

$theme-hacker-positive-color: $color-green-grotesque;
$theme-hacker-positive-color-hover: $positive-color-hover;
$theme-hacker-positive-color-selected: $color-green-blackboard;
$theme-hacker-positive-color-selected-hover: $color-darker_green;
$theme-hacker-negative-color: $color-red-fluorescent;
$theme-hacker-negative-color-hover: $negative-color-hover;
$theme-hacker-negative-color-selected: $color-maroon_red;
$theme-hacker-negative-color-selected-hover: $color-amber_red;
$theme-hacker-warning-color: $color-egg_yolk; // warning-colors
$theme-hacker-warning-color-hover: $color-desert;
$theme-hacker-warning-color-selected: $color-brass;
$theme-hacker-warning-color-selected-hover: $color-aztec_gold;

// UI elements
// - Borders
$theme-hacker-ui-border-color: $color-fog;
$theme-hacker-layout-border-color: $color-blue-manhattan;

// - Backgrounds
$theme-hacker-ui-background-color: $color-silver;

// HACKER THEME TOKENS: SHADOWS

$theme-hacker-shadow-color: $color-black;

$theme-hacker-box-shadow-xs: $shadow-size-xs $theme-hacker-shadow-color;
$theme-hacker-box-shadow-small: $shadow-size-small $theme-hacker-shadow-color;
$theme-hacker-box-shadow-medium: $shadow-size-medium $theme-hacker-shadow-color;
$theme-hacker-box-shadow-large: $shadow-size-large $theme-hacker-shadow-color;
