@import "~@ezds/web/dist/mixins";
@import "../../../../../styles/typography";
@import "../../../../../styles/states";

.item {
  @include smoothing-text;
  margin: unset;
  display: flex;
  flex-direction: row;
  padding: var(--ezds-space-0050) var(--ezds-space-0100);
  cursor: pointer;
  user-select: none;
  align-items: center;
  border: 1px solid transparent;
  outline: none;

  &.splitMenuItem {
    padding: 0 0 0 var(--ezds-space-0100);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--ezds-color-text-default-disabled);
  }

  &.focused {
    &:not(.disabled) {
      background-color: var(--ezds-color-background-transparent-inverted);
      border-radius: var(--ezds-radius-0100);

      &:not(:hover):not(.initialSelected) {
        @include focus-style-css();
      }
    }
  }

  &.selected:not(.disabled) {
    background-color: var(--ezds-color-background-accent-subtle);
    border-radius: var(--ezds-radius-0100);
  }
}
