@import "~@vibe/style/dist/mixins";
@import "../../../../../styles/typography";
@import "../../../../../styles/states";

.item {
  @include smoothing-text;
  margin: unset;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-4) var(--space-8);
  cursor: pointer;
  user-select: none;
  align-items: center;
  overflow: visible;
  border: 1px solid transparent;
<<<<<<< HEAD
  border-radius: 8px;
||||||| parent of faccf634f (style: use border-radius-small on ListItem and BaseMenuItem)
  border-radius: var(--border-radius-medium);
=======
  border-radius: var(--border-radius-small);
>>>>>>> faccf634f (style: use border-radius-small on ListItem and BaseMenuItem)
  outline: none;

  &.splitMenuItem {
    padding: 0 0 0 var(--space-8);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--disabled-text-color);
  }

  &.focused {
    &:not(.disabled) {
      background-color: var(--primary-background-hover-color);

      &:not(:hover):not(.initialSelected) {
        @include focus-style-css();
      }
    }
  }

  &:hover:not(.disabled) {
    background-color: var(--primary-background-hover-color);
  }

  &.selected:not(.disabled) {
    background-color: var(--primary-background-hover-color);
  }
}
