.dialogContentContainer:focus {
  outline: none;
}

.sizeSmall {
  padding: var(--ezds-space-0100);
}

.sizeMedium {
  padding: var(--ezds-space-0200);
}

.sizeLarge {
  padding: var(--ezds-space-0400);
}

.typePopover {
  box-shadow: var(--ezds-shadow-medium);
  border-radius: var(--ezds-radius-0200);
  background-color: var(--ezds-color-background-primary);

  :global(.dark-app-theme) &,
  :global(.black-app-theme) &,
  :global(.hacker-app-theme) & {
    box-shadow: 0 0 0 1px var(--ezds-color-border-default), var(--ezds-shadow-medium);
  }
}

.typeModal {
  box-shadow: var(--ezds-shadow-large);
  border-radius: var(--ezds-radius-0400);
  background-color: var(--ezds-color-background-primary);
}
