.dialogContentContainer:focus {
  outline: none;
}

.sizeSmall {
  padding: var(--spacing-small);
}

.sizeMedium {
  padding: var(--spacing-medium);
}

.sizeLarge {
  padding: var(--spacing-large);
}

.typePopover {
  box-shadow: var(--box-shadow-medium);
  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-background-color);

  :global(.dark-app-theme) &,
  :global(.black-app-theme) &,
  :global(.hacker-app-theme) & {
    box-shadow: 0 0 0 1px var(--layout-border-color), var(--box-shadow-medium);
  }
}

.typeModal {
  box-shadow: var(--box-shadow-large);
  border-radius: var(--border-radius-big);
  background-color: var(--primary-background-color);
}
