@import "../../styles/themes";

$circularPosition: 15%;

.badgeWrapper {
  position: relative;

  .badge {
    z-index: 1;
    position: absolute;

    &.topEnd {
      top: 0;
      right: 0;
      translate: 50% -50%;

      &.circular {
        top: $circularPosition;
        right: $circularPosition;
      }

      &.outbound {
        translate: 100% -50%;
      }
    }

    &.topStart {
      top: 0;
      left: 0;
      translate: -50% -50%;

      &.circular {
        top: $circularPosition;
        left: $circularPosition;
      }

      &.outbound {
        translate: -100% -50%;
      }
    }

    &.bottomEnd {
      bottom: 0;
      right: 0;
      translate: 50% 50%;

      &.circular {
        bottom: $circularPosition;
        right: $circularPosition;
      }

      &.outbound {
        translate: 100% -50%;
      }
    }

    &.bottomStart {
      bottom: 0;
      left: 0;
      translate: -50% 50%;

      &.circular {
        bottom: $circularPosition;
        left: $circularPosition;
      }

      &.outbound {
        translate: -100% -50%;
      }
    }

    &.border {
      border: 1px solid transparent;
      border-radius: 16px;
      @include theme-prop(border-color, primary-background-color);
    }
  }
}
