@import "../../styles/themes";

$embeddedPosition: 15%;

.badgeWrapper {
  position: relative;

  .badge {
    z-index: 1;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 16px;
    @include theme-prop(border-color, primary-background-color);

    &.topEnd {
      &.corner {
        top: 0;
        right: 0;
        translate: 50% -50%;
      }

      &.outside {
        top: 0;
        right: 0;
        translate: 100% -50%;
      }

      &.embedded {
        top: $embeddedPosition;
        right: $embeddedPosition;
        translate: 50% -50%;
      }
    }

    &.topStart {
      &.corner {
        top: 0;
        left: 0;
        translate: -50% -50%;
      }

      &.outside {
        top: 0;
        left: 0;
        translate: -100% -50%;
      }

      &.embedded {
        top: $embeddedPosition;
        left: $embeddedPosition;
        translate: -50% -50%;
      }
    }

    &.bottomEnd {
      &.corner {
        bottom: 0;
        right: 0;
        translate: 50% 50%;
      }

      &.outside {
        bottom: 0;
        right: 0;
        translate: 100% -50%;
      }

      &.embedded {
        bottom: $embeddedPosition;
        right: $embeddedPosition;
        translate: 50% 50%;
      }
    }

    &.bottomStart {
      &.corner {
        bottom: 0;
        left: 0;
        translate: -50% 50%;
      }

      &.outside {
        bottom: 0;
        left: 0;
        translate: -100% -50%;
      }

      &.embedded {
        bottom: $embeddedPosition;
        left: $embeddedPosition;
        translate: -50% 50%;
      }
    }
  }
}
