// Values from last prod before change
$debug-dark-theme-keys-map: (
        primary-color: var(--color-basic_blue),
        primary-on-secondary-color: var(--color-basic_blue),
        primary-hover-color: #0060b9,
        primary-selected-color: #133774,
        primary-text-color: #d5d8df,
        text-color-on-inverted: var(--color-mud_black),
        secondary-text-color: var(--color-jaco_gray),
        icon-color: var(--color-wolf_gray),
        link-color: #69a7ef,
        primary-background-color: #181b34,
        primary-background-hover-color: #4b4e69,
        secondary-background-color: #30324e,
        grey-background-color: #181b34,
        allgrey-background-color: #30324e,
        inverted-color-background: #ffffff,
        disabled-text-color: #5d6072,
        disabled-background-color: #3c3f59,
        positive-color: var(--color-success),
        positive-color-hover: var(--color-success-hover),
        positive-color-selected: #26503e,
        negative-color: var(--color-error),
        negative-color-hover: var(--color-error-hover),
        negative-color-selected: #642830,
        private-color: var(--color-private),
        shareable-color: #a358df,
        ui-border-color: #797e93,
        layout-border-color: #4b4e69,
);

// Value from current code
$debug-output-dark-theme-keys: $theme-dark-keys;

// Custom properties values the equal hard coded values
$debug-dark-theme-keys-custom-props-reference: (
);

$debug-dark-theme-keys-custom-props-converted: (
        primary-color: $theme-dark-primary-color,
        primary-on-secondary-color: $theme-dark-primary-on-secondary-color,
        text-color-on-inverted: $theme-dark-text-color-on-inverted,
        secondary-text-color: $theme-dark-secondary-text-color,
        icon-color: $theme-dark-icon-color,
        positive-color:$theme-dark-positive-color,
        positive-color-hover: $theme-dark-positive-color-hover,
        negative-color:$theme-dark-negative-color,
        negative-color-hover: $theme-dark-negative-color-hover,
        private-color: $theme-dark-private-color,
);

// White list
$debug-dark-theme-keys-white-list: (
        shareable-color: $shareable-color,
);
