
// Values from last prod before change
$debug-dark-theme-legacy-keys-map: (
        primary-on-secondary-color: var(--color-basic_blue),
        primary-hover-on-secondary-color: #0060b9,
        primary-selected-color-rgb: (19, 55, 116),
        primary-selected-on-secondary-color: #133774,
        primary-text-on-secondary-color: #d5d8df,
        primary-background-color-rgb: (24, 27, 52),
        primary-background-hover-on-secondary-color: #4b4e69,
        secondary-background-color-rgb: (48, 50, 78),
        secondary-text-on-secondary-color: var(--color-jaco_gray),
        link-on-secondary-color: #69a7ef,
        modal-background-color: #181b34,
        dark-background-color: #393b53,
        dark-background-on-secondary-color: #4b4e69,
        dialog-background-color: #30324e,
        label-background-color: #404b69,
        label-background-on-secondary-color: #404b69,
        icon-on-secondary-color: var(--color-wolf_gray),
        placeholder-color-with-opacity: var(--color-wolf_gray-with-opacity),
        placeholder-on-secondary-color: var(--color-wolf_gray),
        ui-border-on-secondary-color: #797e93,
        layout-border-on-secondary-color: #4b4e69,
        disabled-background-on-secondary-color: #3c3f59,
        disabled-text-on-secondary-color: #5d6072,
        box-shadow-mediun: $box-shadow-mediun,
);

// Value from current code
$debug-output-dark-theme-legacy-keys: $theme-dark-legacy-keys;

// Custom properties values the equal hard coded values
$debug-dark-theme-legacy-custom-props-reference: (
);

$debug-dark-theme-legacy-keys-custom-props-converted:(
        primary-on-secondary-color:$theme-dark-primary-on-secondary-color,
        secondary-text-on-secondary-color: $theme-dark-secondary-text-on-secondary-color,
        icon-on-secondary-color: $theme-dark-icon-on-secondary-color,
        placeholder-color-with-opacity: $theme-dark-placeholder-color-with-opacity,
        placeholder-on-secondary-color: $theme-dark-placeholder-on-secondary-color,
);

// White list
$debug-dark-theme-legacy-white-list: (
);
