@import "../../../styles/typography";

.menu {
  margin: unset;
  padding: 8px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  width: 100%;
}

.menu:focus {
  outline: none;
}

.small {
  min-width: 200px;
}

.medium {
  min-width: 220px;
}

.large {
  min-width: 240px;
}
