.breadcrumbsBar ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.breadcrumbsBar ol .separatorIcon {
  color: var(--ezds-color-text-subtle);
  flex-shrink: 0;
}
