@import "../../../../styles/global-css-settings.scss";
@import "../../../styles/content-spacing.scss";

.monday-storybook-abilities-description {
  margin-top: $spacing-between-section-items;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $spacing-large;
}