@import '../../styles/mixins/typography';

.sectionName {
  margin-top: var(--sb-spacing-between-sections);
  margin-bottom: var(--sb-spacing-between-section-items);
  @include sb-basic-text;
  font-family: var(--sb-title-font-family);
  font-weight: 500;
  font-size: var(--sb-h2-font-size);
  line-height: 33px;
  letter-spacing: -1px;
  text-align: left;

  .anchor {
    margin-left: var(--sb-spacing-small);
    opacity: 0;
  }

  &:hover .anchor {
    opacity: 1;
  }

  &:after {
    content: '';
    display: block;
    margin-top: var(--sb-spacing-small);
    background: var(--sb-primary-text-color);
    height: 2px;
  }
}
