@import '../../styles/mixins/typography';

.sectionName {
  @include sb-basic-text;
  font-family: var(--sb-title-font-family);
  font-weight: 600;
  font-size: var(--sb-h2-font-size);
  line-height: 30px;
  letter-spacing: -0.1px;
  text-align: left;
  margin-top: 72px;
  margin-bottom: var(--sb-space-24);
}
