@import "../../../../styles/themes.scss";
@import "../../../../styles/typography.scss";
@import "../../../../styles/states.scss";

.combobox-category {
  @include theme-prop(color, placeholder-color);
  display: flex;
  align-items: center;
  margin-block: var(--spacing-small);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
