@import "../../../../styles/global-css-settings";

.drag-shadow-example {

  &-frame {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-draggable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--sb-spacing-xs);
    border: 1px solid;
    border-color: var(--layout-border-color);
    border-radius: var(--border-radius-small);
    padding: var(--sb-spacing-small);
    width: 234px;
    height: 37px;
  }

  &-icon {
    &:hover {
      & + .drag-shadow-example-draggable {
        @include box-shadow-medium;
        transform: rotate(1deg);
      }
    }
  }
}
