@mixin clickable-element {
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  color: var(--primary-text-color);
  width: 40%;
}

.monday-story-clickable {
  &_first-element {
    @include clickable-element;
    background-color: var(--primary-selected-color);
  }

  &_disabled-element {
    @include clickable-element;
    background-color: var(--disabled-background-color);

  }
}
