@import "../../styles/global-css-settings";
@import "../../styles/typography";
@import "../../styles/themes";
@import "../../styles/states";

.monday-style-button {
  --loader-padding: 8px;
  outline: none;
  border: none;
  height: auto;
  border-radius: $border-radius-small;
  cursor: pointer;
  white-space: nowrap;
  transition: var(--motion-productive-short) transform, var(--motion-productive-medium) var(--expand-animation-timing) min-width;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Prevent text selection
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // Will be updated dynamically after render by js
  --element-width: 32;
  --element-height: 32;

  &--margin-right {
    margin-right: $spacing-small;
  }
  &--margin-left {
    margin-left: $spacing-small;
  }

  &--right-flat {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--left-flat {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  min-width: var(--element-width);

  &.monday-style-button--loading {
    min-width: 0;
    &.has-style-size {
      width: var(--element-height);
      height: var(--element-height);
    }
    position: relative;
  }

  .monday-style-button__loader {
    width: calc(var(--element-height) - var(--loader-padding) * 2);
    height: calc(var(--element-height) - var(--loader-padding) * 2);
    position: absolute;
    left: var(--loader-padding);
    top: var(--loader-padding);

    .monday-style-button-loader-svg {
      width: calc(var(--element-height) - var(--loader-padding) * 2);
      height: calc(var(--element-height) - var(--loader-padding) * 2);
    }
  }

  &:active {
    &:not(.monday-style-button--prevent-click-animation) {
      transform: scale(0.95) translate3d(0, 0, 0);
    }
  }
  .monday-style-button--left-icon {
    padding-right: $spacing-small;
  }

  .monday-style-button--right-icon {
    padding-left: $spacing-small;
  }

  &--size {
    &-xxs {
      @include font-input();
      padding: $spacing-xxs $spacing-xs;
      height: 16px;
      line-height: 16px;
    }

    &-xs {
      @include font-input();
      padding: $spacing-xs $spacing-small;
      height: 24px;
      line-height: 21px;
    }

    &-small {
      @include font-input();
      padding: $spacing-xs $spacing-small;
      height: 32px;
      line-height: 24px;
      .monday-style-button__loader {
        top: 7px;
      }
    }

    &-medium {
      @include font-paragraph();
      padding: $spacing-small $spacing-medium;
      height: 40px;
    }

    &-large {
      @include font-paragraph();
      padding: $spacing-small-medium $spacing-large;
      height: 48px;
    }
  }

  &--kind {
    &-primary {
      @include theme-prop(color, text-color-on-primary);
      &.monday-style-button {
        &--color {
          &-primary {
            @include theme-prop(background-color, primary-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, primary-hover-color);
            }
          }
          &-positive {
            @include theme-prop(background-color, positive-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, positive-color-hover);
            }
          }
          &-negative {
            @include theme-prop(background-color, negative-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, negative-color-hover);
            }
          }
          &-on-primary-color {
            @include theme-prop(background-color, text-color-on-primary);
            &-active,
            &:hover,
            &:focus {
              background-color: #e6e9ef;
              backdrop-filter: brightness(85%);
              @include focus-style-on-primary();
            }
            &.monday-style-button--disabled {
              color: var(--text-color-on-primary);
            }
          }
        }
        &.monday-style-button--disabled {
          @include theme-prop(background-color, disabled-background-color);
          @include theme-prop(color, disabled-text-color);
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
    &-secondary {
      border: 1px solid;
      @include theme-prop(border-color, ui-border-color);
      @include theme-prop(color, primary-text-color);
      background-color: transparent;

      &.monday-style-button {
        &--size {
          &-small {
            line-height: 22px;
          }

          &-medium {
            line-height: 22px;
          }

          &-large {
            line-height: 22px;
          }
        }
        &--color {
          &-primary {
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, primary-background-hover-color);
            }
          }
          &-positive {
            @include theme-prop(color, positive-color);
            @include theme-prop(border-color, positive-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, positive-color-selected);
            }
          }
          &-negative {
            @include theme-prop(color, negative-color);
            @include theme-prop(border-color, negative-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, negative-color-selected);
            }
          }
          &-on-primary-color {
            @include theme-prop(color, text-color-on-primary);
            @include theme-prop(border-color, text-color-on-primary);
            &-active,
            &:hover,
            &:focus {
              backdrop-filter: brightness(85%);
              @include focus-style-on-primary();
            }
            &.monday-style-button--disabled {
              color: var(--text-color-on-primary);
            }
          }
        }
      }
      &.monday-style-button--disabled {
        @include theme-prop(border-color, disabled-background-color);
        @include theme-prop(color, disabled-text-color);
        cursor: not-allowed;
        pointer-events: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
    &-tertiary {
      @include theme-prop(color, primary-text-color);
      background-color: transparent;

      &.monday-style-button {
        &--color {
          &-primary {
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, primary-background-hover-color);
            }
          }
          &-positive {
            @include theme-prop(color, positive-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, positive-color-selected);
            }
          }
          &-negative {
            @include theme-prop(color, negative-color);
            &-active,
            &:hover,
            &:focus {
              @include theme-prop(background-color, negative-color-selected);
            }
          }
          &-on-primary-color {
            @include theme-prop(color, text-color-on-primary);
            &-active,
            &:hover,
            &:focus {
              backdrop-filter: brightness(85%);
              @include focus-style-on-primary();
            }
            &.monday-style-button--disabled {
              color: var(--text-color-on-primary);
            }
          }
          &-on-inverted-background {
            @include theme-prop(color, text-color-on-inverted);
            &-active,
            &:hover,
            &:focus {
              backdrop-filter: brightness(85%);
            }
          }
        }
      }
      &.monday-style-button--disabled {
        @include theme-prop(color, disabled-text-color);
        cursor: not-allowed;
        pointer-events: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &--no-side-padding {
    padding-right: 0;
    padding-left: 0;
  }

  @include focus-style();

  &.inset-focus-style {
    @include focus-style-inset();
  }
}
