@import "../../styles/themes.scss";
@import "../../styles/typography";
@import "../../styles/states";

.text {
  a {
    text-decoration: none;
    color: var(--link-color);
    @include focus-style();

    &:hover {
      text-decoration: underline;
    }
  }

  &.primary {
    color: var(--primary-text-color);
  }

  &.secondary {
    color: var(--secondary-text-color);
  }

  &.onPrimary {
    color: var(--text-color-on-primary);
  }

  &.onInverted {
    color: var(--text-color-on-inverted);
  }

  &.start {
    text-align: start;
  }

  &.center {
    text-align: center;
  }

  &.end {
    text-align: end;
  }

  &.singleLineEllipsis {
    @include ellipsis();
  }

  &.multiLineEllipsis {
    @include line-clamp(var(--text-clamp-lines));
  }
}
