@import "~monday-ui-style/dist/mixins";

$component-rules-grid-gap: var(--sb-spacing-xxl);
$tipseen-rules-cell-min-width: 476px;
$component-rules-grid-cell-array-calc: calc(50% - #{$tipseen-rules-cell-min-width});

.monday-storybook-tipseen {
  &_rules {
    @include grid-auto-fit(
      $grid-gap: $component-rules-grid-gap,
      $grid-cell-min-width: $tipseen-rules-cell-min-width,
      $grid-cell-array-calc: $component-rules-grid-cell-array-calc,
      $important: true
    );
  }
  &_container {
    width: 20px;
    height: 180px;
  }

  &_big-container {
    width: 20px;
    height: 400px;
  }

  &_image {
    height: 175px;
  }

  &_inline-container {
    width: 300px;
    height: 20px;

    &.right {
      width: 84px;
      height: 100%;
    }
  }

  &_inline-spacing {
    width: 280px;
    height: 20px;
    padding-left: 10px;
  }

  &_column-item {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
    min-width: 160px;
  }

  &_column-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &.right {
      justify-content: flex-start;
    }
  }

  &_box {
    padding-right: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_small-box {
    padding-right: 312px;
    height: 100%;
  }

  &_hovered {
    background-color: var(--sb-primary-selected-color);
  }
}
