@import "~monday-ui-style/dist/mixins";

.wrapper {
  overflow-y: auto;
  @include scroller();
  padding: 0;
  margin: 0;

  .groupTitle {
    color: var(--secondary-text-color);
    padding: var(--spacing-small) var(--spacing-xs);
    background-color: var(--secondary-background-color);

    &.sticky {
      position: sticky;
      top: 0;
    }
  }

  > li:not(:last-child) {
    margin-bottom: 2px;
  }
}
