@import "../../../styles/global-css-settings.scss";
@import "../../styles/typography.scss";

.monday-storybook-information-box {
  &_component {
    width: 100%;
    height: fit-content;
    margin: 0 0 $spacing-medium;
  }

  &_title {
    @include content-text;
    font-weight: bold;
    margin-bottom: $spacing-xs;
    margin-top: $spacing-xs;
  }

  &_description {
    @include content-text;
    font-size: $small-text-font-size;
  }
}