@import "../../../styles/global-css-settings";
@import "../../styles/typography";

.monday-storybook-information-box {
  &_component {
    width: 100%;
    height: fit-content;
    margin: 0 0 $spacing-medium;
  }

  &_description {
    @include content-text;
    font-size: $small-text-font-size;
  }
}