.letter {
  border: 2px solid var(--sb-layout-border-color);
  max-width: 720px;
  border-radius: 30px;
  margin: 120px auto;
  padding: 64px;

  .introContainer {
    width: 100%;
    margin-bottom: 40px;
  }

  .intro {
    color: var(--sb-secondary-text-color);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.68px;
  }

  .content {
    color: var(--sb-primary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 32px;
    line-height: 140%;
    margin: 0 0 80px 0;
  }

  .thankYou {
    font-family: var(--sb-title-font-family);
    font-size: 20px;
  }
}
