.letterHeart {
  position: relative;
  transform: rotate(20deg);
  cursor: pointer;
}

.dot {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 30px;
  top: 30px;
  transform: translate(-50%, -50%);
}
