@import "../../../styles/typography.scss";

.description-label{
  color: var(--secondary-text-color);
  font-family: $primary-font;
  font-weight: $font-weight-normal;
  padding: 8px;
  white-space: pre-line;
}
