@import "../../../styles/typography";

.description-label{
  color: var(--secondary-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  padding: 8px;
  white-space: pre-line;
}
