// DARK THEME KEYS

// DARK THEME COLOR KEYS MAP: dark theme's keys color map.
// - Map include semantic color keys scope tokens.
// - Map is collected into the $theme-dark-settings map and is interpolated into custom properties.

$theme-dark-keys: (
  primary-color: $theme-dark-primary-color,
  primary-on-secondary-color: $theme-dark-primary-on-secondary-color,
  primary-hover-color: $theme-dark-primary-hover-color,
  primary-selected-color: $theme-dark-primary-selected-color,
  primary-selected-hover-color: $theme-dark-primary-selected-hover-color,
  primary-highlighted-color: $theme-dark-primary-highlighted-color,
  primary-surface-color: $theme-dark-primary-surface-color,
  primary-text-color: $theme-dark-primary-text-color,
  text-color-on-primary: $theme-dark-text-color-on-primary,
  text-color-on-inverted: $theme-dark-text-color-on-inverted,
  secondary-text-color: $theme-dark-secondary-text-color,
  placeholder-color: $theme-dark-placeholder-color,
  icon-color: $theme-dark-icon-color,
  link-color: $theme-dark-link-color,
  fixed-light-color: $theme-dark-fixed-light-color,
  fixed-dark-color: $theme-dark-fixed-dark-color,
  primary-background-color: $theme-dark-primary-background-color,
  primary-background-hover-color: $theme-dark-primary-background-hover-color,
  secondary-background-color: $theme-dark-secondary-background-color,
  grey-background-color: $theme-dark-grey-background-color,
  allgrey-background-color: $theme-dark-allgrey-background-color,
  inverted-color-background: $theme-dark-inverted-color-background,
  disabled-text-color: $theme-dark-disabled-text-color,
  disabled-background-color: $theme-dark-disabled-background-color,
  positive-color: $theme-dark-positive-color,
  positive-color-hover: $theme-dark-positive-color-hover,
  positive-color-selected: $theme-dark-positive-color-selected,
  positive-color-selected-hover: $theme-dark-positive-color-selected-hover,
  negative-color: $theme-dark-negative-color,
  negative-color-hover: $theme-dark-negative-color-hover,
  negative-color-selected: $theme-dark-negative-color-selected,
  negative-color-selected-hover: $theme-dark-negative-color-selected-hover,
  ui-border-color: $theme-dark-ui-border-color,
  ui-background-color: $theme-dark-ui-background-color,
  layout-border-color: $theme-dark-layout-border-color,
  warning-color: $theme-dark-warning-color,
  warning-color-hover: $theme-dark-warning-color-hover,
  warning-color-selected: $theme-dark-warning-color-selected,
  warning-color-selected-hover: $theme-dark-warning-color-selected-hover,
  brand-color: $theme-dark-primary-color,
  brand-hover-color: $theme-dark-primary-hover-color,
  brand-selected-color: $theme-dark-primary-selected-color,
  brand-selected-hover-color: $theme-dark-primary-selected-hover-color,
  text-color-on-brand: $theme-dark-text-color-on-primary,
  color-surface: $theme-dark-color-surface,
  backdrop-color: $theme-dark-backdrop-color
);

// DARK THEME SHADOW MAP: dark theme's shadow color map.
// - Map include shadow scope tokens.
// - Map is collected into the $theme-dark-settings map and is interpolated into custom properties.

$theme-dark-shadow-keys: (
  box-shadow-xs: $theme-dark-box-shadow-xs,
  box-shadow-small: $theme-dark-box-shadow-small,
  box-shadow-medium: $theme-dark-box-shadow-medium,
  box-shadow-large: $theme-dark-box-shadow-large
);
