.footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-riverstone_gray);
  padding: 80px 0;

  .footerContent {
    flex: 1;
    max-width: 1200px;
    min-width: 640px;
    margin: 0 120px;
  }

  .footerTitles {
    max-width: 320px;
    flex-shrink: 0;
    margin-right: 80px;
  }

  .title {
    color: var(--sb-primary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 32px;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -1.333px;
    margin: 0;
  }

  .subtitle {
    color: var(--sb-secondary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.427px;
    margin: 12px 0 0 0;
  }
}

@media screen and (max-width: 1676px) {
  .footer .footerContent {
    max-width: 900px;
    margin: 0 80px;
    flex-direction: column;
    gap: 50px;
  }

  .footer .footerTitles {
    max-width: 100%;
  }

  .footer .footerCards {
    width: 100%;
  }
}

@media screen and (max-width: 956px) {
  .footer .footerContent {
    margin: 0 120px;
  }
}
