.footer {
  background-color: var(--color-riverstone_gray);
  padding: 80px 180px;
  gap: 80px;

  .footerTitles {
    max-width: 320px;
    flex-shrink: 0;
    margin-right: 80px;
  }

  .title {
    color: var(--sb-primary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 28px;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -1.333px;
    margin: 0;
  }

  .subtitle {
    color: var(--sb-secondary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.427px;
    margin: 12px 0 0 0;
  }
}

@media screen and (max-width: 1160px) {
  .footer {
    padding: 88px 80px;

    .footerTitles {
      max-width: 100%;
    }

    .footerContent {
      flex-direction: column;
      gap: 40px;
    }

    .footerCards {
      width: 100%;
    }
  }
}
