.footerCard {
  border-radius: 16px;
  border: 1px solid var(--disabled-text-color);
  padding: 24px;
  cursor: pointer;
  display: flex;
  height: 200px;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
  color: var(--sb-primary-text-color);

  .title {
    margin: 0;
    letter-spacing: normal;
    font-size: 22px;
  }

  .description {
    color: var(--sb-secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  .link {
    align-self: flex-end;
    font-size: 22px;
    font-weight: 500;
  }

  &:hover {
    background: var(--sb-allgrey-background-color);
    mix-blend-mode: multiply;
  }
}
