.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding-block: 1px;
}


// Override the margin-right style that MenuItemIcon applies to icons
.rightIconWrapper.rightIconWrapper {
  margin-right: 0;
}
