@import "../../../styles/mixins/typography";
@import "../../../styles/mixins/focus";

.link {
  display: flex;
  align-items: center;
  color: var(--sb-link-color);
  @include sb-font-link();
  text-decoration: none;
  writing-mode: horizontal-tb;
  @include sb-focus-style();
}

.link:hover .text {
  text-decoration: underline;
}

.link.inlineText {
  display: inline-flex;
  align-items: unset;
}

.link.inheritFontSize {
  font-size: inherit;
  line-height: inherit;
}

.iconStart {
  line-height: 24px;
  margin-right: var(--sb-spacing-small);
}

.iconEnd {
  line-height: 24px;
  margin-left: var(--sb-spacing-small);
}

@supports (margin-inline-start: initial) {
  .iconStart {
    line-height: 24px;
    margin-right: 0;
    margin-inline-end: var(--sb-spacing-xs);
  }
  .iconEnd {
    line-height: 24px;
    margin-left: 0;
    margin-inline-start: var(--sb-spacing-xs);
  }
}
