@keyframes entryAnimation {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.attentionBox {
  position: relative;
  padding: 12px var(--ezds-space-0200);
  border-radius: var(--ezds-radius-0200);
  width: fit-content;
  max-width: 100%;
  height: fit-content;

  &.entryAnimation {
    animation: entryAnimation 200ms cubic-bezier(0.00, 0.00, 0.40, 1.00) forwards;
  }

  // Overriding on primary icon color should be with bigger specificity than the original color
  & .closeIconWrapper .closeIcon {
    color: var(--ezds-color-text-default);
  }

  .icon {
    flex-shrink: 0;
  }
}

.title {
  margin: 0;
  padding-right: var(--ezds-space-0500);
}

.text,
.titleContainer {
  color: var(--ezds-color-text-default);
}

.typePrimary {
  color: var(--ezds-color-text-default);
  background-color: var(--ezds-color-background-accent-subtle);
}

.typeDanger {
  background-color: var(--ezds-color-background-danger-subtle);
}

.typeSuccess {
  background-color: var(--ezds-color-background-success-subtle);
}

.typeDark {
  background-color: var(--ezds-color-background-secondary);
  color: var(--ezds-color-text-default);
}

.typeWarning {
  background-color: var(--ezds-color-background-warning-subtle);
  color: var(--ezds-color-text-default);
}

.titleContainer {
  margin-bottom: var(--ezds-space-0050);
}

.titleContainer:empty {
  margin-bottom: 0;
}

.closeIconWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
}

.closeIconCompact {
  top: calc(50% - 16px);
}

.text {
  &.compact {
    flex: 1;

    &.dismissible {
      padding-right: var(--ezds-space-0500);
    }
  }

  &.paragraph {
    margin: 0 var(--ezds-space-0200) 0 0;
  }
}
