.attention {
  border-radius: var(--border-radius-medium);
  padding: var(--space-12);
  padding-inline-start: var(--space-16);
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-4px);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms cubic-bezier(0.4, 0, 0.2, 1);

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }

  &.noAnimation {
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }

  &.primary {
    background-color: var(--primary-selected-color);
  }

  &.success {
    background-color: var(--positive-color-selected);
  }

  &.danger {
    background-color: var(--negative-color-selected);
  }

  &.warning {
    background-color: var(--warning-color-selected);
  }

  &.dark {
    background-color: var(--ui-border-color);
  }
}
