.flex-layout {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
  color: var(--secondary-text-color);

  &.full-width {
    width: 100%;
  }

  &.centerize {
    align-items: center;
  }

  .stretch-child {
    flex: 1 1 auto;
  }

  .normal-child {
    flex: 0 0 auto;
  }

  &.row {
    flex-direction: row;
    &.spaceBetween {
      width: 100%;
      justify-content: space-between;
    }
  }

  &.column {
    flex-direction: column;
    &.spaceBetween {
      height: 100%;
      justify-content: space-between;
    }
  }

}
