.avatarGroupContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
}

.avatarContainer {
  margin-left: calc(-1 * var(--spacing-small));
}
