@import "~@vibe/style/dist/mixins";

.tooltipAvatarItemTitle {
  white-space: nowrap;
}

.tooltipAvatarItemAvatar {
  flex-shrink: 0;
}

.tooltipContainer {
  max-height: 300px;
  padding-inline-end: var(--space-16);
  align-items: flex-start !important;
  overflow-x: visible;
  overflow-y: auto;
  margin-top: var(--space-8);
  &:focus,
  &:focus-visible,
  &.focus-visible { /* stylelint-disable-line selector-class-pattern */
    outline: none;
  }
}

.tooltipGridContainer {
  max-width: 160px;
  padding-inline-end: 0;
}
.scrollableContainer {
  @include scroller();
}
