@use "sass:math";
@import "~@ezds/web/dist/mixins";
@import "../../components/Avatar/AvatarConstants";

.counterContainer.counterContainer {
  background: var(--ezds-color-background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(-1 * var(--ezds-space-0100));
  z-index: 1;
  border: 1px solid var(--ezds-color-background-primary);

  &:focus-visible,
  &.focus-visible { /* stylelint-disable-line selector-class-pattern */
    outline: none;
    @include focus-style(50%);
  }

  @mixin counterSize($size) {
    height: $size;
    min-width: $size;
    border-radius: math.div($size, 2);
  }
  &.xs {
    @include counterSize($avatar-size-xs);
    padding: 0 1px;
  }
  &.small {
    @include counterSize($avatar-size-small);
    padding: 0 1px;
  }
  &.medium {
    @include counterSize($avatar-size-medium);
    padding: 0 2px;
  }
  &.large {
    @include counterSize($avatar-size-large);
    padding: 0 var(--ezds-space-0050);
  }

  &.primary {
    color: var(--ezds-color-text-default-inverted);
    background-color: var(--ezds-color-background-accent-default);
  }
  &.dark {
    color: var(--ezds-color-text-default-inverted);
    background-color: var(--ezds-color-background-primary-inverted);
  }
  &.negative {
    color: var(--ezds-color-text-default-inverted);
    background-color: var(--ezds-color-background-danger-default);
  }
  &.light {
    color: var(--ezds-color-text-default);
    background-color: var(--ezds-color-background-secondary);
  }

  .disabled,
  &.disabled {
    background-color: var(--ezds-color-background-disabled);
    color: var(--ezds-color-text-default-disabled);
  }
}

.menu {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  @include scroller();
}
