@import "~@vibe/style/dist/mixins";

.scrollableContainer {
  @include scroller();
}

.virtualizedTooltipContainer {
  align-items: flex-start !important;
  display: flex;
  overflow-y: hidden;
  overflow-x: visible;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
