@import "../../styles/themes.scss";
@import "../../styles/typography.scss";
@import "../../styles/global-css-settings.scss";
@import "./Tipseen.scss";

.monday-style-tipseen-content {
  &_buttons {
    margin-top: $spacing-medium;
    display: flex;
    justify-content: flex-end;
    .monday-style-tipseen-content_dismiss {
      margin-right: $spacing-small;
    }
  }
}