@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.wrapper {
  min-width: 100px;
  min-height: 40px;
  padding: 0;
  border-radius: $border-radius-medium;
}

.wrapperWithoutCustomWidth {
  max-width: 320px;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.title {
  padding: $spacing-medium $spacing-medium 0 $spacing-medium;
}

.content {
  @include font-default;
  @include theme-prop(color, text-color-on-primary);
}

.closeButton {
  position: absolute;
  top: $spacing-xs;
  right: $spacing-xs;
}

.closeButtonOnImage {
  z-index: 2;
}
