@import "../../styles/themes.scss";
@import "../../styles/typography.scss";
@import "../../styles/global-css-settings.scss";

@mixin tipseen-title {
  @include font-paragraph-bold;
  color: var(--text-color-on-primary);
}
.monday-style-tipseen {
  &-wrapper {
    min-width: 100px;
    min-height: 40px;
    padding: $spacing-medium;
  }

  &_header {
    display: flex;
    justify-content: flex-start;
  }

  &_close-button {
    position: absolute;
    top: $spacing-xs;
    right: $spacing-xs;
  }

  &_title {
    @include tipseen-title;
  }
}