@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

:global(.monday-style-tooltip).tipseenWrapper {
  min-width: 100px;
  min-height: 40px;
  padding: 0;
  border-radius: var(--border-radius-medium);

  &WithoutCustomWidth {
    max-width: 320px;
  }

  .tipseen {
    &Header {
      display: flex;
      justify-content: flex-start;
    }

    &Title {
      padding: var(--spacing-medium) var(--spacing-medium) 0 var(--spacing-medium);
    }

    &Content {
      @include font-default;
      @include theme-prop(color, text-color-on-primary);
    }

    &CloseButton {
      position: absolute;
      top: var(--spacing-xs);
      right: var(--spacing-xs);
      z-index: 2;



      &.dark {
        color: var(--icon-color);
      }
    }
  }
}
