@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.tipseen {
  &.tipseenWrapper {
    min-width: 100px;
    min-height: 40px;
    padding: 0;
    border-radius: var(--border-radius-medium);

    &.withoutCustomWidth {
      max-width: 320px;
    }

    .header {
      display: flex;
      justify-content: flex-start;

      .title {
        padding: var(--spacing-medium) var(--spacing-medium) 0 var(--spacing-medium);
      }

      .closeButton {
        position: absolute;
        top: var(--spacing-xs);
        right: var(--spacing-xs);
        z-index: 2;

        &.dark {
          color: var(--color-asphalt);
        }
      }
    }

    .content {
      @include font-default;
      @include theme-prop(color, text-color-on-primary);
    }
  }
}
