@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";
@import "./Tipseen";

.monday-style-tipseen-content {
  &_buttons {
    margin-top: $spacing-medium;
    display: flex;
    justify-content: flex-end;
    .monday-style-tipseen-content_dismiss {
      margin-right: $spacing-small;
    }
  }
}