@import "../../styles/themes.scss";
@import "../../styles/typography.scss";
@import "../../styles/global-css-settings.scss";

@mixin tipseen-content-padding{
  padding: $spacing-medium;
}

.monday-style-tipseen {
  &-wrapper {
    min-width: 100px;
    min-height: 40px;
    padding: 0;
    border-radius: $border-radius-medium;
  }

  &_header {
    display: flex;
    justify-content: flex-start;
  }

  &_title {
    padding: $spacing-medium $spacing-medium 0 $spacing-medium;
  }

  &_content {
    @include font-default;
    @include theme-prop(color, text-color-on-primary);
  }

  &_close-button {
    position: absolute;
    top: $spacing-xs;
    right: $spacing-xs;

    &--on-image {
      z-index: 2;
    }
  }
}