.dark-app-theme {
  --primary-color: #0073ea;
  --primary-hover-color: #0060b9;
  --primary-selected-color: #133774;
  --primary-selected-hover-color: #0d2e65;
  --primary-highlighted-color: #0d2753;
  --primary-surface-color: #181b34;
  --primary-text-color: #d5d8df;

  --secondary-text-color: #9699a6;
  --text-color-on-inverted: #323338;
  --text-color-on-primary: #ffffff;
  --disabled-text-color: rgba(213, 216, 223, var(--disabled-component-opacity));
  --inverted-color-background: #ffffff;

  --fixed-dark-color: #323338;
  --fixed-light-color: #ffffff;

  --primary-background-color: #181b34;
  --primary-background-hover-color: rgba(103, 104, 121, 0.3);
  --secondary-background-color: #30324e;
  --allgrey-background-color: #30324e;

  --backdrop-color: rgba(41, 47, 76, 0.7);
  --ui-border-color: #797e93;
  --ui-background-color: #434660;
  --layout-border-color: #4b4e69;
  --placeholder-color: #c3c6d4;
  --icon-color: #c3c6d4;
  --disabled-background-color: #3c3f59;
  --link-color: #69a7ef;

  --brand-color: #0073ea;
  --brand-hover-color: #0060b9;
  --brand-selected-color: #133774;
  --brand-selected-hover-color: #0d2e65;

  --positive-color: #00854d;
  --positive-color-hover: #007038;
  --positive-color-selected: #025231;
  --positive-color-selected-hover: #194733;

  --negative-color: #d83a52;
  --negative-color-hover: #b63546;
  --negative-color-selected: #642830;
  --negative-color-selected-hover: #5a2027;

  --warning-color: #ffcb00;
  --warning-color-hover: #eaaa15;
  --warning-color-selected: #503e02;
  --warning-color-selected-hover: #402f00;

  --color-highlight_blue: #133774;
  --color-basic_blue: #0073ea;
  --color-dark_blue: #0060b9;
  --color-bazooka: #f65f7c;
  --color-snow_white: #ffffff;
  --color-riverstone_gray: #30324e;
  --color-ui_grey: #434660;
  --color-wolf_gray: #797e93;
  --color-asphalt: #9699a6;
  --color-mud_black: #323338;
  --color-black: #000000;
  --color-success: #00854d;
  --color-success-hover: #007038;
  --color-success-highlight: #025231;
  --color-error: #d83a52;
  --color-error-hover: #b63546;
  --color-error-highlight: #642830;
  --color-link_color: #69a7ef;
  --color-surface: #292f4c;

  --grey-background-color: #181b34;
  --text-color-on-brand: #ffffff;

  --box-shadow-xs: 0px 4px 6px -4px rgba(9, 11, 25, 0.5);
  --box-shadow-small: 0px 4px 8px rgba(9, 11, 25, 0.5);
  --box-shadow-medium: 0px 6px 20px rgba(9, 11, 25, 0.5);
  --box-shadow-large: 0px 15px 50px rgba(9, 11, 25, 0.5);

  // Content colors
  --color-teal: #4a8f98;
  --color-teal-hover: #347179;
  --color-teal-selected: #245960;
  --color-grass_green: #037f4c;
  --color-grass_green-hover: #116846;
  --color-grass_green-selected: #0f4f43;
  --color-done-green: #00c875;
  --color-done-green-hover: #0f9b63;
  --color-done-green-selected: #0e7358;
  --color-done-green-selected-with-opacity: rgba(14, 115, 88, 0.6);
  --color-bright-green: #9cd326;
  --color-bright-green-hover: #7ca32b;
  --color-bright-green-selected: #5c7930;
  --color-saladish: #cab641;
  --color-saladish-hover: #9d8f3e;
  --color-saladish-selected: #736a3e;
  --color-egg_yolk: #ffcb00;
  --color-egg_yolk-hover: #c29e11;
  --color-egg_yolk-selected: #8d751e;
  --color-egg_yolk-rgb: 255, 213, 51;
  --color-working_orange: #fdab3d;
  --color-working_orange-hover: #c0873c;
  --color-working_orange-selected: #8c653c;
  --color-dark-orange: #ff6d3b;
  --color-dark-orange-hover: #c25531;
  --color-dark-orange-selected: #8d4134;
  --color-peach: #ffadad;
  --color-peach-hover: #c2888a;
  --color-peach-selected: #8d6674;
  --color-sunset: #ff7575;
  --color-sunset-hover: #c26163;
  --color-sunset-selected: #8d4a58;
  --color-sunset-selected-with-opacity: rgba(141, 74, 88, 0.6);
  --color-stuck-red: #df2f4a;
  --color-stuck-red-hover: #ad3f51;
  --color-stuck-red-selected: #7f314b;
  --color-dark-red: #bb3354;
  --color-dark-red-hover: #92334c;
  --color-dark-red-selected: #6b2947;
  --color-sofia_pink: #e50073;
  --color-sofia_pink-hover: #c21e71;
  --color-sofia_pink-selected: #8d1a62;
  --color-lipstick: #ff5ac4;
  --color-lipstick-hover: #c24e9a;
  --color-lipstick-selected: #8d3c7f;
  --color-bubble: #faa1f1;
  --color-bubble-hover: #be80ba;
  --color-bubble-selected: #8b6096;
  --color-orchid: #e484bd;
  --color-orchid-hover: #b4739a;
  --color-orchid-selected: #85597b;
  --color-purple: #9d50dd;
  --color-purple-hover: #8050ab;
  --color-purple-selected: #5f3e8b;
  --color-dark_purple: #784bd1;
  --color-dark_purple-hover: #6344a3;
  --color-dark_purple-selected: #4a3586;
  --color-lavender: #bda8f9;
  --color-lavender-hover: #a294c8;
  --color-lavender-selected: #79709c;
  --color-berry: #7e3b8a;
  --color-berry-hover: #673971;
  --color-berry-selected: #4d2d62;
  --color-dark_indigo: #6129ff;
  --color-dark_indigo-hover: #4c18dc;
  --color-dark_indigo-selected: #3c13ae;
  --color-indigo: #5559df;
  --color-indigo-hover: #4b4ead;
  --color-indigo-selected: #383c8d;
  --color-lilac: #9d99b9;
  --color-lilac-hover: #8e8a9f;
  --color-lilac-selected: #6b697f;
  --color-steel: #a9bee8;
  --color-steel-hover: #95a2be;
  --color-steel-selected: #707a95;
  --color-navy: #5684c5;
  --color-navy-hover: #3468b2;
  --color-navy-selected: #24508f;
  --color-royal: #216edf;
  --color-royal-hover: #4474bb;
  --color-royal-selected: #375993;
  --color-bright-blue: #579bfc;
  --color-bright-blue-hover: #4c7cc1;
  --color-bright-blue-selected: #395d9b;
  --color-chili-blue: #66ccff;
  --color-chili-blue-hover: #569ec3;
  --color-chili-blue-selected: #41759d;
  --color-sky: #a1e3f6;
  --color-sky-hover: #90bac6;
  --color-sky-selected: #6c8a9a;
  --color-dark-blue: #007eb5;
  --color-dark-blue-hover: #0f6d97;
  --color-dark-blue-selected: #0e527e;
  --color-aquamarine: #4eccc6;
  --color-aquamarine-hover: #469e9b;
  --color-aquamarine-selected: #357580;
  --color-river: #74afcc;
  --color-river-hover: #588095;
  --color-river-selected: #42607c;
  --color-winter: #9aadbd;
  --color-winter-hover: #7b8895;
  --color-winter-selected: #5b667c;
  --color-explosive: #c4c4c4;
  --color-explosive-hover: #98999a;
  --color-explosive-selected: #70717f;
  --color-american_gray: #757575;
  --color-american_gray-hover: #69696a;
  --color-american_gray-selected: #4e505e;
  --color-blackish: #7a7a7a;
  --color-blackish-hover: #525252;
  --color-blackish-selected: #383838;
  --color-pecan: #806363;
  --color-pecan-hover: #674c4c;
  --color-pecan-selected: #513939;
  --color-brown: #7f5347;
  --color-brown-hover: #684943;
  --color-brown-selected: #4d3941;
  --color-coffee: #cd9282;
  --color-coffee-hover: #a27b6f;
  --color-coffee-selected: #795e5d;
  --color-tan: #bca58a;
  --color-tan-hover: #978977;
  --color-tan-selected: #716863;

  /*
    LEGACY VALUES
  */
  --primary-on-secondary-color: #0073ea;
  --primary-hover-on-secondary-color: #0060b9;
  --primary-selected-color-rgb: 19, 55, 116;
  --primary-selected-on-secondary-color: #133774;
  --primary-text-on-secondary-color: #d5d8df;
  --primary-background-color-rgb: 24, 27, 52;
  --primary-background-hover-on-secondary-color: #4b4e69;
  --secondary-background-color-rgb: 48, 50, 78;
  --secondary-text-on-secondary-color: #9699a6;
  --link-on-secondary-color: #69a7ef;
  --modal-background-color: #181b34;
  --dark-background-color: #393b53;
  --dark-background-on-secondary-color: #4b4e69;
  --dialog-background-color: #30324e;
  --label-background-color: #404b69;
  --label-background-on-secondary-color: #404b69;
  --icon-on-secondary-color: #c3c6d4;
  --placeholder-color-with-opacity: rgba(195, 198, 212, 0.1);
  --placeholder-on-secondary-color: #c3c6d4;
  --ui-border-on-secondary-color: #797e93;
  --layout-border-on-secondary-color: #4b4e69;
  --disabled-background-on-secondary-color: #3c3f59;
  --disabled-text-on-secondary-color: rgba(213, 216, 223, var(--disabled-component-opacity));
  --box-shadow-mediun: 0px 6px 20px rgba(0, 0, 0, 0.2);
}
