@import "../../../../styles/themes";
@import "../../../../styles/typography";

.placeholderContainer {
  margin-left: 6px;
}

.chipWithInputWrapper {
  display: flex;
}

.multiselectChipMultiLine {
  margin: 2px;
}

.multiselectChipSingleLine {
  margin: 5px 2px;
}

.multiselectChipDisabled {
  background-color: var(--primary-background-hover-color) !important;
}

.valueContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.valueContainerChips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.valueContainerChipsWithoutPlaceholder {
  margin-left: 6px;
}

.valueContainerDialogContent {
  max-width: 300px;
}
