@import "~@ezds/web/dist/mixins";

$disabled-on-primary-color-opacity: 0.5;

.button {
  --loader-padding: 8px;
  outline: none;
  border: none;
  height: auto;
  border-radius: var(--ezds-radius-0100);
  cursor: pointer;
  white-space: nowrap;
  transition: var(--ezds-motion-productive-short) transform,
    var(--ezds-motion-productive-medium) var(--ezds-motion-timing-transition) min-width;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include focus-style();
  /* Prevent text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: auto;

  .loader {
    height: 100%;

    .loaderSvg {
      position: static;
      height: 100%;
      margin: 0;
    }
  }

  .textPlaceholder {
    display: inline-block;
    opacity: 0;
    height: 0;
    visibility: hidden;
    white-space: pre;
  }

  &.success {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .successContent {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.marginRight {
  margin-right: var(--ezds-space-0100);
}

.marginLeft {
  margin-left: var(--ezds-space-0100);
}

.rightFlat {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.leftFlat {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button:active:not(.preventClickAnimation) {
  transform: scale(0.95) translate3d(0, 0, 0);
}

.button .leftIcon {
  margin-right: var(--ezds-space-0100);
}

.button .rightIcon {
  margin-left: var(--ezds-space-0100);
}

.sizeXxs {
  @include smoothing-text;
  @include vibe-text(text2, normal);
  padding: 2px var(--ezds-space-0050);
  height: 16px;
  line-height: 16px;
}

.sizeXs {
  @include smoothing-text;
  @include vibe-text(text2, normal);
  padding: var(--ezds-space-0050) var(--ezds-space-0100);
  height: 24px;
  line-height: 21px;
}

.sizeSmall {
  @include smoothing-text;
  @include vibe-text(text2, normal);
  padding: var(--ezds-space-0050) var(--ezds-space-0100);
  height: 32px;
  line-height: 24px;
}

.sizeSmall .loader {
  top: 7px;
}

.sizeMedium {
  @include smoothing-text;
  @include vibe-text(text1, normal);
  padding: var(--ezds-space-0100) var(--ezds-space-0200);
  height: 40px;
}

.sizeLarge {
  @include smoothing-text;
  @include vibe-text(text1, normal);
  padding: 12px var(--ezds-space-0400);
  height: 48px;
}

.kindPrimary {
  color: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorPrimary {
  background: var(--ezds-color-background-accent-default);
}

.kindPrimary.colorBrand {
  background: var(--ezds-color-background-accent-default);
  color: var(--ezds-color-text-on-brand);
}

.kindPrimary.colorPrimaryActive,
.kindPrimary.colorPrimary:hover,
.kindPrimary.colorPrimary:focus {
  background: var(--ezds-color-background-accent-default--hover);
}

.kindPrimary.colorBrandActive,
.kindPrimary.colorBrand:hover,
.kindPrimary.colorBrand:focus {
  background: var(--ezds-color-background-accent-default--hover);
}

.kindPrimary.colorPositive {
  background: var(--ezds-color-background-success-default);
}

.kindPrimary.colorPositiveActive,
.kindPrimary.colorPositive:hover,
.kindPrimary.colorPositive:focus {
  background: var(--ezds-color-background-success-default--hover);
}

.kindPrimary.colorNegative {
  background: var(--ezds-color-background-danger-default);
}

.kindPrimary.colorNegativeActive,
.kindPrimary.colorNegative:hover,
.kindPrimary.colorNegative:focus {
  background: var(--ezds-color-background-danger-default--hover);
}

.kindPrimary.colorInverted {
  background: var(--ezds-color-background-primary-inverted);
  color: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorInvertedActive,
.kindPrimary.colorInverted:hover,
.kindPrimary.colorInverted:focus {
  background: var(--ezds-color-text-subtle);
}

.kindPrimary.button.colorInverted.disabled {
  background: var(--ezds-color-text-default-disabled);
  color: var(--ezds-color-background-disabled);
}

.kindPrimary.colorOnPrimaryColor {
  background: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorOnPrimaryColorActive,
.kindPrimary.colorOnPrimaryColor:hover,
.kindPrimary.colorOnPrimaryColor:focus {
  background-color: #e6e9ef;
  backdrop-filter: brightness(85%);
  @include focus-style-on-primary();
}

.kindPrimary.colorOnPrimaryColor.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorFixedLight {
  background: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorFixedLightActive,
.kindPrimary.colorFixedLight:hover,
.kindPrimary.colorFixedLight:focus {
  background-color: #e6e9ef;
  backdrop-filter: brightness(85%);
  @include focus-style-on-primary();
}

.kindPrimary.colorFixedLight.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorFixedDark {
  background: var(--ezds-color-text-default);
  color: var(--ezds-color-text-default-inverted);
}

.kindPrimary.colorFixedDarkActive,
.kindPrimary.colorFixedDark:hover,
.kindPrimary.colorFixedDark:focus {
  filter: brightness(125%);
  @include focus-style-on-primary();
}

.kindPrimary.colorFixedDark.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default);
}

.kindPrimary.colorOnInvertedBackground {
  background: var(--ezds-color-background-primary);
  color: var(--ezds-color-text-default);
}

.kindPrimary.colorOnInvertedBackgroundActive,
.kindPrimary.colorOnInvertedBackground:hover,
.kindPrimary.colorOnInvertedBackground:focus {
  background: var(--ezds-color-background-secondary);
}

.kindPrimary.button.colorOnInvertedBackground.disabled {
  background: var(--ezds-color-background-secondary);
  color: var(--ezds-color-text-default);
  opacity: $disabled-on-primary-color-opacity;
}

.kindPrimary.button.disabled {
  background: var(--ezds-color-background-disabled);
  color: var(--ezds-color-text-default-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.kindSecondary {
  border: 1px solid;
  border-color: var(--ezds-color-border-strong);
  color: var(--ezds-color-text-default);
  background-color: transparent;
}

.kindSecondary.sizeSmall {
  line-height: 22px;
}

.kindSecondary.sizeMedium {
  line-height: 22px;
}

.kindSecondary.sizeLarge {
  line-height: 22px;
}

.kindSecondary.colorPrimaryActive {
  background-color: var(--ezds-color-background-accent-subtle);
  border-color: var(--ezds-color-background-accent-default);
}

.kindSecondary.colorPrimaryActive:hover {
  background-color: var(--ezds-color-background-accent-subtle--hover);
  border-color: var(--ezds-color-background-accent-default);
}

.kindSecondary.colorBrandActive {
  color: var(--ezds-color-text-on-brand);
}

.kindSecondary.colorBrandActive,
.kindSecondary.colorBrandActive:hover {
  background-color: var(--ezds-color-background-accent-subtle);
  border-color: var(--ezds-color-background-accent-default);
}

.kindSecondary.colorPrimary:hover:not(.colorPrimaryActive),
.kindSecondary.colorPrimary:focus:not(.colorPrimaryActive) {
  background: var(--ezds-color-background-transparent-inverted);
}

.kindSecondary.colorBrand:hover:not(.colorBrandActive),
.kindSecondary.colorBrand:focus:not(.colorBrandActive) {
  background: var(--ezds-color-background-transparent-inverted);
}

.kindSecondary.colorPositive {
  color: var(--ezds-color-background-success-default);
  border-color: var(--ezds-color-background-success-default);
}

.kindSecondary.colorPositiveActive,
.kindSecondary.colorPositive:hover,
.kindSecondary.colorPositive:focus {
  background: var(--ezds-color-background-success-subtle);
}

.kindSecondary.colorNegative {
  color: var(--ezds-color-background-danger-default);
  border-color: var(--ezds-color-background-danger-default);
}

.kindSecondary.colorNegativeActive,
.kindSecondary.colorNegative:hover,
.kindSecondary.colorNegative:focus {
  background: var(--ezds-color-background-danger-subtle);
}

.kindSecondary.colorInverted {
  color: var(--ezds-color-text-default);
  border-color: var(--ezds-color-text-default);
}

.kindSecondary.colorInvertedActive,
.kindSecondary.colorInverted:hover,
.kindSecondary.colorInverted:focus {
  background: var(--ezds-color-background-transparent-inverted);
}

.kindSecondary.colorInverted.disabled {
  border-color: var(--ezds-color-text-default-disabled);
  color: var(--ezds-color-text-default-disabled);
}

.kindSecondary.colorOnPrimaryColor {
  color: var(--ezds-color-text-default-inverted);
  border-color: var(--ezds-color-text-default-inverted);
}

.kindSecondary.colorOnPrimaryColorActive,
.kindSecondary.colorOnPrimaryColor:hover,
.kindSecondary.colorOnPrimaryColor:focus {
  backdrop-filter: brightness(85%);
  @include focus-style-on-primary();
}

.kindSecondary.colorOnPrimaryColor.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindSecondary.colorFixedLight {
  border-color: var(--ezds-color-text-default-inverted);
  color: var(--ezds-color-text-default-inverted);
}

.kindSecondary.colorFixedLightActive,
.kindSecondary.colorFixedLight:hover,
.kindSecondary.colorFixedLight:focus {
  backdrop-filter: brightness(85%);
  @include focus-style-on-primary();
}

.kindSecondary.colorFixedDark {
  border-color: var(--ezds-color-text-default);
  color: var(--ezds-color-text-default);
}

.kindSecondary.colorFixedDarkActive,
.kindSecondary.colorFixedDark:hover,
.kindSecondary.colorFixedDark:focus {
  background-color: var(--ezds-color-background-transparent-inverted);
  @include focus-style-on-primary();
}

.kindSecondary.colorOnInvertedBackground {
  border-color: var(--ezds-color-text-default-inverted);
  color: var(--ezds-color-text-default-inverted);
}

.kindSecondary.colorOnInvertedBackgroundActive,
.kindSecondary.colorOnInvertedBackground:hover,
.kindSecondary.colorOnInvertedBackground:focus {
  background: var(--ezds-color-icon-subtle);
}

.kindSecondary.colorOnInvertedBackground.disabled {
  border-color: var(--ezds-color-text-default-inverted);
  color: var(--ezds-color-text-default-inverted);
  opacity: $disabled-on-primary-color-opacity;
}

.kindSecondary.colorFixedLight.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindSecondary.colorFixedDark.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default);
}

.kindSecondary.disabled {
  border-color: var(--ezds-color-text-default-disabled);
  color: var(--ezds-color-text-default-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.kindSecondary.disabled:hover {
  background-color: transparent;
}

.kindTertiary {
  color: var(--ezds-color-text-default);
  background-color: transparent;
}

.kindTertiary.colorPrimaryActive {
  background-color: var(--ezds-color-background-accent-subtle);
}

.kindTertiary.colorPrimaryActive:hover {
  background-color: var(--ezds-color-background-accent-subtle--hover);
}

.kindTertiary.colorBrandActive {
  color: var(--ezds-color-text-on-brand);
}

.kindTertiary.colorBrandActive,
.kindTertiary.colorBrandActive:hover {
  background-color: var(--ezds-color-background-accent-subtle);
}

.kindTertiary.colorPrimary:hover:not(.colorPrimaryActive),
.kindTertiary.colorPrimary:focus:not(.colorPrimaryActive) {
  background: var(--ezds-color-background-transparent-inverted);
}

.kindTertiary.colorBrand:hover:not(.colorBrandActive),
.kindTertiary.colorBrand:focus:not(.colorBrandActive) {
  background: var(--ezds-color-background-transparent-inverted);
}

.kindTertiary.colorPositive {
  color: var(--ezds-color-background-success-default);
}

.kindTertiary.colorPositiveActive,
.kindTertiary.colorPositive:hover,
.kindTertiary.colorPositive:focus {
  background: var(--ezds-color-background-success-subtle);
}

.kindTertiary.colorNegative {
  color: var(--ezds-color-background-danger-default);
}

.kindTertiary.colorNegativeActive,
.kindTertiary.colorNegative:hover,
.kindTertiary.colorNegative:focus {
  background: var(--ezds-color-background-danger-subtle);
}

.kindTertiary.colorInverted {
  color: var(--ezds-color-text-default);
}

.kindTertiary.colorInvertedActive,
.kindTertiary.colorInverted:hover,
.kindTertiary.colorInverted:focus {
  background: var(--ezds-color-background-transparent-inverted);
}

.kindTertiary.colorInverted.disabled {
  color: var(--ezds-color-text-default-disabled);
}

.kindTertiary.colorOnPrimaryColor {
  color: var(--ezds-color-text-default-inverted);
}

.kindTertiary.colorOnPrimaryColorActive,
.kindTertiary.colorOnPrimaryColor:hover,
.kindTertiary.colorOnPrimaryColor:focus {
  backdrop-filter: brightness(85%);
  @include focus-style-on-primary();
}

.kindTertiary.colorOnPrimaryColor.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindTertiary.colorFixedLight {
  color: var(--ezds-color-text-default-inverted);
}

.kindTertiary.colorFixedLightActive,
.kindTertiary.colorFixedLight:hover,
.kindTertiary.colorFixedLight:focus {
  backdrop-filter: brightness(85%);
  @include focus-style-on-primary();
}

.kindTertiary.colorFixedLight.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindTertiary.colorFixedDark {
  color: var(--ezds-color-text-default);
}

.kindTertiary.colorFixedDarkActive,
.kindTertiary.colorFixedDark:hover,
.kindTertiary.colorFixedDark:focus {
  background-color: var(--ezds-color-background-transparent-inverted);
  @include focus-style-on-primary();
}

.kindTertiary.colorFixedDark.disabled {
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default);
}

.kindTertiary.colorOnInvertedBackground {
  color: var(--ezds-color-text-default-inverted);
}

.kindTertiary.colorOnInvertedBackgroundActive,
.kindTertiary.colorOnInvertedBackground:hover,
.kindTertiary.colorOnInvertedBackground:focus {
  background: var(--ezds-color-icon-subtle);
}

.kindTertiary.colorOnInvertedBackground.disabled {
  background: var(--ezds-color-icon-subtle);
  opacity: $disabled-on-primary-color-opacity;
  color: var(--ezds-color-text-default-inverted);
}

.kindTertiary.disabled {
  color: var(--ezds-color-text-default-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

.kindTertiary.disabled:hover {
  background-color: transparent;
}

.noSidePadding {
  padding-right: 0;
  padding-left: 0;
}

.button.insetFocusStyle {
  @include focus-style-inset();
}
