@import "../../styles/typography";

.tooltip {
  position: relative;
  display: inline-block;
  border-radius: var(--tooltip-border-radius, var(--border-radius-small));
  box-shadow: var(--box-shadow-medium);
  @include font-input();
  max-width: var(--tooltip-max-width, 50vw);
  word-break: break-word;
  background-color: var(--inverted-color-background);
  color: var(--text-color-on-inverted);
  --tooltip-max-width: 240px;

  .image {
    display: block;
    position: relative;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 2px 2px 0 2px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: var(--tooltip-max-width);
    z-index: 1;
  }

  .title {
    @include vibe-text(text2, bold);
  }

  .content {
    word-break: break-word;
    display: inline-block;
    padding: var(--tooltip-padding, #{var(--spacing-small) var(--spacing-medium)});
  }
}

.tooltip.paddingSizeMd {
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-medium);
  @include font-input();
}

.tooltip a.tooltipWhiteLink {
  color: #fff;
}

.arrow,
.dark,
.arrow.dark {
  background-color: var(--inverted-color-background);
  color: var(--text-color-on-inverted);
}

.primary,
.arrow.primary {
  background-color: var(--primary-color);
  color: var(--text-color-on-primary);
}
