@import "~monday-ui-style/dist/mixins";
@import "../../../../styles/global-css-settings";
@import "../../../../styles/typography";

.rounded-corner-component {
  @include vibe-text(text1, bold);
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--negative-color);
  background-color: var(--primary-background-color);
  margin: 0 var(--spacing-medium) var(--spacing-large);

  &--small {
    border-radius: var(--border-radius-small);
  }

  &--medium {
    border-radius: var(--border-radius-medium);
  }

  &--big {
    border-radius: var(--border-radius-big);
  }
}
