@import "../../../../styles/themes";
@import "../../../../styles/global-css-settings";
@import "../../../../styles/typography";

.rounded-corner-component {
  @include font-paragraph-bold();
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--negative-color);
  background-color: var(--primary-background-color);
  margin: 0 $spacing-medium $spacing-large;

  &--small {
    border-radius: var(--border-radius-small);
  }

  &--medium {
    border-radius: var(--border-radius-medium);
  }

  &--big {
    border-radius: var(--border-radius-big);
  }
}
