@mixin spacing {
  padding: var(--sb-spacing-small);
}

.primaryBackground {
  background-color: var(--sb-primary-color);
}

.invertedBackground {
  background-color: var(--sb-inverted-color-background);
}

.smallRectangle {
  @include spacing;
  width: 150px;
}

.mediumRectangle {
  @include spacing;
  width: 420px;
}

.textBoxContainer {
  box-shadow: var(--box-shadow-small);
  border-radius: var(--border-radius-small);
  background-color: var(--primary-background-color);
  padding: 12px 16px;
  width: 60%
}

.textBoxContent {
  margin-left: var(--spacing-large);
}
