@import "../../../styles/global-css-settings";
@import "../../../styles/themes";

.actionLink {
  @include theme-prop(color, text-color-on-primary);
  text-decoration: underline !important;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
