// DEBUG: FLAGS
// - Flag control debug tests: TRUE / FALSE
// -- This is done to improve readability and to check by scopes.

$debug-values: false;
$debug-show-pass: false;
$debug-show-converted: false;
$debug-show-converted-fail: false;

// Themes
$debug-basic-theme: false;
$debug-dark-theme: false;
$debug-black-theme: false;
$debug-hacker-theme: false;

// Scopes
$debug-palette: false;
$debug-legacy-palette: false;
$debug-keys: false;
$debug-legacy-keys: false;

// Example
$debug-example-verify-vibe-keys: false;