// DEBUG: FLAGS
// - Flag control debug tests: TRUE / FALSE
// -- This is done to improve readability and to check by scopes.

$debug-values: false;
$debug-show-pass: false;
$debug-show-converted: false;
$debug-show-converted-fail: true;

// Themes
$debug-basic-theme: true;
$debug-dark-theme: true;
$debug-black-theme: true;

// Scopes
$debug-palette: true;
$debug-legacy-palette: true;
$debug-keys: true;
$debug-legacy-keys: true;

// Example
$debug-example-verify-vibe-keys: false;