@import "../../styles/typography";

.formattedNumberComponent {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  width: 100%;
}

.prefix {
  white-space: pre;
}

.suffix {
  white-space: pre;
}
