@import "../../styles/global-css-settings";
@import "../../styles/typography";
@import "../../styles/themes";

.monday-style-toast {
  @include font-paragraph();
  @include box-shadow-medium();
  @include theme-prop(color, text-color-on-primary);
  margin: $spacing-medium;
  position: fixed;
  top: 0;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
  padding: $spacing-small;
  align-items: center;
  display: flex;
  min-width: 200px;
  border-radius: $border-radius-small;

  &-icon {
    display: flex;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }

  &-content {
    display: inline-flex;
    line-height: 22px;
    font-size: 14px;
    flex-grow: 1;
    &-no-icon {
      padding-left: $spacing-small;
    }
  }

  &-action {
    margin-left: $spacing-medium;
    display: flex;
    &_button,
    &_link {
      margin-left: $spacing-small;
    }
  }

  &--type {
    &-normal {
      @include theme-prop(background-color, primary-color);
    }
    &-positive {
      @include theme-prop(background-color, positive-color);
    }
    &-negative {
      @include theme-prop(background-color, negative-color);
    }
  }

  &-animation {
    &-enter-active,
    &-exit-active {
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    &-enter-active {
      animation-duration: var(--motion-expressive-long);
      animation-name: toast-pop-in;
    }

    &-exit-active {
      animation-duration: var(--motion-productive-long);
      animation-name: toast-pop-out;
    }
  }

  &_close-button {
    margin-left: $spacing-small;
  }
}

@keyframes toast-pop-in {
  0% {
    transform: translate(-50%, -115px);
  }
  25% {
    // down 130 px
    transform: translate(-50%, 15px);
    animation-timing-function: var(--motion-timing-enter);
  }

  66% {
    // up 20 px
    transform: translate(-50%, -5px);
    animation-timing-function: var(--motion-timing-exit);
  }

  100% {
    // down 5 px
    transform: translate(-50%, 0px);
    animation-timing-function: var(--motion-timing-exit);
  }
}

@keyframes toast-pop-out {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    // up 130 px
    transform: translate(-50%, -130px);
    animation-timing-function: var(--motion-timing-enter);
  }
}
