@import "../../styles/global-css-settings";
@import "../../styles/typography";
@import "../../styles/keyframes";

.toast {
  @include box-shadow-medium();
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
  margin: var(--spacing-medium);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: var(--spacing-small);
  align-items: center;
  display: flex;
  min-width: 200px;
  border-radius: var(--border-radius-small);
}

.icon {
  display: flex;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.content {
  display: inline-flex;
  flex-grow: 1;
}

.contentNoIcon {
  padding-left: var(--spacing-small);
}

.action {
  margin-left: var(--spacing-medium);
  display: flex;
}

// Could have been put to ToastButton and ToastLink, but would be a breaking change
.actionButton,
.actionLink {
  margin-left: var(--spacing-small);
}

.typeNormal {
  background-color: var(--primary-color);
}

.typePositive {
  background-color: var(--positive-color);
}

.typeNegative {
  background-color: var(--negative-color);
}

// Animation
.enterActive {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: var(--motion-expressive-long);
  animation-name: toast-slide-in-elastic;
}
.exitActive {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: var(--motion-productive-long);
  animation-name: toast-slide-out;
}

.closeButton {
  margin-left: var(--spacing-small);
}

@include keyframe(toast-slide-in-elastic) {
  @include slide-in-elastic();
}

@include keyframe(toast-slide-out) {
  @include slide-out();
}
