@import "../../../styles/global-css-settings";
@import "../../styles/typography";

.monday-style-anchor-list-item-media {
  @include theme-prop(color, link-color);
  font-size: $anchor-font-size;
  line-height: $text-line-height;

  &:not(:last-child) {
    /* some multiline-comment */
    margin-bottom: $spacing-small;
  }

  a {
    // some line-comment
    @include theme-prop(color, link-color);
  }

  @media (min-width: 768px) and (max-width: 1220px) {
    width: 500px;

    .num-of-actions {
      font-size: 24px !important;
    }

    .title {
      font-size: 20px !important;
    }

    .action-icon {
      font-size: 18px !important;
    }

    .action-name {
      font-size: 12px !important;
    }

    .pulses_dots {
      display: none !important;
    }

    @media (max-width: 900px) {
      width: 370px;

      .num-of-actions_wrapper {
        width: 50px !important;
      }

      .title {
        font-size: 15px !important;
        font-weight: 300 !important;
      }

      .batch-actions-delete-item {
        width: 50px !important;
      }
    }
  }
}
