@import "~monday-ui-style/dist/mixins";

.typography {
  // TODO: [breaking] remove anchor styles
  > a {
    text-decoration: none;
    color: var(--link-color);
    border-radius: 4px;
    outline: none;

    &:focus-visible,
    &.focus-visible {
      box-shadow: 0 0 0 3px hsl(209deg 100% 50% / 50%), 0 0 0 1px var(--primary-hover-color) inset;
    }

    &:focus:not(.focus-visible) {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &:disabled,
  &[aria-disabled="true"] {
    color: var(--disabled-text-color);
  }
}

.primary {
  color: var(--primary-text-color);
}

.secondary {
  color: var(--secondary-text-color);
}

.negative {
  color: var(--color-error);
}

.onPrimary {
  color: var(--text-color-on-primary);
  a {
    color: var(--text-color-on-primary);
    text-decoration: underline;
  }
}

.onInverted {
  color: var(--text-color-on-inverted);
  a {
    color: var(--text-color-on-inverted);
    text-decoration: underline;
  }
}

.fixedLight {
  color: var(--fixed-light-color);
  a {
    color: var(--fixed-light-color);
    text-decoration: underline;
  }
}

.fixedDark {
  color: var(--fixed-dark-color);
  a {
    color: var(--fixed-dark-color);
    text-decoration: underline;
  }
}

.inherit {
  color: inherit;
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.alignInherit {
  text-align: inherit;
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.singleLineEllipsis {
  @include ellipsis();
}

.multiLineEllipsis {
  @include line-clamp(var(--text-clamp-lines));
}

