@import "../../styles/typography.scss";

.formatted-number-component {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-family: $primary-font;
  width: 100%;

  &__prefix {
    white-space: pre;
  }

  &__suffix {
    white-space: pre;
  }
}
