@import "../../../styles/themes";
@import "../../../styles/typography";

.tabs--wrapper {
  padding-bottom: 20px;

  &.disabled {
    opacity: 0;
    height: 0;
    padding-bottom: 5px;
    pointer-events: none;
    ul li a:hover {
      cursor: default;
    }
  }

  ul {
    $border-height: 2px;
    list-style-type: none;
    font-size: 0;
    position: relative;

    li {
      display: inline-block;
      border-bottom: $border-height solid;
      @include theme-prop(border-color, primary-background-hover-color);

      &.active {
        @include theme-prop(border-bottom-color, primary-color);
      }

      a {
        display: inline-block;
        text-decoration: none;
        padding: 5px 20px;
        @include theme-prop(color, primary-text-color);
        font-weight: 400;
        font-size: 17px;
        user-select: none;
        margin-bottom: 1px;

        &:focus {
          outline: none;
        }

        &:hover {
          &:not(.disabled) {
            border-radius: 4px;
            @include theme-prop(background-color, primary-background-hover-color);
          }
        }

        &.disabled {
          @include theme-prop(color, disabled-text-color);
          cursor: not-allowed;
        }
      }
    }
  }
}
