@import "../../../styles/themes";
@import "../../../styles/typography";

.tabs--wrapper {
  padding-bottom: 20px;

  &.disabled {
    opacity: 0;
    height: 0;
    padding-bottom: 5px;
    pointer-events: none;
    ul li a:hover {
      cursor: default;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 0;
    position: relative;
    height: 40px;

    &.sm {
      height: 32px;
    }

    &.lg {
      height: 48px;
    }

    li {
      display: inline-block;
      border-bottom: 2px solid;
      @include theme-prop(border-color, primary-background-hover-color);
      text-align: center;
      height: 100%;

      &.active {
        @include theme-prop(border-bottom-color, primary-color);
      }

      &.disabled {
        a {
          cursor: not-allowed;
        }
      }

      &:not(.disabled) {
        a {
          &:hover {
            border-radius: 4px;
            @include theme-prop(background-color, primary-background-hover-color);
          }
        }
      }

      a {
        $margin-bottom: 1px;
        height: calc(100% - #{$margin-bottom});
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 4px 16px;
        @include theme-prop(color, primary-text-color);
        font-weight: 400;
        font-size: 16px;
        user-select: none;
        margin-bottom: $margin-bottom;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &.stretched {
    ul {
      width: 100%;

      li {
        width: 100%;

        a {
          width: 100%;
        }
      }
    }
  }
}
