.dialog-content-container-story {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-large);
  color: var(--primary-text-color);
}
.modal-background {
  backdrop-filter: opacity(0.5);
  padding: var(--spacing-large);
}
