.content-example {
  background-color: var(--primary-selected-color);
  padding: var(--spacing-xxl);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}
