@import "../../styles/themes";

.wrapper {
  display: flex;
}

.divider {
  @include theme-prop(background-color, ui-border-color);
  margin: 16px;
  height: 1px;
  width: 48px;

  &.compact {
    width: 16px;
    margin-left: var(--spacing-xs);
    margin-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
  }
}
