@import "~@vibe/style/dist/mixins";

.labelComponentWrapper {
  @include vibe-text(text2, normal);
  display: flex;
  padding-bottom: var(--space-4);
  align-items: center;
}

.labelComponentIcon {
  margin: 0 var(--space-8) 0 var(--space-4);
  line-height: 24px;
  color: var(--secondary-text-color);
}

.labelComponentText {
  color: var(--primary-text-color);
  padding-block: 2px;
}

.required {
  color: var(--negative-color);
}
