.iconWrapper {
  margin-right: var(--ezds-space-0100);

  &.rightIcon {
    margin-right: 0;
    margin-left: var(--ezds-space-0100);
  }

  &.withBackgroundColor {
    border-radius: var(--ezds-space-0050);

    &.disabled {
      opacity: 0.4;
    }

    .icon {
      color: var(--ezds-color-text-default-inverted);
    }
  }

  &.disabled .icon {
    cursor: not-allowed;
    color: var(--ezds-color-text-default-disabled);
  }

  .icon {
    color: var(--ezds-color-icon-subtle);

    &.selected {
      color: var(--ezds-color-background-accent-default);
    }
  }
}
