.iconWrapper {
  margin-inline-end: var(--space-8);

  &.rightIcon {
    margin-inline-end: 0;
    margin-inline-start: var(--space-8);
  }

  &.withBackgroundColor {
    border-radius: var(--space-4);

    &.disabled {
      opacity: 0.4;
    }

    .icon {
      color: var(--text-color-on-primary);
    }
  }

  &.disabled .icon {
    cursor: not-allowed;
    color: var(--disabled-text-color);
  }

  .icon {
    color: var(--icon-color);

    &.selected {
      color: var(--primary-color);
    }
  }
}
