@import "../../../styles/themes";
@import "../../../styles/typography";
@import "../../../styles/global-css-settings";

.title {
  @include font-default;
}

.caption {
  @include theme-prop(color, icon-color);
  margin: $spacing-small 0;
}

.captionCenter {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

.captionBottom,
.captionTop {
  padding-left: $spacing-small;
}

.captionBottom {
  padding-bottom: $spacing-small;
}

.captionCenter::before,
.captionCenter::after {
  content: "";
  flex-grow: 1;
  @include theme-prop(background-color, ui-border-color);
  height: 1px;
  font-size: 0;
  line-height: 0;
  margin: 0 $spacing-small;
}
