.monday-storybook-button-group {
  &_column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 60px;
  }
}

.monday-storybook-button-group-full-width {
  width: clamp(250px, 100%, 750px);
  border: 1px solid var(--ui-border-color);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-small);
}
