.monday-storybook-component-rules {
  display: flex;
  flex-direction: column;

  &_pair {
    display: flex;
    margin-bottom: 45px;
  }

  .monday-storybook-component-rule--recommended {
    margin-right: 43px;
  }
}