.monday-button-story-ai {
  align-items: center;
}

.menu-button-content-story {
  width: 250px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}
