@import "../../../styles/typography";
@import "../../../styles/themes";

.color-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }

  .color-rect {
    border: 1px solid var(--ui-border-color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    &.half-size {
      height: 30px;
    }
    .color-code-name {
      display: none;
      color: var(--color-snow_white);
      text-shadow: -1px -1px var(--primary-text-color);
    }
    &:hover {
      .color-code-name {
        display: flex;
      }
    }
  }

  .color-name {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-xs);
    color: var(--primary-text-color);
    font-size: 16px;
  }
  .color-value,
  .theme-name {
    font-size: 14px;
    color: var(--secondary-text-color);
  }
  .theme-name {
    margin-top: var(--spacing-small);
  }
}
