.largeComponentRule {
  height: fit-content !important;
  width: fit-content;
  padding: var(--sb-spacing-large);
}

.preview {
  padding-inline-start: 32px;
  padding-block-start: 40px;
  height: 100vh;
  width: 100%;
  container-type: inline-size;

  &.small {
    height: 360px;
  }

  &.medium {
    height: 416px;
  }

  &.large {
    height: 530px;
  }

  /**
    * The following css is to override the default dimensions of the modal component
    * this is necessary because in the documentation, we're "trapping" the modal component inside the preview component
    * so the modal component width and height be relative to the preview component and not the viewport
   */
  [aria-modal][role="dialog"] {
    &[class*="sizeSmall"] {
      --modal-max-height: 50%;
      --modal-width: 480px;
    }

    &[class*="sizeMedium"] {
      --modal-max-height: 80%;
      --modal-width: 580px;
    }

    &[class*="sizeLarge"] {
      --modal-max-height: 80%;
      --modal-width: 840px;
    }
  }
}
