@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.monday-style-attention-box-component {
  position: relative;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-general-label);
  width: fit-content;
  height: fit-content;
  @include theme-prop(color, dark-color);

  &_text--compact {
    display: flex;
    align-items: center;
    padding-right: var(--spacing-medium);
  }
  &__text,
  &__title-container {
    @include theme-prop(color, primary-text-color);
  }
  &--type {
    &-primary {
      @include theme-prop(color, primary-text-color);
      @include theme-prop(background-color, primary-selected-color);

      &__title-container {
        &__icon {
          @include theme-prop(color, primary-color);
        }
      }
    }

    &-danger {
      @include theme-prop(background-color, negative-color-selected);

      &__title-container {
        &__icon {
          @include theme-prop(color, negative-color);
        }
      }
    }

    &-success {
      @include theme-prop(background-color, positive-color-selected);

      &__title-container {
        &__icon {
          @include theme-prop(color, positive-color);
        }
      }
    }

    &-dark {
      @include theme-prop(background-color, primary-background-hover-color);
      @include theme-prop(color, primary-text-color);

      &__title-container {
        &__icon {
          @include theme-prop(color, primary-text-color);
        }
      }
    }
  }

  &__title-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: var(--spacing-small);

    &__icon {
      margin-right: var(--spacing-small);
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
    }
  }

  & &__close-icon {
    position: absolute;
    top: $spacing-small-medium;
    right: $spacing-small-medium;

    &.compact{
      top: calc(50% - 12px);
    }
  }
}
