@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.attentionBox {
  position: relative;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  color: var(--color-mud_black);
}

.title {
  margin: 0;
  font-weight: 700 !important;
  padding: 0 var(--spacing-xs);
}

.text,
.titleContainer {
  color: var(--primary-text-color);
}

.typePrimary {
  color: var(--primary-text-color);
  background-color: var(--primary-selected-color);
}

.typeDanger {
  background-color: var(--negative-color-selected);
}

.typeSuccess {
  background-color: var(--positive-color-selected);
}

.typeDark {
  background-color: var(--primary-background-hover-color);
  color: var(--primary-text-color);
}

.typeWarning {
  background-color: var(--warning-color-selected);
  color: var(--primary-text-color);
}

.titleContainer {
  margin-bottom: var(--spacing-small);
}

.titleContainer:empty {
  margin-bottom: 0;
}

.titleContainerIcon {
  margin-right: var(--spacing-xs);
}

.closeIcon.closeIcon {
  color: var(--primary-text-color);
}

.closeIconWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
}

.closeIconCompact {
  top: calc(50% - 16px);
}

.text {
  &.compact {
    flex: 1;

    &.dismissible {
      padding-right: var(--spacing-xl);
    }
  }

  &.paragraph {
    margin: 0;
  }
}
