@import "~@ezds/web/dist/mixins";

.editableTypography {
  display: inline-flex;
  min-width: 0;
  max-width: 100%;
  // Shifts the component to align the text with the container
  margin-left: -6px;
  overflow: hidden;
  position: relative;

  .input,
  .textarea {
    width: var(--input-width);
    display: inline-block;
    max-width: 100%;
    min-width: 64px;
    padding: 0 var(--ezds-space-0050);
    outline: none;
    border: 1px solid var(--ezds-color-background-accent-default);
    border-radius: var(--ezds-radius-0100);
    color: var(--ezds-color-text-default);
    background-color: transparent;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .textarea {
    resize: none;
    overflow: hidden;
    height: var(--input-height);
  }

  .typography {
    border: 1px solid transparent;
    padding: 0 var(--ezds-space-0050);
    border-radius: var(--ezds-radius-0100);

    &:hover:not(.disabled) {
      border-color: var(--ezds-color-border-strong);
    }

    &.hidden {
      position: absolute;
      opacity: 0;
      height: 0;
      visibility: hidden;
      white-space: pre;
    }

    &.placeholder {
      color: var(--ezds-color-text-subtle);
    }

    &.multiline {
      white-space: pre-wrap;
    }
  }
}
