@import "../../../styles/themes";

.monday-storybook-modal {
  &-dialog-wrapper {
    position: sticky !important;
    transform: none !important;
    bottom: 50% !important;
  }

  &-new {
    &-content-wrapper {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block-end: 24px;
    }


    &-buttons {
      display: flex;
      justify-content: end;
      margin-top: 24px;

      button + button {
        margin-inline-start: 12px;
      }

    }

    &-display-none {
      display: none;
    }
  }
}

.modal-content {
  color: var(--primary-text-color);
}
