@import "../../../styles/themes";

.monday-storybook-modal {
  &-dialog-bad-example {
    &-wrapper {
      position: sticky !important;
      transform: none !important;
      bottom: 50% !important;
    }
    &-content {
      margin-bottom: var(--spacing-large);
      margin-inline: var(--spacing-large);
    }
    &-heading {
      padding: 0;
    }
  }
}
