.accordion {
  height: fit-content;
  border: 1px solid var(--ezds-color-border-strong);
  box-sizing: border-box;
  border-radius: var(--ezds-radius-0100);
}

.accordion .accordionItemExpandCollapse {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--ezds-color-border-strong);
}

.accordion .accordionItemExpandCollapseLast {
  border-bottom: none;
}
