.tableCell {
  padding: 9px 16px;
  overflow: hidden;
  display: flex;
  align-items: center;

  &.sticky {
    z-index: 1;
    position: sticky;
    left: 0;
    box-shadow: var(--sticky-cell-box-shadow);
  }
}
