@import "~monday-ui-style/dist/mixins";
@import "../../styles/states";
@import "../../styles/typography";

.baseList {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  max-height: var(--baselist-max-height, none);
  @include smoothing-text;
  @include scroller();

  &:focus {
    outline: none;
  }
}
