.wrapper {
  overflow-y: auto;
  padding: 0;
  margin: 0;

  .groupTitle {
    color: var(--secondary-text-color);
    padding: 8px 4px 8px 4px;
    background-color: var(--fixed-light-color);

    &.sticky {
      position: sticky;
      top: 0;
    }
  }

  > li:not(:last-child) {
    margin-bottom: 2px;
  }
}
