@import "../../../styles/themes.scss";

.monday-storybook-button {
  &_icons {
    display: flex;
  }

  &_on-color-button {
    @include theme-prop(background, primary-color);
    height: 150px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}