.monday-storybook-breadcrumb-item {
  &_column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    ol {
      padding: 0;
    }
  }

  &_row-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    span {
      width: 100px;
    }
  }
}
