//  DARK THEME TOKENS: BASE COLORS
// - This partial defines Dark Theme's base color tokens
// -- Please notice Dark theme is also using basic theme colors as dependency.
// --- Only New theme related colors are defined here.

// Colors
// - Brand
$color-ocean_blue: #133774;

// - Semantics
$color-forest_green: #26503e;

$color-maroon_red: #642830;

// Natural / Gray
$color-midnight: #181b34;
$color-graphite: #30324e;
$color-silver: #4b4e69;
$color-fog: #797e93;
$color-snow: #d5d8df;
// - Muted
$color-silver_muted: #3c3f59;
$color-wolf_gray-muted: rgba($color-wolf_gray, 0.75);

// Text
$color-spacegrey: #9699a5;
$color-arctic_blue: #69a7ef;

// Shadow
$color-rift: #090B19;

// temp alias
// - todo: fix, not part of Vibe colors, used for:
// -- var(--label-background-color)
// -- var(--label-background-on-secondary-color)
$color-buster_blue: #404b69;
// - todo: fix, not part of Vibe colors, used for:
// -- var(--dark-background-color)
$color-carbon_blue: #393b53;
