@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/states";
@import "../../styles/keyframes";

.chips {
  display: inline-flex;
  overflow: hidden;
  height: 24px;
  border-radius: 4px;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  margin: 0 var(--spacing-xs);
  user-select: none;
  line-height: 22px;
  animation: chips-pop-in-emphasized var(--motion-productive-medium) var(--motion-timing-emphasize);
  @include font-general-text();
  &.border {
    height: 22px;
    border: 1px solid var(--text-color-on-primary);
    line-height: 21px;
  }
  &.withUserSelect {
    user-select: text;
    cursor: text;
  }

  .label {

    @include ellipsis();
  }

  &.noAnimation {
    animation: none;
  }

  &.withClose {
    padding-right: var(--spacing-xs);
  }

  .icon,
  .avatar,
  .customRenderer {
    min-width: 18px;
    &.left {
      margin-right: var(--spacing-xs);
    }
    &.right {
      margin-left: var(--spacing-xs);
    }
    &.close {
      margin-left: var(--spacing-xs);
      color: var(--primary-text-color);
    }
  }

  &.disabled {
    .icon {
      @include theme-prop(color, disabled-text-color);
    }
    .label {
      @include theme-prop(color, disabled-text-color);
    }
  }

  &.defaultCursor {
    cursor: default;
  }
}

@include keyframe(chips-pop-in-emphasized) {
  @include pop-in-emphasized();
}
