@import "../../styles/mixins/typography";

.vibe-sb-comps-visual-description {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &_visual {
    height: 40px;
    width: 40px;
    margin: 0 var(--sb-spacing-medium) 0 0;
    & > * {
      width: 100%;
      height: 100%;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    @include sb-content-text;
    color: var(--sb-secondary-text-color);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &_title {
    @include sb-content-text;
    font-weight: 500;
    margin: 0;
    color: var(--sb-primary-text-color);
  }
}
