@import "../../../styles/global-css-settings";
@import "../../styles/typography";

.monday-storybook-information-box-title{
  &_content {
    @include content-text-without-color;
    font-weight: bold;
    margin-bottom: $spacing-xs;
    margin-top: $spacing-xs;
    display: inline;
    &--link {
      cursor: pointer;
    }
  }
  &_link {
    color: var(--link-color);
    text-decoration: none;
  }
}
