@import "./themes";

@mixin disabled {
  @include theme-prop(border-color, disabled-background-color);
  @include theme-prop(color, disabled-text-color);
  cursor: not-allowed;
  pointer-events: none;
  &:hover {
    background-color: transparent;
  }
}
