$black: #000000;
$light_blue: #61caf7;
$basic_blue: #0085ff;
$primary: #0085ff;
$primary-hover: #0071d9;
$basic_light_blue: #c7e6fa;
$link_color: #1f76c2;
$dark_purple: #893dc5;
$blue_links: #0086c0;
$bazooka: #f65f7c;
$dark_marble: #f1f1f1;
$marble: #f7f7f7;
$gainsboro: #e1e1e1;
$snow_white: #ffffff;
$success: #00ca72;
$grass_green: #037f4c;
$dark_blue: #0071d9;
$jeans: #597bfc;
$purple: #a358df;
$error: #e44258;
$egg_yolk: #ffcb00;
$saladish: #cccc35;
$lipstick: #f279f2;
$working_orange: #fdab3d;
$aqua: #00d1d1;
$brown: #7f5347;
$blackish: #333333;
$explosive: #c4c4c4;
$american_gray: #808080;
$highlight_blue: #e5f4ff;
$pulse_text_color: #333333;
$highlight: #cce9ff;
$placholder_gray: #d8d8d8;
$placeholder_light_gray: #efefef;
$scrollbar_gray: #b2b2b2;
$timeline_grid_blue: #454662;
$timeline_blue: #1c1f3b;
$default_group_color: #579bfc;
$very_light_gray: #a1a1a1;
$pulse_bg: #f0f0f0;
$jade: #03c875;
$deadline_upcoming_indication: #5d6387;
$form_purple: #575c96;
$form_btn_hover: #0083d9;
$board_views_grey: #6e6f8f;
$board_views_blue: #1c1f3b;
$board_views_grey_hover: #b2b3d0;
$board_views_blue_secondary: #363a52;
$brand-blue: #00a9ff;
$brand-charcoal: #2b2c5c;
$brand-gold: #ffcc00;
$brand-green: #11dd80;
$brand-iris: #595ad4;
$brand-light-blue: #00cff4;
$brand-malachite: #00cd6f;
$brand-purple: #a358d0;
$brand-red: #f74875;
$public: #009aff;
$private: #f65f7c;
$share: #a358df;
$word-blue: #2a5699;
$ppt-orange: #d64e2a;
$excel-green: #207245;
$pdf-red: #bb0706;
$zip-orange: #e4901c;
$media-blue: #2ea2e9;
$surface: #292f4c;
$burned_eggplant: #181d37;
$live_blue: #009aff;
$extra_light_gray: #edeef0;
$glitter: #d9f0ff;
$ultra_light_gray: #ebebeb;
$red_shadow: #e2445c;
$green_shadow: #00c875;
$wolf_gray: #c5c7d0;
$mud_black: #323338;
$dark: #323338;
$storm_gray: #6b6d77;
$jaco_gray: #9699a6;
$riverstone_gray: #f5f6f8;
$ui_grey: #e6e9ef;
$border_light_gray: #f5f6f8;
$like_red: #fb275d;
$lime_green: #9cd326;
$lime-green: #9cd326;
$mustered: #cab641;
$dark_red: #bb3354;
$dark-red: #bb3354;
$trolley-grey: #808080;
$dark-purple: #784bd1;
$dark-orange: #ff642e;
$sofia_pink: #ff158a;
$dark-pink: #ff158a;
$turquoise: #66ccff;
$light-pink: #ff5ac4;
$red-shadow: #e2445c;
$orange: #fdab3d;
$yellow: #ffcb00;
$green-shadow: #00c875;
$grass-green: #037f4c;
$blue-links: #0086c0;
$bright-blue: #579bfc;
$amethyst: #a25ddc;
$green-haze: #00a359;
$sunset: #ff7575;
$bubble: #faa1f1;
$peach: #ffadad;
$berry: #7e3b8a;
$winter: #9aadbd;
$river: #68a1bd;
$navy: #225091;
$aquamarine: #4eccc6;
$indigo: #5559df;
$dark_indigo: #401694;
$asphalt: #676879;
$higlight: #dff0ff;
$ui_grey: #e6e9ef;

$theme: (
  "primary-color": $basic_blue,
  "primary-text-on-primary": $snow_white,
  "primary-hover-color": $dark_blue,
  "primary-selected-color": $higlight,
  "positive-color": $success,
  "negative-color": $error,
  "negative-color-hover": #b63546,
  "negative-color-selected": #b63546,
  "private-color": $private,
  "positive-color-hover": #00a25b,
  "primary-color-selected": #00a25b,
  "shareable-color": $purple,
  "ui-border-color": $ui_grey,
  "layout-border-color": $ui_grey,
  "placeholder-color": $asphalt,
  "icon-color": $asphalt,
  "disabled-background-color": $ui_grey,
  "disabled-text-color": $asphalt,
  "link-color": $link_color,
  "primary-text-color": $mud_black,
  "icon-color-hover": $wolf_gray,
  "main-nav-background-color": $surface,
  "primary-background-color": $snow_white,
  "secondary-background-color": $snow_white,
  "primary-background-hover-color": $wolf_gray,
  "dark-color": $mud_black,
  "dark-background-color": $riverstone_gray,
  "secondary-text-color": $mud_black,
  "text-color-on-primary": $snow_white,
  "inverted-color-background": $mud_black,
  "text-color-on-inverted": $snow_white,
  "dark-background-on-secondary-color": $riverstone_gray,
  "dialog-background-color": $snow_white,
  "modal-background-color": $snow_white,
  "box-shadow-small": 0px 4px 8px rgba(0, 0, 0, 0.2),
  "box-shadow-medium": 0px 6px 20px rgba(0, 0, 0, 0.2),
  "box-shadow-large": 0px 15px 50px rgba(0, 0, 0, 0.3)
);

$theme-var: (
  "primary-color": var(--primary-color),
  "primary-text-on-primary": var(--primary-text-on-primary),
  "primary-hover-color": var(--primary-hover-color),
  "primary-selected-color": var(--primary-selected-color),
  "positive-color": var(--positive-color),
  "positive-color-hover": var(--positive-color-hover),
  "positive-color-selected": var(--positive-color-selected),
  "negative-color": var(--negative-color),
  "negative-color-hover": var(--negative-color-hover),
  "negative-color-selected": var(--negative-color-selected),
  "private-color": var(--private-color),
  "shareable-color": var(--color-purple),
  "ui-border-color": var(--ui-border-color),
  "layout-border-color": var(--layout-border-color),
  "placeholder-color": var(--placeholder-color),
  "icon-color": var(--icon-color),
  "disabled-background-color": var(--disabled-background-color),
  "disabled-text-color": var(--disabled-text-color),
  "link-color": var(--link-color),
  "primary-text-color": var(--primary-text-color),
  "icon-color-hover": var(--color-wolf_gray),
  "primary-background-color": var(--primary-background-color),
  "secondary-background-color": var(--secondary-background-color),
  "primary-background-hover-color": var(--primary-background-hover-color),
  "dark-color": var(--color-mud_black),
  "dark-background-color": var(--dark-background-color),
  "secondary-text-color": var(--secondary-text-color),
  "text-color-on-primary": var(--text-color-on-primary),
  "inverted-color-background": var(--inverted-color-background),
  "text-color-on-inverted": var(--text-color-on-inverted),
  "dark-background-on-secondary-color": var(--dark-background-on-secondary-color),
  "dialog-background-color": var(--dialog-background-color),
  "modal-background-color": var(--modal-background-color),
  "box-shadow-small": var(--box-shadow-small),
  "box-shadow-medium": var(--box-shadow-medium),
  "box-shadow-large": var(--box-shadow-large)
);

@mixin theme-prop($property: color, $color-variable: primary-text-color, $important: false) {
  @if $important {
    #{$property}: theme-value-default($color-variable) !important;
    #{$property}: theme-value-var($color-variable) !important;
  } @else {
    #{$property}: theme-value-default($color-variable);
    #{$property}: theme-value-var($color-variable);
  }
}

@function theme-value-default($color-variable: primary-text-color) {
  @return map-get($theme, $color-variable);
}

@function theme-value-var($color-variable: primary-text-color) {
  @return map-get($theme-var, $color-variable);
}
