@import "./theme-mixin";
@import "~monday-ui-style/dist/index.min.css";

$white-theme-bg-color: #fff;
$white-theme-font-color: #333;
$white-theme-border: 1px solid #f1f1f1;

$surface-theme-bg-color: #5b607a;
$surface-theme-font-color: #fff;
