.card {
  width: 440px;
  height: 270px;
  border-radius: 22px;
  border: 1px solid var(--sb-layout-border-color);
  padding: 42px 32px;
  color: var(--sb-primary-text-color);
  flex-shrink: 0;
  text-decoration: none !important;

  .title {
    font-size: 28px;
    font-weight: 700;
    margin: 12px 0;
    letter-spacing: 0;
  }

  .icon {
    margin-bottom: 24px;
  }

  .description {
    color: var(--sb-secondary-text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.44px;
  }

  &:hover {
    background: var(--sb-allgrey-background-color);
    mix-blend-mode: multiply;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 270px;

    .description {
      font-size: 16px;
    }
  }
}
