@import "../../styles/global-css-settings";
@import "../../styles/typography";

.vibe-sb-comps-component-rule {
  &_component {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: $border-radius-medium;
    background: var(--dark-background-on-secondary-color);
    & > * {
      margin-right: $spacing-small;
    }

    & > video {
      object-fit: contain;
      object-position: center;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }
  }

  &_title {
    @include content-text;
    margin-bottom: $spacing-small;
    margin-top: $spacing-medium;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &_icon {
    width: 20px;
    height: 20px;
    border-radius: $border-radius-small;
    margin-right: $spacing-small-medium;
    color: var(--text-color-on-primary);
  }

  &_description {
    @include content-text;
    font-weight: 400;
  }

  &--recommended {
    .vibe-sb-comps-component-rule {
      &_icon {
        background: var(--positive-color);
      }

      &_component {
        box-shadow: inset 0 3px 0 var(--positive-color);
      }
    }
  }

  &--not-recommended {
    .vibe-sb-comps-component-rule {
      &_icon {
        background: var(--negative-color);
      }

      &_component {
        box-shadow: inset 0 3px 0 var(--negative-color);
      }
    }
  }
}
