@import "../../styles/mixins/typography";

.vibe-sb-comps-component-rule {
  &_component {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: var(--sb-border-radius-medium);
    background: var(--sb-dark-background-on-secondary-color);
    & > * {
      margin-right: var(--sb-spacing-small);
    }

    & > video {
      object-fit: contain;
      object-position: center;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    }
  }

  &_title {
    @include sb-content-text;
    margin-bottom: var(--sb-spacing-small);
    margin-top: var(--sb-spacing-medium);
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &_icon {
    width: 20px;
    height: 20px;
    border-radius: var(--sb-border-radius-small);
    margin-right: var(--sb-spacing-small-medium);
    color: var(--sb-text-color-on-primary);
  }

  &_description {
    @include sb-content-text;
    font-weight: 400;
  }

  &--recommended {
    .vibe-sb-comps-component-rule {
      &_icon {
        background: var(--sb-positive-color);
      }

      &_component {
        box-shadow: inset 0 3px 0 var(--sb-positive-color);
      }
    }
  }

  &--not-recommended {
    .vibe-sb-comps-component-rule {
      &_icon {
        background: var(--sb-negative-color);
      }

      &_component {
        box-shadow: inset 0 3px 0 var(--sb-negative-color);
      }
    }
  }
}
