.alertBanner {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.primary {
  background-color: var(--ezds-color-background-accent-default);
}

.positive {
  background-color: var(--ezds-color-background-success-default);
}

.negative {
  background-color: var(--ezds-color-background-danger-default);
}

.dark {
  background-color: var(--ezds-color-background-primary-inverted);
}

.warning {
  background-color: var(--ezds-color-background-warning-default);
  color: var(--ezds-color-text-default);

  .closeBtn {
    color: var(--ezds-color-text-default);
  }
}

.content {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  min-width: 0;
  align-items: center;
  justify-content: center;
  padding-left: var(--ezds-space-0200);
}

.closeButtonWrapper {
  flex: 0 0 40px;
  position: relative;
  height: 100%;
  min-width: 0;
}

.closeBtn {
  position: absolute;
  right: 4px;
  top: 4px;
}

.ellipsis {
  flex: 0 1 auto;
}

.contentItem {
  flex: 0 0 auto;
  min-width: 0;
}

.contentItemText {
  flex: 0 1 auto;
  min-width: 0;
}
