.bannerLink {
  text-decoration: underline;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.bannerLinkTextColorOnPrimary {
  color: var(--ezds-color-text-default-inverted);
}

.bannerLinkTextColorOnInverted {
  color: var(--ezds-color-text-default-inverted);
}

.marginLeft {
  margin-left: var(--ezds-space-0100);
}
