@import "../../../styles/states";

.tableRow {
  height: var(--table-row-size);
  display: grid;
  grid-template-columns: var(--table-grid-template-columns);
  min-width: 100%;
  width: fit-content;

  &[aria-selected="true"] > [role="cell"] {
    background-color: var(--primary-selected-color);
  }

  > [role="cell"] {
    background-color: var(--primary-background-color);
  }

  &:hover {
    > [role="cell"] {
      background: var(--sticky-cell-hover-background);
    }

    &[aria-selected="true"] > [role="cell"] {
      background: var(--primary-selected-hover-color);
    }
  }
}
