@import "../../../styles/states";

.tableRow {
  height: var(--table-row-size);
  display: grid;
  grid-template-columns: var(--table-grid-template-columns);

  &[aria-selected="true"] > * {
    background-color: var(--primary-selected-color);
  }

  &:hover {
    > * {
      background-color: var(--primary-background-hover-color);
    }

    &[aria-selected="true"] > * {
      background-color: var(--primary-selected-hover-color);
    }
  }

  &:global(.withExpandableContent) {
    &:hover {
        cursor: pointer;
    }
  }
}

.expandableRowContent {
  &:global(.visible) {
    border-bottom: 1px solid var(--layout-border-color);
  }
}