@import "../../styles/states";

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--ezds-space-0050);
  border-radius: var(--ezds-radius-0100);
  color: var(--ezds-color-text-default);
  cursor: pointer;
  @include focus-style-inset();

  &.highlighted,
  &:hover:not(.disabled):not(.readOnly) {
    background-color: var(--ezds-color-background-transparent-inverted);
  }

  &.disabled {
    color: var(--ezds-color-text-default-disabled);
    cursor: not-allowed;
  }

  &.readOnly {
    cursor: default;
  }

  &.selected {
    background-color: var(--ezds-color-background-accent-subtle);

    &.highlighted,
    &:hover:not(.disabled):not(.readOnly) {
      background-color: var(--ezds-color-background-accent-subtle--hover);
    }
  }

  &.small {
    padding: 6px var(--ezds-space-0100);
  }

  &.medium {
    padding: 9px 12px;
  }

  &.large {
    padding: 13px 12px;
  }

  .avatar,
  .icon {
    flex-shrink: 0;
  }

  .indent {
    width: 20px;
  }

  .endElement {
    padding-inline-start: var(--ezds-space-0100);
    margin-inline-start: auto;
    display: flex;
  }
}
