.monday-style-story-skeleton {
  &_text-container {
    display: flex;
    align-items: center;
  }

  &_element {
    margin-left: 16px;
  }

  .component-state-description-title{
    margin-bottom: 16px;
  }
}