@import "../../styles/themes";
@import "../../styles/typography";

.root {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.wrapper .menuButton {
  flex-shrink: 0;
}

.dummy {
  width: 100%;
  position: absolute;
  visibility: hidden;
}

.menuButtonDialog {
  display: flex;
}

.menuWrapperFlex {
  display: flex;
}
