@import "../../styles/themes";
@import "../../styles/typography";

.responsiveListRoot {
  position: relative;
}

.responsiveListWrapper {
  display: flex;
  justify-content: flex-end;
}

.responsiveList .responsiveListMenuButton {
  flex-shrink: 0;
}

.dummy {
  width: 100%;
  position: absolute;
  visibility: hidden;
}

.menuButtonDialog {
  display: flex;
}

.menuWrapperFlex {
  display: flex;
}
