@import "../../styles/themes.scss";
@import "../../styles/typography.scss";

.responsive-list--wrapper {
  display: flex;
  justify-content: flex-end;
  .responsive-list-menu-button {
    flex-shrink: 0;
  }
}
.responsive-list--menu-button-dialog {
  display: flex;
}
.responsive-list-menu-wrapper-flex {
  display: flex;
}
