.sectionName {
  margin: 0;
  position: sticky;
  top: 40px;
}

.subtitle {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.4px;
  margin-bottom: 32px;
  color: var(--sb-secondary-text-color);
}
