// HACLER THEME SETTINGS: This partial Defines a Unified settings map for the HACKER THEME Scope.
// - Map collect function is used in order to merge multiple maps.

$theme-hacker-legacy-settings: map-collect($theme-hacker-legacy-palette, $theme-hacker-legacy-keys);
