// HACKER THEME SETTINGS: This partial Defines a Unified settings map for the HACKER THEME Scope.
// - Map collect function is used in order to merge multiple maps.

$theme-hacker-settings: map-collect($theme-hacker-keys, $theme-hacker-shadow-keys);
