// Values from last prod before change
$debug-basic-theme-palette-map: (
        color-basic_blue: #0073ea,
        color-dark_blue: #0060b9,
        color-highlight_blue: #cce5ff,
        color-bazooka: #f65f7c,
        color-black: #000000,
        color-snow_white: #ffffff,
        color-riverstone_gray: #f6f7fb,
        color-ui_grey: #dcdfec,
        color-wolf_gray: #c3c6d4,
        color-asphalt: #676879,
        color-mud_black: #323338,
        color-link_color: #1f76c2,
        color-surface: #292f4c,
        color-success: #258750,
        color-success-hover: #007038,
        color-success-highlight: #bbdbc9,
        color-error: #d83a52,
        color-error-hover: #b63546,
        color-error-highlight: #f4c3cb,
);

// Value from current code
$debug-output-basic-theme-palette: $theme-basic-palette;

// Custom properties values the equal hard coded values
$debug-basic-theme-palette-custom-props-reference: ();

$debug-basic-theme-palette-custom-props-converted: ();

// White list approved changes
$debug-basic-theme-palette-white-list: (
);