// Values from last prod before change
$debug-basic-theme-keys-map: (
        primary-color: var(--color-basic_blue),
        primary-hover-color: var(--color-dark_blue),
        primary-selected-color: var(--color-highlight_blue),
        primary-text-color: var(--color-mud_black),
        text-color-on-primary: var(--color-snow_white),
        text-color-on-inverted: var(--color-snow_white),
        secondary-text-color: var(--color-asphalt),
        placeholder-color: var(--color-asphalt),
        icon-color: var(--color-asphalt),
        link-color: var(--color-link_color),
        primary-background-color: var(--color-snow_white),
        primary-background-hover-color: var(--color-ui_grey),
        secondary-background-color: var(--color-snow_white),
        grey-background-color: var(--color-riverstone_gray),
        allgrey-background-color: var(--color-riverstone_gray),
        inverted-color-background: var(--color-mud_black),
        disabled-background-color: #ecedf5,
        disabled-text-color: #bdbec7,
        positive-color-selected: var(--color-success-highlight),
        positive-color: var(--color-success),
        positive-color-hover: var(--color-success-hover),
        negative-color: var(--color-error),
        negative-color-hover: var(--color-error-hover),
        negative-color-selected: var(--color-error-highlight),
        private-color: var(--color-private),
        shareable-color: var(--color-purple),
        ui-border-color: var(--color-wolf_gray),
        layout-border-color: #d0d4e4,
        box-shadow-small:$box-shadow-small,
        box-shadow-medium: $box-shadow-medium,
        box-shadow-large: $box-shadow-large,
);

// Value from current code
$debug-output-basic-theme-keys: map-collect($theme-basic-keys, $theme-basic-shadow-keys);

// Custom properties values the equal hard coded values
$debug-basic-theme-custom-props-reference: (
);

$debug-basic-theme-keys-custom-props-converted: (
        primary-color: $primary-color,
        primary-hover-color: $primary-hover-color,
        primary-selected-color: $primary-selected-color,
        primary-text-color: $primary-text-color,
        text-color-on-primary: $text-color-on-primary,
        text-color-on-inverted: $text-color-on-inverted,
        secondary-text-color: $secondary-text-color,
        placeholder-color: $placeholder-color,
        icon-color: $icon-color,
        link-color: $link-color,
        primary-background-color: $primary-background-color,
        primary-background-hover-color: $primary-background-hover-color,
        secondary-background-color:$secondary-background-color,
        grey-background-color: $grey-background-color,
        allgrey-background-color: $allgrey-background-color,
        inverted-color-background: $inverted-color-background,
        positive-color-selected: $positive-color-selected,
        positive-color: $positive-color,
        positive-color-hover: $positive-color-hover,
        negative-color: $negative-color,
        negative-color-hover: $negative-color-hover,
        negative-color-selected: $negative-color-selected,
        shareable-color:$shareable-color,
        private-color:$private-color,
        ui-border-color:$ui-border-color,
);

// White list approved changes
$debug-basic-theme-white-list: (
        disabled-background-color: $disabled-background-color,
        disabled-text-color: $disabled-text-color,
);
