// Values from last prod before change
$debug-basic-theme-legacy-palette-map: (
        color-light_blue: #61caf7,
        color-basic_light_blue: #c7e6fa,
        color-placholder_gray: #d8d8d8,
        color-jaco_gray: #9699a6,
        color-blue_links: #0086c0,
        color-dark_marble: #f1f1f1,
        color-marble: #f7f7f7,
        color-gainsboro: #e1e1e1,
        color-jeans: #597bfc,
        color-aqua: #00d1d1,
        color-pulse_text_color: #333333,
        color-highlight: #dff0ff,
        color-placeholder_light_gray: #efefef,
        color-scrollbar_gray: #b2b2b2,
        color-timeline_grid_blue: #454662,
        color-timeline_blue: #1c1f3b,
        color-default_group_color: #579bfc,
        color-very_light_gray: #a1a1a1,
        color-pulse_bg: #f0f0f0,
        color-jade: #03c875,
        color-deadline_upcoming_indication: #5d6387,
        color-form_purple: #575c96,
        color-form_btn_hover: #0083d9,
        color-board_views_grey: #6e6f8f,
        color-board_views_blue: #1c1f3b,
        color-board_views_grey_hover: #b2b3d0,
        color-board_views_blue_secondary: #363a52,
        color-brand-blue: #00a9ff,
        color-brand-charcoal: #2b2c5c,
        color-brand-gold: #ffcc00,
        color-brand-green: #11dd80,
        color-brand-iris: #595ad4,
        color-brand-light-blue: #00cff4,
        color-brand-malachite: #00cd6f,
        color-brand-purple: #a358d0,
        color-brand-red: #f74875,
        color-public: #009aff,
        color-private: #f65f7c,
        color-word-blue: #2a5699,
        color-ppt-orange: #d64e2a,
        color-excel-green: #207245,
        color-pdf-red: #bb0706,
        color-zip-orange: #e4901c,
        color-media-blue: #2ea2e9,
        color-burned_eggplant: #181d37,
        color-live_blue: #009aff,
        color-extra_light_gray: #edeef0,
        color-glitter: #d9f0ff,
        color-ultra_light_gray: #ebebeb,
        color-red_shadow: #e2445c,
        color-green_shadow: #00c875,
        color-storm_gray: #6b6d77,
        color-border_light_gray: #f5f6f8,
        color-like_red: #fb275d,
        color-lime-green: #9cd326,
        color-mustered: #cab641,
        color-dark_red: #bb3354,
        color-trolley-grey: #808080,
        color-dark-purple: #784bd1,
        color-dark-pink: #ff158a,
        color-turquoise: #66ccff,
        color-light-pink: #ff5ac4,
        color-red-shadow: #e2445c,
        color-orange: #fdab3d,
        color-yellow: #ffcb00,
        color-green-shadow: #00c875,
        color-grass-green: #037f4c,
        color-blue-links: #0086c0,
        color-amethyst: #a25ddc,
        color-green-haze: #00a359,
        color-asphalt-with-opacity: rgba(103, 104, 121, 0.1),
        color-snow_white-with-opacity: rgba(255, 255, 255, 0.4),
        color-wolf_gray-with-opacity: rgba(195, 198, 212, 0.1),
        color-highlight_blue-rgb: (204, 229, 255),
);

// Value from current code
$debug-output-basic-theme-legacy-palette: $theme-basic-legacy-palette;

// Custom properties values the equal hard coded values
$debug-basic-theme-legacy-palette-custom-props-reference: ();

$debug-basic-theme-legacy-palette-custom-props-converted: ();

// White list approved changes
$debug-basic-theme-legacy-palette-white-list: (
);