.wrapper {
  --border-color: var(--ui-border-color);
  --background-color: var(--secondary-background-color);

  border-radius: var(--border-radius-small);
  border: 1px solid var(--border-color);
  background: var(--background-color);
  cursor: pointer;

  &:hover {
    --border-color: var(--primary-text-color);
  }

  &.active {
    --border-color: var(--primary-color);
  }

  &.disabled {
    --border-color: var(--disabled-background-color);
    --background-color: var(--disabled-background-color);
    cursor: not-allowed;
  }

  &.readOnly {
    --border-color: var(--allgrey-background-color);
    --background-color: var(--allgrey-background-color);
    cursor: default;
  }

  &.error {
    --border-color: var(--negative-color);
  }

  .inputWrapper {
    border: none;
  }

  .selectedItemOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    padding-inline: var(--spacing-xs) 0;

    &.small {
      padding-inline: var(--spacing-small) 0;
    } 

    &.faded {
      opacity: 0.6;
    }
  }
  
}
