.wrapper {
  --border-color: var(--ui-border-color);
  --background-color: var(--secondary-background-color);

  border-radius: var(--border-radius-small);
  border: 1px solid var(--border-color);
  background: var(--background-color);
  cursor: pointer;

  &:hover {
    --border-color: var(--primary-text-color);
  }

  &.active {
    --border-color: var(--primary-color);
  }

  &.disabled {
    --border-color: var(--disabled-background-color);
    --background-color: var(--disabled-background-color);
    cursor: not-allowed;
  }

  &.readOnly {
    --border-color: var(--allgrey-background-color);
    --background-color: var(--allgrey-background-color);
    cursor: default;
  }

  &.error {
    --border-color: var(--negative-color);
  }

  .inputWrapper {
    border: none;
    width: 100%;
    background: transparent;

    &.hasSelected {
      position: absolute;
      inset: 0;
      cursor: pointer;
    }
  }

  .selectedItem {
    position: relative;
    pointer-events: none;
    inset: 0;
    padding-inline-start: var(--spacing-xs);

    &.small {
      padding-inline-start: var(--spacing-small);
    }

    &.faded {
      opacity: 0.6;
    }
  }
}

.helperText {
  margin-top: var(--spacing-xs);
}
