@import "~monday-ui-style/dist/mixins";
@import "../../../../styles/themes";
@import "../../../../styles/typography";
@import "../../../../styles/global-css-settings";

.global-settings-general-component {
  margin-top: var(--sb-spacing-between-section-items);
  .global-settings-list {
    .global-settings-list-header {
      @include vibe-text(text1, bold);
      color: var(--primary-text-color);
    }
    .global-settings-list-item {
      @include font-input();
      color: var(--secondary-text-color);
    }
  }
  .global-settings-general-component-value {
    margin-top: var(--sb-spacing-medium);
    @include font-input();
    color: var(--secondary-text-color);
  }
}
