.wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  border-radius: var(--border-radius-small);
  color: var(--primary-text-color);
  cursor: pointer;

  &:hover:not(.disabled):not(.readOnly),
  &.highlighted {
    background-color: var(--primary-background-hover-color);
  }

  &.disabled {
    color: var(--disabled-text-color);
    cursor: not-allowed;
  }

  &.readOnly {
    cursor: default;
  }

  &.selected {
    background-color: var(--primary-selected-color);

    &:hover,
    &.highlighted {
      background-color: var(--primary-selected-hover-color);
    }
  }

  &.small {
    padding: 6px 8px;
    min-height: 32px;
    height: 32px;
  }

  &.medium {
    padding: 10px 12px;
    min-height: 40px;
    height: 40px;
  }

  &.large {
    padding: 14px 12px;
    min-height: 48px;
    height: 48px;
  }

  .avatar,
  .icon {
    flex-shrink: 0;
  }

  .indent {
    width: 20px;
  }

  .endElement {
    padding-inline-start: var(--spacing-small);
    margin-inline-start: auto;
    display: flex;
  }
}
