@import "../../../styles/themes.scss";
@import "../../../styles/typography.scss";

.monday-style-menu {
  &--small {
    width: 200px;
  }

  &--medium {
    width: 220px;
  }

  &--large {
    width: 240px;
  }
}
