@import "../../styles/themes.scss";
@import "../../styles/typography.scss";

.global-settings-general-component {
  .global-settings-list {
    .global-settings-list-header {
      @include font-paragraph-bold();
      color: var(--primary-text-color);
    }
    .global-settings-list-item {
      @include font-input();
      color: var(--secondary-text-color);
    }
  }
  .global-settings-general-component-value {
    margin-top: $spacing-medium;
    @include font-input();
    color: var(--secondary-text-color);
  }
}
