@import "../../styles/themes.scss";
@import "../../styles/typography.scss";

.global-design-story-container {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.global-design-spacing {
  height: 100px;
}

.global-design-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  margin: 0 $spacing-medium $spacing-xl;
  .title {
    color: var(--primary-text-color);
    @include font-paragraph-bold();
  }
  .secondary {
    color: var(--secondary-text-color);
    @include font-caption();
  }
}
