@import "../../styles/themes.scss";
@import "../../styles/typography.scss";

.spacing-xs {
  height: $spacing-xs;
}

.spacing-small {
  height: $spacing-small;
}

.spacing-medium {
  height: $spacing-medium;
}

.spacing-large {
  height: $spacing-large;
}

.spacing-xl {
  height: $spacing-xl;
}

.spacing-xxl {
  height: $spacing-xxl;
}

.spacing-xxxl {
  height: $spacing-xxxl;
}

.spacing-component-visualizer {
  background-color: #FFD1D1;
}

.spacing-component {
  display: flex;
  width: 95px;
  flex-direction: column;
  margin: 0 $spacing-medium;
}
.spacing-component-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-xs $spacing-small $spacing-xs;
  @include font-input();
  color: var(--primary-text-color);
}
