@import "../../styles/global-css-settings.scss";

.monday-style-skeleton {
  @include theme-prop(background, disabled-background-color);
  border-radius: $border-radius-small;

  &&--rectangle {
    $rectangle-default-size: 160px;
    height: $rectangle-default-size;
    width: $rectangle-default-size;
  }

  &--circle {
    border-radius: 50%
  }

  &&--text {

  }
}