@import "../../styles/global-css-settings.scss";

@mixin shine-animation() {
  overflow: hidden;
  &::before {
    display: inline-block;
    content:"";
    opacity: 0.1;
    background: linear-gradient(90deg, transparent 0%, var(--placeholder-color) 30%, var(--placeholder-color) 70%, transparent 100%);
    width: 300%;
    height: 300%;
    margin-bottom: 20px;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shine;
    animation-timing-function: $expand-animation-timing;
  }
  @keyframes shine {
    0% {
      margin-left: -500%;
    }
    100% {
      margin-left: 500%;
    }
  }
}

@mixin skeleton($radius: $border-radius-small) {
  @include theme-prop(background, dark-background-color); // should be replaced with all grey color
  border-radius: $radius;
  @include shine-animation;

}

.monday-style-skeleton {
  &_rectangle {
    $rectangle-default-size: 160px;
    height: $rectangle-default-size;
    width: $rectangle-default-size;
    @include skeleton;
  }

  &_circle {
    $circle-default-size: 40px;
    $circle-radius: 50%;
    height: $circle-default-size;
    width: $circle-default-size;
    @include skeleton($circle-radius);
  }

  &_text {
    width: 162px;
    @include skeleton;

    &--h1, &--h2, &--h3 {
      height: 24px;
    }
    &--h4 {
      height: 21px;
    }
    &--h5, &--h6, &--costume {
      height: 16px;
    }
  }

  &--adjust-child {
    .monday-style-skeleton_rectangle, .monday-style-skeleton_circle, .monday-style-skeleton_text {
      height: auto;
      width: initial;
    }
    .monday-style-skeleton_hidden-child {
      visibility: hidden;
    }
  }
}