@import "~@ezds/web/dist/mixins";

.toggle {
  @include reset-button();
  transition: background-color var(--ezds-motion-productive-medium) var(--ezds-motion-timing-transition);
  margin: 0 var(--ezds-space-0100);
  position: relative;
  height: var(--toggle-height);
  width: var(--toggle-width);
  cursor: pointer;
  border-radius: 100px !important;

  &::after {
    background-color: var(--ezds-color-background-primary);
    content: " ";
    position: absolute;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    top: calc(50% - 18px / 2);
    transition: left var(--ezds-motion-productive-medium) var(--ezds-motion-timing-transition);
  }

  &.selected {
    background-color: var(--ezds-color-background-accent-default);
    &::after {
      left: 20px;
    }
  }

  &.notSelected {
    background-color: var(--ezds-color-border-strong);
    &::after {
      left: 3px;
    }
  }

  &.disabled {
    opacity: var(--ezds-disabled-opacity);
    cursor: not-allowed;
  }

  &.medium {
    --toggle-width: 41px;
    --toggle-height: 24px;
    &::after {
      --circle-size: 18px;
    }
  }

  &.small {
    --toggle-width: 28px;
    --toggle-height: 16px;
    &::after {
      --circle-size: 12px;
      top: calc(50% - 6px);
      left: 14px;
    }
    &.notSelected {
      &::after {
        left: 2px;
      }
    }
  }

  &.noSpacing {
    margin: 0;
  }
}
