.text {
  color: var(--ezds-color-text-default);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.disabled {
  color: var(--ezds-color-text-default-disabled);
}
