.monday-style-story-avatar {
  &_multiplue-reverse {
    display: flex;
    align-items: flex-start;

    .monday-style-avatar {
      margin: -5px;
      &:first-child {
        z-index: 2;
      }
      &:nth-child(2) {
        z-index: 1;
      }
    }
  }

  &_multiplue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    .monday-style-avatar {
      margin: -8px;
    }
  }
}
