$full-view-margin: 40px;

.container {
  position: fixed;
  inset: 0;
  z-index: var(--monday-modal-z-index, 10000);
}

.overlay {
  position: fixed;
  inset: 0;
  height: 100%;
  background-color: var(--color-surface);
}

.modal {
  --top-actions-margin-inline: var(--spacing-large);
  --top-actions-margin-block: var(--spacing-large);
  --top-actions-width: var(--spacing-xl);
  --modal-inline-padding: var(--spacing-xl);

  position: relative;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  width: var(--modal-width);
  max-height: var(--modal-max-height);
  background-color: var(--primary-background-color);
  overflow: hidden;
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow-large);
  outline: none;

  &.withHeaderAction {
    --top-actions-width: calc(var(--spacing-xl) * 2);
  }

  &.sizeSmall {
    --modal-max-height: 50%;
    --modal-width: 460px;
  }

  &.sizeMedium {
    --modal-max-height: 80%;
    --modal-width: 540px;
  }

  &.sizeLarge {
    --modal-max-height: 80%;
    --modal-width: 800px;
  }

  &.sizeFullView {
    --top-actions-margin-inline: var(--spacing-xl);
    --modal-max-height: 100%;
    --modal-width: auto;

    position: fixed;
    inset: 0;
    height: calc(100% - $full-view-margin);

    margin-inline: var(--spacing-large);
    margin-block-start: $full-view-margin;

    border-end-start-radius: unset;
    border-end-end-radius: unset;
  }

  @media (min-width: 1280px) {
    &.sizeSmall {
      --modal-width: 480px;
    }

    &.sizeMedium {
      --modal-width: 580px;
    }

    &.sizeLarge {
      --modal-width: 840px;
    }
  }

  @media (min-width: 1440px) {
    &.sizeSmall {
      --modal-width: 520px;
    }

    &.sizeMedium {
      --modal-width: 620px;
    }

    &.sizeLarge {
      --modal-width: 900px;
    }
  }

  @media (min-width: 1720px) {
    &.sizeFullView {
      margin-inline: $full-view-margin;
    }
  }
}
