@import "../../../styles/global-css-settings";
@import "../../styles/content-spacing";
@import "../../styles/typography";

.argument {
  ul {
    padding: 0;
  }

  .argument {
    margin-left: 20px;
  }
}

.argument-name,
.argument-type,
.default-value {
  font-family: monaco, monospace;
  font-size: 85%;
}

.argument-name {
  margin-right: 5px;
}

.argument-type {
  color: var(--color-purple);

  &:before,
  &:after {
    color: var(--color-winter);
  }

  &:before {
    content: "<";
  }

  &:after {
    content: ">";
  }
}

.required {
  color: var(--color-sofia_pink);
  font-size: 80%;
}
