.tableHeaderCell {
  background-color: var(--primary-background-color);
  padding: 9px 8px;
  padding-inline-start: 16px;
  color: var(--secondary-text-color);
  box-sizing: border-box;
  text-align: initial;
  border-bottom: 2px solid var(--layout-border-color);
  height: 40px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: var(--allgrey-background-color);
  }

  .tableHeaderCellContent {
    min-width: 0;

    .text {
      &.hasInfo {
        margin-inline-end: var(--spacing-xs);
      }
    }

    .icon {
      margin-inline-end: var(--spacing-xs);
    }
  }

  .tableHeaderCellSort {
    padding-inline-start: var(--spacing-small);

    .sort {
      color: var(--icon-color);

      &.asc, &.desc {
        color: var(--primary-text-color);
      }
    }
  }
}
