@import "../../../../styles/global-css-settings.scss";
@import "../../../styles/content-spacing.scss";

.monday-storybook-principle {
  &_visual-element {
    background-color: var(--color-indigo);
    border-radius: $border-radius-small;
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_image {
    height: 126px;
    width: 173px;
  }
}