@import "../../styles/themes.scss";

.icon_component {
  position: relative;

  &:before {
    text-decoration: none !important;
  }

  &:focus {
    outline: 1px solid;
    @include theme-prop(outline-color, primary-color);
    &:hover {
      outline: 0;
    }
  }
  &--clickable {
    cursor: pointer;
    transition: outline-color 0.1s linear;
  }
}
