@import "../../styles/themes.scss";

.icon_component {
  position: relative;

  &:before {
    text-decoration: none !important;
  }

  &:focus {
    outline: none;
    -webkit-text-stroke-width: 1px;
    @include theme-prop(-webkit-text-stroke-color, primary-color);
    &:hover {
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: transparent;
    }
  }
  &.icon_component--clickable {
    cursor: pointer;
    transition: -webkit-text-stroke-color 0.1s linear;
  }
}
