.numberField {
  width: 100%;

  .label {
    padding-bottom: 0;
  }

  .leftIcon {
    color: var(--icon-color);
  }

  .input {
    padding-inline-end: var(--spacing-small);
  }

  .infoText {
    color: var(--secondary-text-color);
  }

  &.disabled {
    .infoText {
      color: var(--disabled-text-color);
    }
  }

  &.success {
    .infoText {
      color: var(--color-success);
    }
  }

  &.error {
    .infoText {
      color: var(--color-error);
    }
  }
}
