.largeComponentRule {
  height: fit-content !important;
  width: fit-content;
  padding: var(--sb-spacing-large);
}

.comparisonContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}

.comparisonItem {
  flex: 1;
  min-width: 300px;
  padding: var(--sb-spacing-medium);
  border: 1px solid var(--sb-border-color);
  border-radius: var(--sb-border-radius-medium);
}

.customIllustration {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ecedf5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tipContent {
  margin-top: 16px;
  
  ul {
    margin-top: 8px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 8px;
  }
} 