@import "../../../../styles/global-css-settings";
@import "../../../styles/content-spacing";

$principles-cell-min-width: 180px;

.monday-storybook-principles {
  margin-top: $spacing-between-section-items;

  @include grid-auto-fit(
    $grid-column-gap: $spacing-large,
    $grid-row-gap: $spacing-xxxl,
    $grid-cell-min-width: $principles-cell-min-width
  );

  * img {
    object-fit: cover;
  }
}
