@import "../../../../styles/global-css-settings";
@import "../../../styles/content-spacing";

$principles-cell-min-width: 180px;

.monday-storybook-principles {
  margin-top: $spacing-between-section-items;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{$principles-cell-min-width}, 1fr));
  column-gap: $spacing-large;
  row-gap: $spacing-xxxl;

  * img{ object-fit: cover}
}
