@import "~vibe-storybook-components/dist/mixins";

.monday-storybook-ability-description {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: var(--sb-layout-border-color);
  padding: var(--sb-spacing-large);
  width: 100%;
  &_image {
    height: 48px;
    width: 48px;
  }

  &_title {
    font-weight: 400;
    font-size: 18px;
    line-height: var(--sb-text-line-height);
  }

  &_content {
    @include sb-small-text;
    margin-bottom: var(--sb-spacing-large);
  }
}
