@import "../../../../styles/themes";
@import "../../../../styles/states";

.breadcrumbContent {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  @include theme-prop(color, secondary-text-color);
  padding: 0 2px;
  overflow: hidden;
  text-decoration: none;
  font-family: var(--font-family);
}

.breadcrumbContent .breadcrumbText {
  color: inherit;
  margin: 0 4px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbContent .breadcrumbIcon {
  height: 14px;
  width: 14px;
  flex-shrink: 0;
}

.breadcrumbContent:focus {
  outline: none;
}

.breadcrumbContent.clickable:hover,
.breadcrumbContent:focus-within {
  @include theme-prop(background-color, primary-background-hover-color);
  border-radius: 4px;
}

.breadcrumbContent.current {
  @include theme-prop(color, primary-text-color);
  font-weight: 500;
}

.breadcrumbContent.disabled {
  @include disabled;
  pointer-events: none;
}
