// CORE TOKENS: TYPOGRAPHY
// This partial Defines Global Typography tokens

// Font family
$font-family-english-heading: "Poppins";
$font-family-english-text: "Figtree";
$font-family-other-languages: "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
$text-font-family: $font-family-english-text, $font-family-other-languages;
$title-font-family: $font-family-english-heading, $font-family-other-languages;

// Font definition shorthands per semantics atom definitions
$font-h1-bold: 700 32px / 40px var(--title-font-family);
$font-h1-medium: 600 32px / 40px var(--title-font-family);
$font-h1-normal: 500 32px / 40px var(--title-font-family);
$font-h1-light: 300 32px / 40px var(--title-font-family);
$font-h2-bold: 700 24px / 30px var(--title-font-family);
$font-h2-medium: 600 24px / 30px var(--title-font-family);
$font-h2-normal: 500 24px / 30px var(--title-font-family);
$font-h2-light: 300 24px / 30px var(--title-font-family);
$font-h3-bold: 700 18px / 24px var(--title-font-family);
$font-h3-medium: 600 18px / 24px var(--title-font-family);
$font-h3-normal: 500 18px / 24px var(--title-font-family);
$font-h3-light: 300 18px / 24px var(--title-font-family);
$font-text1-bold: 700 16px / 22px var(--font-family);
$font-text1-medium: 600 16px / 22px var(--font-family);
$font-text1-normal: 400 16px / 22px var(--font-family);
$font-text2-bold: 700 14px / 20px var(--font-family);
$font-text2-medium: 600 14px / 20px var(--font-family);
$font-text2-normal: 400 14px / 20px var(--font-family);
$font-text3-bold: 700 12px / 16px var(--font-family);
$font-text3-medium: 600 12px / 16px var(--font-family);
$font-text3-normal: 400 12px / 16px var(--font-family);

// Letter spacing definition per semantics atom definitions
$letter-spacing-h1-bold: -0.5px;
$letter-spacing-h1-normal: -0.5px;
$letter-spacing-h1-light: -0.5px;
$letter-spacing-h2-bold: -0.1px;
$letter-spacing-h2-normal: -0.1px;
$letter-spacing-h2-light: -0.1px;
$letter-spacing-h3-bold: -0.1px;
$letter-spacing-h3-normal: -0.1px;
$letter-spacing-h3-light: -0.1px;
