// CORE TOKENS: OPACITY
// This partial defines global opacity tokens
// - Opacity tokens defines allowed values as part of our efforts to limit hard coded values.
//   - Currently they are derived from existing values.

$opacity-0: 0;
$opacity-10: 0.1;
$opacity-20: 0.2;
$opacity-30: 0.3;
$opacity-38: 0.38;
$opacity-40: 0.4;
$opacity-50: 0.5;
$opacity-60: 0.6;
$opacity-100: 1;
