// CORE TOKENS: SHADOWS
// This partial defines global shadow related tokens

$shadow-size-xs: 0px 4px 6px -4px;
$shadow-size-small: 0px 4px 8px;
$shadow-size-medium: 0px 6px 20px;
$shadow-size-large: 0px 15px 50px;
