.greeting {
  transform: rotate(3deg);
  border: 1.905px solid var(--sb-layout-border-color);
  border-radius: 30px;
  margin: 150px auto;
  padding: 96px;

  .intro {
    color: #979799;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.52px;
  }

  .content {
    color: var(--sb-primary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 54px;
    line-height: 135%;
    letter-spacing: 1.2px;
    text-wrap: balance;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .greeting {
    max-width: 600px;

    .intro {
      font-size: 20px;
    }

    .content {
      font-size: 44px;
    }
  }
}

@media screen and (max-width: 800px) {
  .greeting {
    max-width: 400px;
    padding: 72px;

    .intro {
      font-size: 16px;
    }

    .content {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 600px) {
  .greeting {
    max-width: 300px;
    padding: 54px;

    .intro {
      font-size: 14px;
    }

    .content {
      font-size: 22px;
    }
  }
}
