.greeting {
  transform: rotate(3deg);
  border: 1.905px solid var(--sb-layout-border-color);
  max-width: 920px;
  border-radius: 30px;
  margin: 130px 80px;
  padding: 72px 72px 48px 72px;

  .intro {
    color: #979799;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.52px;
  }

  .content {
    color: var(--sb-primary-text-color);
    font-family: var(--sb-title-font-family);
    font-size: 34px;
    line-height: 135%;
    letter-spacing: 0.68px;
    margin-bottom: 24px;
  }
}
