.section {
  color: var(--sb-primary-text-color);
  -webkit-font-smoothing: initial;
  font-family: var(--sb-title-font-family);
  letter-spacing: -1.333px;
  font-size: 28px;
  line-height: 113%;
  font-weight: 600;
  margin-bottom: var(--sb-space-16);
}
