.colors-example-frame {
  display: flex;
  justify-content: center;
}

.content-colors-table {
  width: 80%;
}

.card-colors-example-img {
  width: 679px;
}
.menu-colors-example-img {
  width: 699px;
}