@import "../../../styles/themes.scss";
@import "../../../styles/typography.scss";

.monday-storybook-multiStepIndicator {
  &_column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  &_row-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 30px;

    .title {
      width: 140px;
    }
  }

  &_big-size {
    width: 100%;
  }

  &_spacing {
    width: 400px;
    height: 80px;
    padding-bottom: 10px;
    @include theme-prop(background-color, primary-background-color);
    @include theme-prop(box-shadow, box-shadow-medium);
  }

  &_box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_line {
    margin-left: -40px;
    .monday-style-divider {
      width: 130px;
    } 
  }
}
