@import "../../../styles/themes";
@import "../../../styles/typography";

.monday-storybook-multiStepIndicator {
  &_column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  &_row-wrapper {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  &_title {
    width: 140px;
  }

  &_size {
    width: 700px;
  }
  
  &_big-size {
    width: 100%;
  }

  &_small-size {
    padding: 0;
  }

  &_spacing {
    width: 400px;
    height: 80px;
    padding-bottom: 10px;
    @include theme-prop(background-color, primary-background-color);
    @include theme-prop(box-shadow, box-shadow-medium);
  }

  &_box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  &_line {
    margin-left: -40px;
    .monday-style-divider {
      width: 120px;
    } 
  }

  &_overflow {
    figure {
      overflow: hidden;
    }
  }
}
