.tableCellSkeletonWrapper {
  height: 100%;

  &.longText {
    padding-inline-end: var(--space-24);
  }

  &.mediumText {
    padding-inline-end: var(--space-64);
  }

  .tableCellSkeleton {
    height: 100%;

    &.circle,
    &.rectangle {
      width: auto;
      aspect-ratio: 1 / 1;
    }
  }
}
