@import "../../../styles/global-css-settings.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/themes.scss";

.monday-style-button.monday-style-alert-banner-button {
  // @include theme-prop(color, text-color-on-primary);
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

// .monday-style-alert-banner-link-dark-background {
//   .monday-style-link.monday-style-alert-banner-link {
//     @include theme-prop(color, text-color-on-inverted);
//   }
// }

.monday-style-alert-banner-button-margin-left {
  margin-left: $spacing-small;
}
