@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.monday-style-divider {
  @include theme-prop(background-color, layout-border-color);

  &--horizontal {
    height: 1px;
    width: 100%;
    margin: $spacing-small 0;
  }

  &--vertical {
    height: 100%;
    width: 1px;
    margin: 0 $spacing-xs;
  }
}
