@import "../../styles/themes";
@import "../../styles/global-css-settings";

@mixin frame() {
  border: var(--layout-border-color) 1px solid;
  border-radius: $border-radius-medium;
  @include theme-prop(border-color, layout-border-color);
}