@import "../../../styles/global-css-settings";
@import "../../../styles/states";
@import "../../../styles/themes";

.sliderRail {
  cursor: pointer;
  display: inline-block;
  position: relative;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
