.outerWrapper {
  width: 100%;
}
.wrapper {
  --border-color: var(--ezds-color-border-strong);
  --background-color: var(--ezds-color-background-primary);

  border-radius: var(--ezds-radius-0100);
  box-shadow: inset 0 0 0 1px var(--border-color);
  background: var(--ezds-color-background-primary);
  cursor: pointer;

  &:hover {
    --border-color: var(--ezds-color-text-default);
  }

  &.active,
  &:focus {
    --border-color: var(--ezds-color-background-accent-default);
  }

  &.disabled {
    --border-color: var(--ezds-color-background-disabled);
    --background-color: var(--ezds-color-background-disabled);
    cursor: not-allowed;
  }

  &.readOnly {
    --border-color: var(--ezds-color-background-quaternary);
    --background-color: var(--ezds-color-background-quaternary);
    cursor: default;
  }

  &.error {
    --border-color: var(--ezds-color-background-danger-default);
  }

  &.boxMode {
    box-shadow: none;
    background: transparent;
    cursor: default;
  }

  &.borderless {
    --border-color: transparent;

    &:hover {
      --border-color: var(--ezds-color-text-default);
    }

    &.active,
    &:focus {
      --border-color: var(--ezds-color-background-accent-default);
    }
  }
}
.helperText {
  margin-top: var(--ezds-space-0050);
}
