@import "../../../../styles/global-css-settings";

.monday-storybook-welcome-header {
  position: relative;
  width: 100%;
  height: 294px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/WelcomePageCover.png');

  &_text {
    width: 461px;
    z-index: 1;
    align-content: center;
  }
  &_image {
    right: 0;
    position: absolute;
  }
}