@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.headingComponent {
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  min-width: 0;
  @include heading-padding();
  /**
  Legacy heading contains the browser default heading margin and removing it will be a breaking change
  */
  margin: revert;
}

.headingComponent.multiLineEllipsis {
  @include line-clamp(var(--heading-clamp-lines));
}

/* This is needed to support ellipsis in the middle of the word */

.headingComponent.singleLineEllipsis {
  @include ellipsis();
}

.headingComponent.suggestEditOnHover:hover {
  cursor: text;
  border: 1px solid;
  @include theme-prop(border-color, ui-border-color);
}

/* Override tags styles */

.elementTypeLink {
  text-decoration: none;
  color: var(--link-color);
}
