@import "../../styles/themes.scss";
@import "../../styles/typography.scss";

.heading-component {
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  min-width: 0;

  @include heading-padding();

  &.heading-element-ellipsis {
    @include line-clamp(var(--heading-clamp-lines));
  }

  &.suggest-edit-on-hover {
    &:hover {
      cursor: text;
      border: 1px solid;
      @include theme-prop(border-color, ui-border-color);
    }
  }
}
