.boxModeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  --border-color: var(--ezds-color-border-strong);
  --background-color: var(--ezds-color-background-primary);

  border-radius: var(--ezds-radius-0100);
  box-shadow: inset 0 0 0 1px var(--border-color);
  background: var(--ezds-color-background-primary);
  width: 100%;

  &:hover {
    --border-color: var(--ezds-color-text-default);
  }

  &:focus-within {
    --border-color: var(--ezds-color-background-accent-default);
  }

  &.disabled {
    --border-color: var(--ezds-color-background-disabled);
    --background-color: var(--ezds-color-background-disabled);
  }

  &.readOnly {
    --border-color: var(--ezds-color-background-quaternary);
    --background-color: var(--ezds-color-background-quaternary);
  }

  &.error {
    --border-color: var(--ezds-color-background-danger-default);
  }
}

.menuContainer {
  width: 100%;
}
