.boxModeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  --border-color: var(--ui-border-color);
  --background-color: var(--secondary-background-color);

  border-radius: var(--border-radius-small);
  box-shadow: inset 0 0 0 1px var(--border-color);
  background: var(--background-color);
  width: 100%;

  &:hover {
    --border-color: var(--primary-text-color);
  }

  &:focus-within {
    --border-color: var(--primary-color);
  }

  &.disabled {
    --border-color: var(--disabled-background-color);
    --background-color: var(--disabled-background-color);
  }

  &.readOnly {
    --border-color: var(--allgrey-background-color);
    --background-color: var(--allgrey-background-color);
  }

  &.error {
    --border-color: var(--negative-color);
  }
}

.menuContainer {
  width: 100%;
}
