@import "../../../styles/global-css-settings";
@import "../../styles/content-spacing";
@import "../../styles/typography";

.monday-storybook-usage-guidelines{
  &_guideline {
    color: var(--primary-text-color);
    margin: var(--spacing-medium) var(--spacing-small);
    display: flex;
    align-items: center;
    @include content-text;
    &:first-child {
      margin-top: 0;
    }
  }

  &_icon {
    font-size: 16px;
    line-height: 21px;
    margin-right: var(--spacing-medium);
    display: flex;
    align-self: flex-start;
    margin-top: 2px;
  }
}
