@import "../../../styles/global-css-settings.scss";
@import "../../styles/content-spacing";

.monday-storybook-usage-guidelines{
  &_guideline {
    color: var(--primary-text-color);
    margin: var(--spacing-medium) var(--spacing-small);
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    &:first-child {
      margin-top: 0;
    }
  }

  &_icon {
    font-size: 16px;
    line-height: 21px;
    margin-right: var(--spacing-medium);
    display: flex;
    align-items: center;
  }
}
