@import "../../styles/global-css-settings.scss";
@import "../styles/content-spacing";

.monday-storybook-usage-guidelines{
  margin-top: $spacing-between-section-items;
  &_guideline {
    margin: $spacing-medium 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    &:first-child {
      margin-top: 0;
    }
  }

  &_icon {
    margin-right: $spacing-small;
  }
}