.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    width: 100%;
    margin-block: var(--ezds-space-0500) var(--ezds-space-0400);
    padding-inline-end: calc(var(--top-actions-margin-inline) + var(--top-actions-width) + var(--ezds-space-0200));
    padding-inline-start: var(--modal-inline-padding);
  }

  .divider {
    flex-shrink: 0;
    opacity: 0;
    transition: opacity var(--ezds-motion-productive-medium) ease-out;

    &.showDivider {
      opacity: 1;
    }
  }

  .content {
    padding-block-end: var(--ezds-space-0500);
  }
}
