.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    width: 100%;
    margin-block: var(--spacing-xl) var(--spacing-large);
    padding-inline-end: calc(var(--top-actions-margin-inline) + var(--top-actions-width) + var(--spacing-medium));
    padding-inline-start: var(--modal-inline-padding);
  }

  .divider {
    flex-shrink: 0;
    opacity: 0;
    transition: opacity var(--motion-productive-medium) ease-out;

    &.showDivider {
      opacity: 1;
    }
  }

  .content {
    padding-block-end: var(--spacing-xl);
  }
}
