@import "../../styles/themes.scss";
@import "../../styles/typography.scss";
@import "../../styles/states.scss";

.monday-style-clickable {
  @include focus-style;

  cursor: pointer;

  &--disable-text-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none; /* Safari */
    user-select: none; /* Konqueror HTML */
    user-select: none; /* Old versions of Firefox */
    user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}
