@import "../../styles/typography";
@import "../../styles/keyframes";

.counter {
  display: inline-flex;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  transform-origin: center;
  @include keyframe(counter-pop-elastic) {
    @include pop-elastic();
  }
}

.withAnimation {
  animation: counterPopElastic var(--ezds-motion-expressive-short);
}

.sizeXs {
  @include vibe-text(text3, normal);
  @include smoothing-text;
  min-width: 18px;
  line-height: 18px;
  padding: 0 var(--ezds-space-0100);
}

.sizeSmall {
  @include font-caption();
  min-width: 18px;
  line-height: 18px;
  padding: 0 var(--ezds-space-0100);
}

.sizeLarge {
  @include label-text();
  min-width: 24px;
  padding: 2px var(--ezds-space-0100);
}

.kindFill.colorPrimary {
  color: var(--ezds-color-text-default-inverted);
  background-color: var(--ezds-color-background-accent-default);
}

.kindFill.colorDark {
  color: var(--ezds-color-text-default-inverted);
  background-color: var(--ezds-color-background-primary-inverted);
}

.kindFill.colorNegative {
  color: var(--ezds-color-text-default-inverted);
  background-color: var(--ezds-color-background-danger-default);
}

.kindFill.colorLight {
  color: var(--ezds-color-text-default);
  background-color: var(--ezds-color-background-secondary);
}

.kindLine {
  box-shadow: 0 0 0 1px currentColor inset;
}

.kindLine.colorPrimary {
  color: var(--ezds-color-background-accent-default);
}

.kindLine.colorDark {
  color: var(--ezds-color-background-primary-inverted);
}

.kindLine.colorNegative {
  color: var(--ezds-color-background-danger-default);
}

.kindLine.colorLight {
  color: var(--ezds-color-text-default);
  box-shadow: 0 0 0 1px var(--ezds-color-background-secondary) inset !important;
}

// Animations
/* New number enters */

.fadeEnter {
  opacity: 0;
  transform: translateY(15px);
}

.fadeEnterActive {
  position: relative;
  opacity: 1;
  transition: transform var(--ezds-motion-productive-long) var(--ezds-motion-timing-enter), opacity var(--ezds-motion-productive-short);
  transform: translateY(0);
}

/* Old number exits */

.fadeExit {
  position: relative;
  opacity: 1;
  transform: translateY(0);
}

.fadeExitActive {
  position: relative;
  opacity: 0;
  transform: translateY(-15px);
  transition: transform var(--ezds-motion-productive-long) var(--ezds-motion-timing-exit), opacity var(--ezds-motion-productive-short);
}
