@import "../../styles/themes.scss";

.monday-style-modal-header {
    display: flex;
    align-items: center;
    .title {
      font-size: var(--font-size-h2);
      font-weight: var(--font-weight-bold);
      color: var(--primary-text-color);
      flex-grow: 1;
      &:focus {
        color: red;
      }
  }
}
