@import "../../../styles/global-css-settings";
@import "../../../styles/themes";
@import "../../../styles/typography";

.linearProgressBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size-general-label);
  @include theme-prop(color, secondary-text-color);
}

.linearProgressBarWrapper .linearProgressBarLabel {
  padding-left: var(--spacing-xs);
}

.linearProgressBarWrapperLarge {
  height: 8px;
  line-height: 8px;
}

.linearProgressBarWrapperMedium {
  height: 6px;
  line-height: 6px;
}

.linearProgressBarWrapperSmall {
  height: 4px;
  line-height: 4px;
}

.linearProgressBarWrapper .linearProgressBarContainer {
  position: relative;
  width: 100%;
  @include theme-prop(background-color, primary-background-hover-color);
  border-radius: $border-radius-small;
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondary,
.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBar {
  left: 0;
  height: 100%;
  position: absolute;
  border-radius: $border-radius-small;
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryAnimate,
.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarAnimate {
  transition: width var(--motion-productive-medium) var(--motion-timing-transition);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryPrimary,
.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarPrimary {
  @include theme-prop(background-color, primary-color);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondarySecondary,
.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondary {
  @include theme-prop(background-color, dark-color);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryPositive,
.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarPositive {
  @include theme-prop(background-color, positive-color);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryNegative,
.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarNegative {
  @include theme-prop(background-color, negative-color);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryPrimary {
  background-color: var(--primary-selected-color);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondarySecondary {
  background-color: var(--ui-border-color);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryPositive {
  background-color: var(--positive-color-selected);
}

.linearProgressBarWrapper .linearProgressBarContainer .linearProgressBarSecondaryNegative {
  background-color: var(--negative-color-selected);
}
