@import "../../styles/themes";

.container,
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container[aria-hidden="true"] {
  display: none;

}

.overlay {
  background-color: rgba(41, 47, 76, 0.7);
}

.dialog {
  z-index: 2;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 30px;
  padding-block-end: 24px;
  border-radius: 16px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-background-color);
  max-height: 90vh;
  max-width: 90vw;

  &.default {
    width: 550px;
  }

  &.full {
    width: 100vw;
  }
}