@import "../../styles/themes.scss";
/**
   * 1. Make the dialog container, and its child overlay spread across
   *    the entire window.
   */
.container,
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container[aria-hidden="true"] {
  display: none;

}

.overlay {
  background-color: rgba(41, 47, 76, 0.7);
}

.dialog {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-block-end: 24px;
  border-radius: 16px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-background-color);
  max-height: 90vh;
  max-width: 90vw;

  &.default {
    width: 550px;
  }

  &.full {
    width: 100vw;
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-play-state: running;
  animation-duration: .2s;
}

.zoomOut {
  animation-name: zoomOut;
  animation-play-state: running;
  animation-duration: .1s;
}

.fadeId {
  animation-name: fadeIn;
  animation-play-state: running;
  animation-duration: .2s;
}

@keyframes zoomIn {
  0% {
    transform: scale(.02);
    opacity: 0
  }

  to {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1)
  }

  to {
    transform: scale(.2);
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}