.contributor {
  border-radius: 5px;
  background-color: var(--sb-dark-background-color);
  display: inline-block;
  padding: 4px 10px;
  margin: 0 12px 12px 0;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background-color: var(--sb-primary-background-hover-color);
  }

  .image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }
}
