.sectionName {
  margin: 0;
  position: sticky;
  top: 0;
}

.subtitle {
  font-size: 22px;
  line-height: 135%;
  letter-spacing: 0.427px;
  margin-bottom: 32px;
}

@media screen and (max-width: 1200px) {
  .contributorsSection {
    display: grid;
  }
}
