.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: var(--sb-secondary-text-color);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 140%;
  margin: 0;
}

.team {
  --team-gap: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(200px, calc((100% - (3 * var(--team-gap))) / 4)), 1fr));
  gap: var(--team-gap);
  max-width: 100%;

  @media screen and (min-width: 1440px) {
    --team-gap: 64px;
  }

  .teamItem {
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
