.rowMenuContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--space-8);

  &.small {
    padding-block: var(--space-4);
  }

  &.medium {
    padding-block: var(--space-8);
  }

  &.large {
    padding-block: 12px;
  }
}
