.rowMenuContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--ezds-space-0100);

  &.small {
    padding-block: var(--ezds-space-0050);
  }

  &.medium {
    padding-block: var(--ezds-space-0100);
  }

  &.large {
    padding-block: 12px;
  }
}
