.rowMenuContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--spacing-small);

  &.small {
    padding-block: var(--spacing-xs);
  }

  &.medium {
    padding-block: var(--spacing-small);
  }

  &.large {
    padding-block: 12px;
  }
}
