@import "../../../styles/themes.scss";

.monday-storybook-tooltip {
  &_box {
    padding: 20px 30px;
    display: flex;
    gap: 16px;
  }

  &_icon-wrapper {
      display: flex;
      padding: 6px;
      gap: 8px;
      align-items: center;
      background-color: var(--color-ui_grey);;
  }
}
