.monday-storybook-alert-banner {
  &_column-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
  }

  &_big-container {
     width: 610px;
  }

  &_small-container {
    width: 320px;
  }

  &_medium-container {
    width: 392px;
  }

  &_pink {
    .monday-alert-banner__close-button-wrapper {
      background: var(--private-color);
    }
    .monday-alert-banner__inner {
      background: var(--private-color);
    }
    .monday-alert-banner__alert-banner-close-btn {
      background: var(--private-color);
    }
  }
}
