.monday-storybook-spacing-usage-examples-container {
  width: 100%;
  
  .storybook-spacing-table-token-name {
    margin: 0 8px;
  }

  .monday-storybook-spacing-usage-examples-img { 
    width: 260px;
    height: 180px;
  }
}