@import "../../../../styles/themes.scss";
@import "../../../../styles/typography.scss";

.icon-title-header-container {
  margin-left: $spacing-small;
  flex-grow: 1;
  justify-content: flex-start;
}

.icon-title-header-title {
  @include font-paragraph-bold();
  display: block;
}

.icon-title-header-sub-text {
  @include font-input();
  display: block;
}