@import "../../../styles/themes.scss";

.storybook-counter {
  &_column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100px;
    margin-right: 160px;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 28px;
    justify-content: center;
  }
}
