.container {
  display: flex;
  flex-direction: column;
}

.largeComponentRule {
  height: fit-content !important;
  width: 100%;
  padding: var(--sb-spacing-large);

  &:has(.small) {
    flex: 1;
  }

  img {
    height: 250px;
    width: 100%;
    object-fit: contain;
    object-position: center;

    &.small {
      height: 150px;
    }
  }
}

.useCase {
  display: flex;

  img {
    max-width: 70%;
    margin: auto;
  }
}
