@import "../../styles/themes";
@import "../../styles/typography";

.listItemIcon {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.listItemIconStart {
  margin-right: var(--spacing-small);
}

.listItemIconEnd {
  margin-left: var(--spacing-small);
}
