@import "../../styles/themes";
@import "../../styles/typography";

.listItemIcon {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.iconStart {
  margin-right: var(--spacing-small);
}

.iconEnd {
  margin-left: var(--spacing-small);
}
