.monday-storybook-typography {
  &_image-container {
    display: flex;
    justify-content: center;

    &--first {
      margin-bottom: var(--sb-spacing-between-section-items);
    }
  }

  &_popup-example {
    height: 404px;
  }

  &_timeline-example {
    height: 179px;
    width: 527px;
  }
}
