@import "../../styles/content-spacing";
@import "../../styles/mixins";

.monday-storybook-typography {
  &_image-container{
    display: flex;
    justify-content: center;

    &--first {
      margin-bottom: $spacing-between-section-items;
    }
  }

  &_popup-example {
    height: 404px;
  }

  &_timeline-example {
    height: 179px;
    width: 527px;
  }
}