@import '../../styles/mixins/typography';

.usageGuidelines {
  margin: 0;
  padding-inline-start: var(--sb-spacing-large);

  .usageGuideline {
    color: var(--sb-primary-text-color);
    margin: var(--sb-spacing-medium) 0;
    @include sb-content-text;
    &:first-child {
      margin-top: 0;
    }
  }
}
