@mixin clickable-element {
  padding: var(--sb-spacing-small);
  border-radius: var(--sb-border-radius-small);
  color: var(--sb-primary-text-color);
  width: 40%;
}

.monday-story-clickable {
  &_first-element {
    @include clickable-element;
    background-color: var(--sb-primary-selected-color);
  }

  &_disabled-element {
    @include clickable-element;
    background-color: var(--sb-disabled-background-color);

  }
}
