@import "../../../styles/global-css-settings";
@import "../../styles/content-spacing";

$component-rules-grid-gap: $spacing-xxl;
$component-rules-cell-min-width: $grid-auto-fit-cell-width-large;
$component-rules-grid-cell-array-calc: calc(50% - #{$component-rules-grid-gap});

.monday-storybook-component-rules {

  &_pair {
    margin-bottom: 80px;
    @include grid-auto-fit(
            $grid-gap: $component-rules-grid-gap,
            $grid-cell-min-width: $component-rules-cell-min-width,
            $grid-cell-array-calc: $component-rules-grid-cell-array-calc);


    &:last-child {
      margin-bottom: 0;
    }
  }
}