.statusTag {
  border-radius: var(--sb-border-radius-small);
  border: 1px solid;
  padding: 0 var(--sb-spacing-small);
  text-transform: capitalize;

  &.alpha,
  &.beta {
    color: var(--sb-brand-color);
    border-color: var(--sb-brand-color);
  }

  &.new {
    color: var(--sb-positive-color);
    border-color: var(--sb-positive-color);
  }

  &.deprecated {
    color: var(--sb-negative-color);
    border-color: var(--sb-negative-color);
  }
}
