@import '../../styles/mixins/typography';

.title {
  margin-bottom: var(--sb-space-8);
  font-family: var(--sb-title-font-family);
  @include sb-basic-text;
  font-size: var(--sb-h3-font-size);
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: left;
  font-weight: 600;
}
