@import "../../styles/themes.scss";
@import "../../styles/typography.scss";
@import "../../styles/global-css-settings.scss";

.dialog-content-container {
  &:focus {
    outline: none;
  }

  &--small {
    padding: $spacing-small;
  }

  &--medium {
    padding: $spacing-small;
  }

  &--large {
    padding: $spacing-large;
  }

  &--popover {
    @include theme-prop(box-shadow, box-shadow-medium);
    border-radius: $border-radius-medium;
    @include theme-prop(background-color, secondary-background-color);
  }

  &--modal {
    @include theme-prop(box-shadow, box-shadow-large);
    border-radius: $border-radius-big;
    @include theme-prop(background-color, primary-background-color);
  }
}
