@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.dialogContentContainer:focus {
  outline: none;
}

.dialogContentContainerSmall {
  padding: $spacing-small;
}

.dialogContentContainerMedium {
  padding: $spacing-small;
}

.dialogContentContainerLarge {
  padding: $spacing-large;
}

.dialogContentContainerPopover {
  @include theme-prop(box-shadow, box-shadow-medium);
  border-radius: var(--border-radius-medium);
  @include theme-prop(background-color, secondary-background-color);
}

.dialogContentContainerModal {
  @include theme-prop(box-shadow, box-shadow-large);
  border-radius: var(--border-radius-big);
  @include theme-prop(background-color, primary-background-color);
}
