@import "../../../styles/themes";

.divider-description {
  &-container {
    display: flex;
    align-items: center;
    height: 200px;
  }

  &-text {
    margin-right: var(--spacing-large);
    align-self: center;
  }

  &-horizontal {
    margin: 0 auto;
  }
}
