@import "~@ezds/web/dist/mixins";

.labelComponentWrapper {
  @include vibe-text(text2, normal);
  display: flex;
  padding-bottom: var(--ezds-space-0050);
  align-items: center;
}

.labelComponentIcon {
  margin: 0 var(--ezds-space-0100) 0 var(--ezds-space-0050);
  line-height: 24px;
  color: var(--ezds-color-text-subtle);
}

.labelComponentText {
  color: var(--ezds-color-text-default);
  padding-block: 2px;
}

.required {
  color: var(--ezds-color-background-danger-default);
}
