.welcomeHeader {
  position: relative;
  width: 100%;
  height: 294px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/WelcomePageCover.png');

  &Text {
    width: 461px;
    z-index: 1;
    align-content: center;
  }
}
