// CORE MAP : SHADOW
// This partial defines shadow related maps.
// - Maps include shadow scope tokens.
// - These maps are currently not interpolated into custom properties.

$core-shadow-map: (
        small: $shadow-size-small,
        medium: $shadow-size-medium,
        large: $shadow-size-large,
        mediun: var(--box-shadow-medium)
);

$core-shadow-opacity-map: (
        small-opacity: $shadow-small-opacity,
        large-opacity: $shadow-large-opacity,
);