// CORE MAP :RADIUS
// This partial defines a border radius related map.
// - Map includes border radius scope tokens.
// - Map is collected into the $core-settings-map and is interpolated into custom properties.

$core-radius-map: (
        border-small: $border-radius-small,
        border-medium: $border-radius-medium,
        border-big: $border-radius-big,
);