// CORE MAP: TYPOGRAPHY
// This partial defines typography related maps.
// - Maps include Font scope tokens.
// - Maps are collected into the $core-settings-map and are interpolated into custom properties.

$core-typography-font-sizes-map: (
        font-size-h1: $font-size-h1,
        font-size-h2: $font-size-h2,
        font-size-h3: $font-size-h3,
        font-size-h4: $font-size-h4,
        font-size-h5: $font-size-h5,
        font-size-general-label: $font-size-general-label,
        font-size-paragraph: $font-size-paragraph,
        font-size-subtext: $font-size-subtext,
);

$core-typography-line-height-sizes-map: (
        font-line-height-h1: $font-line-height-h1,
        font-line-height-h2: $font-line-height-h2,
        font-line-height-h3: $font-line-height-h3,
        font-line-height-h4: $font-line-height-h4,
        font-line-height-h5: $font-line-height-h5,
        font-line-height-general-label: $font-line-height-general-label,
        font-line-height-paragraph: $font-line-height-paragraph,
        font-line-height-subtext: $font-line-height-subtext,
);


$core-typography-fonts-map: (
        font-h1: $font-h1,
        font-h2: $font-h2,
        font-h3: $font-h3,
        font-h4: $font-h4,
        font-h5: $font-h5,
        font-general-label: $font-general-label,
        font-paragraph:$font-paragraph,
        font-subtext: $font-subtext,
);
