@import "../../styles/themes.scss";

@mixin main-position-classes {
  &Start {
    justify-content: flex-start;
  }

  &End {
    justify-content: flex-end;
  }

  &Center {
    justify-content: center;
  }

  &SpaceBetween {
    justify-content: space-between;
  }

  &SpaceAround {
    justify-content: space-around;
  }
}
@mixin secondary-position-classes {
  &Start {
    align-items: flex-start;
  }

  &End {
    align-items: flex-end;
  }

  &Center {
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: row;
  &.horizontal {
    &Position {
      @include main-position-classes;
    }
    &SpacingSize {
      &Small {
        & > * {
          margin-inline-end: var(--spacing-small);
        }
      }
      &Medium {
        & > * {
          margin-inline-end: var(--spacing-medium);
        }
      }
      &Large {
        & > * {
          margin-inline-end: var(--spacing-large);
        }
      }
    }
  }
  &.vertical {
    flex-direction: column;

    & .verticalPosition {
      @include main-position-classes;
    }

    & .horizontalPosition {
      @include secondary-position-classes;
    }

    &SpacingSize {
      &Small {
        & > * {
          margin-block-end: var(--spacing-small);
        }
      }
      &Medium {
        & > * {
          margin-block-end: var(--spacing-medium);
        }
      }
      &Large {
        & > * {
          margin-block-end: var(--spacing-large);
        }
      }
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
}