@import "../../../../styles/global-css-settings";

@mixin system-regular-text {
  font-size: 14px;
  line-height: 22px;
}

.monday-storybook-text-description {
  &_visual-element {
    display: flex;
    justify-content: center;
    align-items: center;

    &--paragraph {
      font-size: 16px;
      line-height: 24px;
    }

    &--text {
     @include system-regular-text;
    }

    &--subtext {
      @include theme-prop(color, secondary-text-color);
      @include system-regular-text;
    }

    &--link {
      @include theme-prop(color, link-color);
      @include system-regular-text;
    }

    &--heading {
      padding: 0;
      margin: 0;
    }
  }
}