// CORE MAP: FONTS
// This partial defines font-related maps.
// - Maps include Font scope tokens.
// - Maps are collected into the $core-settings-map and are interpolated into custom properties.

$core-fonts-map: (
        font-family:$font-family,
        h1-font-family: $h1-font-family,
        font-smoothing-webkit:$font-smoothing-webkit,
        font-smoothing-moz:$font-smoothing-moz,
);

$core-font-weight-map: (
        font-weight-very-light:$font-weight-very-light,
        font-weight-light:$font-weight-light,
        font-weight-normal:$font-weight-normal,
        font-weight-bold: $font-weight-bold
);

$core-font-size-scale-map: (
        font-size-10:$font-size-10,
        font-size-20:$font-size-20,
        font-size-30:$font-size-30,
        font-size-40:$font-size-40,
        font-size-50:$font-size-50,
        font-size-60:$font-size-60,
);

$core-font-line-height-scale-map: (
        font-line-height-10:$font-line-height-10,
        font-line-height-20:$font-line-height-20,
        font-line-height-30:$font-line-height-30,
        font-line-height-40:$font-line-height-40,
        font-line-height-50:$font-line-height-50,
        font-line-height-60:$font-line-height-60,
)
