@import "~@ezds/web/dist/mixins";
@import "../../../../styles/states";
$icon-margin: 4px;

.comboboxOption {
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.comboboxOption.disabled {
  cursor: not-allowed;
  @include disabled;
}

.comboboxOption.selected {
  background-color: var(--ezds-color-background-accent-subtle);
}

.comboboxOption:hover:not(.disabled):not(.selected),
.comboboxOption.active {
  color: var(--ezds-color-text-default);
  background-color: var(--ezds-color-background-transparent-inverted);
  position: relative;
}

.comboboxOption.activeOutline {
  @include focus-style-css-inset();
  background-color: var(--ezds-color-background-primary);
}

.comboboxOption .optionLabel {
  flex: 1 1 auto;
  @include ellipsis();
}

.comboboxOption .optionIcon {
  flex: 0 0 auto;
}

.comboboxOption .optionIcon.left {
  margin-right: $icon-margin;
}
