@import "../../../../styles/themes";
@import "../../../../styles/global-css-settings";

.card-shadow-example {
    border: 1px solid;
    @include theme-prop(border-color, layout-border-color);
    height: 317px;
    width: 296px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium);
    cursor: pointer;

    &:hover {
      @include box-shadow-medium;
    }


  &-title {
    margin-top: var(--spacing-medium);
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  &-description {
    margin-top: var(--spacing-small);
    font-size: 14px;
    line-height: 18px;
  }

  &-button {
    margin-top: var(--spacing-large);
  }
}
