@import "../../../styles/themes";

.monday-style-radio-buttons {
  &_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    width: 240px;
    padding: 14px 0 18px 16px;
  }
  
  &_wrapper-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 3px;
    }
  }
}
