@import "../../styles/typography";

.buttonGroup {
  display: flex;
  flex-direction: column;

  &.fullWidth {
    width: 100%;
  }
}

.subTextContainer {
  @include font-caption();
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &.fullWidth {
    justify-content: flex-start;
    width: 100%;
  }

  .button {
    border-style: solid;
    border-width: 1px 0;
    background-color: var(--primary-background-color);
    border-color: var(--ui-border-color);

    // &:first-of-type {
    //   border-inline-start-width: 1px;
    // }

    // &:last-of-type {
    //   border-inline-end-width: 1px;
    // }

    &.activeButton {
      background-color: var(--primary-selected-color);
      border-color: var(--primary-color);
      border-inline-start-width: 1px;
      border-inline-end-width: 1px;

      &:hover {
        background-color: var(--primary-selected-color);
      }
    }

    &.disabled,
    &.buttonDisabled {
      background-color: var(--disabled-background-color);
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.startBorder {
      border-inline-start-width: 1px;
    }

    &.endBorder {
      border-inline-end-width: 1px;
    }

    &.fullWidth {
      width: 100%;
      display: flex;
    }
  }

  .kindTertiary & {
    .button {
      border-color: transparent;

      &:first-child {
        border-color: transparent;
      }
    }
  }
}

.optionText:not(.disabled) {
  color: var(--primary-text-color);
}

.optionText:not(.disabled).selected {
  color: var(--primary-text-color);
}

.wrapper.disabled {
  cursor: not-allowed;
}

.fullWidth {
  flex: 1;
}
