.mondayVibeBanner {
  border: 1px solid var(--layout-border-color);
  padding: var(--space-16);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-8);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    align-items: center;
    gap: var(--space-8);
    z-index: 1;

    .text {
      color: #323338;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.12px;
      display: flex;
      align-items: center;
      align-self: center;
      gap: var(--space-4);
    }

    .title {
      color: #323338;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .link {
      background-color: var(--inverted-color-background);
      padding: 6px var(--space-8);
      color: #ffffff;
      border-radius: var(--border-radius-small);
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;

      &:hover {
        background: var(--placeholder-color);
      }
    }
  }

  .bubble1 {
    width: 307.5px;
    height: 232.5px;
    position: absolute;
    right: 518.5px;
    bottom: -184.5px;
    border-radius: 307.5px;
    opacity: 0.8;
    background: #ff8fc5;
    filter: blur(150px);
  }

  .bubble2 {
    width: 307.5px;
    height: 232.5px;
    position: absolute;
    left: 358px;
    top: -194px;
    border-radius: 307.5px;
    opacity: 0.8;
    background: #ffc24b;
    filter: blur(150px);
  }
}
