@use "sass:string";
@import "~monday-ui-style/dist/mixins";
@import "~monday-ui-style/dist/functions";

// Text classes generation
$textClasses: (
  "text1": (
    "bold",
    "medium",
    "normal"
  ),
  "text2": (
    "bold",
    "medium",
    "normal"
  ),
  "text3": (
    "bold",
    "medium",
    "normal"
  )
);

@each $class-prefix, $weight-types in $textClasses {
  @each $weight-type in $weight-types {
    $class-name: camelize(#{$class-prefix}-#{$weight-type});

    .#{$class-name} {
      @include vibe-text($class-prefix, $weight-type);
    }
  }
}

p:first-of-type.text {
  margin-block: 0;
}

p.text + p {
  margin-block-start: var(--spacing-large);
  margin-block-end: 0;
}

