.layout {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto 1fr;
  min-height: 0;

  .header {
    width: 100%;
    margin-block: var(--spacing-xl) var(--spacing-large);
    padding-inline: var(--modal-inline-padding);
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .content {
    grid-column: 1 / 2;
    grid-row: 2;
    padding-block-end: var(--spacing-xl);
  }

  .media {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}
