@import "../../../styles/themes";

.monday-storybook-text-field {
  &_wrapper {
    display: flex;
  }

  &_column-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 16px;
    margin-right: 32px;
  }

  &_size {
    width: 300px;
  }

  &_box {
    padding: 4px;
    width: 264px;

    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &_spacing {
    padding-top: 32px
  }
}
