.layout {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;

  .header {
    width: 100%;
    margin-block: var(--spacing-xl) var(--spacing-medium);
    padding-inline-end: calc(var(--top-actions-spacing) + var(--top-actions-width) + var(--spacing-medium));
  }

  .divider {
    flex-shrink: 0;
  }

  .content {
    padding-inline: var(--modal-inline-padding);
  }
}
