@import "../../../../styles/global-css-settings";

.monday-storybook-welcome-contributor {
  &_visual-element {
    position: relative;
    width: 320px;
    height: 182px;
    border-radius: $border-radius-small;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_image {
    position: absolute;
    width: 271px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 25px;
  }
}
