.imageContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.imageFlex {
  height: 400px;
  margin-left: 110px;
}

.rulesImage {
  height: fit-content !important;
  width: fit-content;
}

