.monday-storybook-spacing {
  &_image {
    &-container {
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }

    &--flex {
      height: 400px;
      margin-left: 110px;
    }
  }
}

.storybook-spacing-table-token-name {
  padding: var(--sb-space-4) var(--sb-space-8);
  border-radius: 100px;
  border: 1px solid #E3E3E3;
  background: #F2F2F2;
  font-size: 12px;
}

.monday-storybook-spacing-rules-image {
  height: fit-content !important;
  width: fit-content;

}