@mixin color-rectangle-example {
  width: 210px;
  padding: var(--sb-spacing-small);
}

.pageDivider {
  margin-block: var(--sb-spacing-medium);
}

.primaryBackground {
  @include color-rectangle-example;
  background-color: var(--sb-primary-color);
}

.invertedBackground {
  @include color-rectangle-example;
  background-color: var(--sb-inverted-color-background);
}

.pageHeaderCommands {
  margin-top: var(--sb-spacing-large);
  & > * {
    margin-left: var(--sb-spacing-small);
  }
}
.pageHeaderSearch {
  width: 146px;
}
