@import "../../styles/mixins/layout";

.vibe-sb-comps-frame {
  @include sb-frame;
  padding: 32px;
  margin: var(--sb-spacing-between-section-items) 0;

  &--no-border {
    border: 0;
  }

  &--no-gutter {
    padding-right: 0;
    padding-left: 0;
  }
}
