:root {
  --sb-spacing-xxs: 2px;
  --sb-spacing-xs: 4px;
  --sb-spacing-xs-small: 6px;
  --sb-spacing-small: 8px;
  --sb-spacing-small-medium: 12px;
  --sb-spacing-medium: 16px;
  --sb-spacing-large: 24px;
  --sb-spacing-xl: 32px;
  --sb-spacing-xxl: 48px;
  --sb-spacing-xxxl: 64px;

  --sb-spacing-between-sections: 72px;
  --sb-spacing-between-section-items: 32px;
  --sb-spacing-between-title-to-content: 16px;

  --sb-space-2: 2px;
  --sb-space-4: 4px;
  --sb-space-8: 8px;
  --sb-space-12: 12px;
  --sb-space-16: 16px;
  --sb-space-20: 20px;
  --sb-space-24: 24px;
  --sb-space-32: 32px;
  --sb-space-40: 40px;
  --sb-space-48: 48px;
  --sb-space-64: 64px;
  --sb-space-80: 80px;

}
