:root {
  --sb-spacing-xxs: 2px;
  --sb-spacing-xs: 4px;
  --sb-spacing-xs-small: 6px;
  --sb-spacing-small: 8px;
  --sb-spacing-small-medium: 12px;
  --sb-spacing-medium: 16px;
  --sb-spacing-large: 24px;
  --sb-spacing-xl: 32px;
  --sb-spacing-xxl: 48px;
  --sb-spacing-xxxl: 64px;

  --sb-spacing-between-sections: 72px;
  --sb-spacing-between-section-items: 32px;
  --sb-spacing-between-title-to-content: 16px;
}
