.tableCell {
  padding: 9px 16px;
  font: var(--font-text-small-normal);
  line-height: var(--font-line-height-20);
  color: var(--primary-text-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}