.infix {
  font-size: 14px;
  font-family: var(--ezds-font-family-body);
  flex: 0 0 auto;
}

.txt {
  white-space: nowrap;
}

.prefix {
  margin-right: var(--ezds-space-0100);
}

.postfix {
  margin-left: var(--ezds-space-0100);
}
