.infix {
  font-size: 14px;
  font-family: var(--font-family);
  flex: 0 0 auto;
}

.txt {
  white-space: nowrap;
}

.prefix {
  margin-inline-end: var(--spacing-small);
}

.postfix {
  margin-inline-start: var(--spacing-small);
}
