@keyframes attentionBoxAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.attention {
  width: 100%;
  border-radius: var(--ezds-radius-0200);
  padding: var(--ezds-space-0300) var(--ezds-space-0400);
  position: relative;
  overflow: hidden;

  &.animate {
    animation: attentionBoxAnimation 200ms var(--ezds-motion-timing-transition);
  }

  &.primary {
    background-color: var(--ezds-color-background-accent-subtle);
  }

  &.positive {
    background-color: var(--ezds-color-background-success-subtle);
  }

  &.negative {
    background-color: var(--ezds-color-background-danger-subtle);
  }

  &.warning {
    background-color: var(--ezds-color-background-warning-subtle);
  }

  &.neutral {
    background-color: var(--ezds-color-background-quaternary);
  }
}
