.header {
  width: 100%;
  align-self: flex-start;

  .title {
    width: 100%;
  }

  .descriptionIcon {
    flex-shrink: 0;
    margin-inline-end: var(--space-4);
    color: var(--icon-color);
  }
}
