.header {
  width: 100%;
  align-self: flex-start;

  .title {
    width: 100%;
  }

  .descriptionIcon {
    flex-shrink: 0;
    margin-inline-end: var(--ezds-space-0050);
    color: var(--ezds-color-icon-subtle);
  }
}
