.command {
  display: flex;
  align-items: center;
  gap: 12px;

  &.backward {
    flex-direction: row-reverse;
  }
}

.icon {
  color: var(--ezds-color-icon-subtle);
  width: 15.5px;
  height: 15.5px;
  &.disabled {
    color: var(--ezds-color-text-default-disabled);
  }
  &.colorOnPrimaryColor {
    color: var(--ezds-color-text-default-inverted);
  }
  &.colorOnInvertedBackground {
    color: var(--ezds-color-text-default-inverted);
  }
}

