.galleryHeader {
  margin: 0 var(--spacing-small);
  display: flex;
  align-items: center;

  .galleryHeaderDot {
    margin-inline-end: var(--spacing-small);
    &:last-child {
      margin-inline-end: 0;
    }
  }
}
