@import "~vibe-storybook-components/dist/mixins";

.use-grid-keyboard-dummy-grid-wrapper {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  outline: none;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px var(--sb-primary-hover-color) inset;

  &.without-border {
    box-shadow: none;
  }
}

.use-grid-keyboard-dummy-grid-item {
  width: 60px;
  margin: 6px;

  &.active-item {
    @include sb-focus-style-css();
  }
}
