.searchWrapper {
  .search {
    -webkit-appearance: textfield;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  .loader {
    margin-right: var(--spacing-xs);
  }

  .icon {
    opacity: 1;
    color: inherit;
    transition: opacity var(--motion-productive-short);

    &.empty {
      opacity: 0;
    }
  }
}
