@import "../../styles/themes";

$arrow-size: 12px;

.dialog-node {
  position: absolute;
  top: 0;
  height: 0;
  z-index: 100000;
}

.monday-style-tooltip-arrow {
  width: $arrow-size;
  height: $arrow-size;
  position: absolute;
  border-radius: 2px;

  background-color: var(--secondary-background-color);

  &[data-placement*="bottom"] {
    top: 1px;
  }
  &[data-placement*="top"] {
    bottom: 1px;
  }
  &[data-placement*="left"] {
    right: 1px;
  }
  &[data-placement*="right"] {
    left: 1px;
  }
}

.monday-style-dialog-content-component {
  &.top, &.right, &.left, &.bottom {
    padding: var(--spacing-xs);
  }
  &.bottom-start, &.top-start, &.bottom-end, &.top-end {
    padding-block: var(--spacing-xs);
  }
  &.bottom-start, &.top-start {
    padding-inline-end: var(--spacing-xs);
  }
  &.bottom-end, &.top-end {
    padding-inline-start: var(--spacing-xs);
  }
  &.left-start, &.right-start, &.left-end, &.right-end {
    padding-inline: var(--spacing-xs);
  }
  &.left-start, &.right-start {
    padding-block-end: var(--spacing-xs);
  }
  &.left-end, &.right-end {
    padding-block-start: var(--spacing-xs);
  }
}
