@import "../../styles/themes";

$arrow-size: 12px;

.tooltipArrow {
  width: $arrow-size;
  height: $arrow-size;
  position: absolute;
  border-radius: 2px;
  background-color: var(--secondary-background-color);

  &[data-placement*="bottom"] {
    top: 1px;
  }
  &[data-placement*="top"] {
    bottom: 1px;
  }
  &[data-placement*="left"] {
    right: 1px;
  }
  &[data-placement*="right"] {
    left: 1px;
  }
}
