// CORE MAP: TYPOGRAPHY
// This partial defines typography related maps.
// - Maps include Font scope tokens.
// - Maps are collected into the $core-settings-map and are interpolated into custom properties.

$core-typography-fonts-map: (
  font-h1-bold: $font-h1-bold,
  font-h1-medium: $font-h1-medium,
  font-h1-normal: $font-h1-normal,
  font-h1-light: $font-h1-light,
  font-h2-bold: $font-h2-bold,
  font-h2-medium: $font-h2-medium,
  font-h2-normal: $font-h2-normal,
  font-h2-light: $font-h2-light,
  font-h3-bold: $font-h3-bold,
  font-h3-medium: $font-h3-medium,
  font-h3-normal: $font-h3-normal,
  font-h3-light: $font-h3-light,
  font-text1-bold: $font-text1-bold,
  font-text1-medium: $font-text1-medium,
  font-text1-normal: $font-text1-normal,
  font-text2-bold: $font-text2-bold,
  font-text2-medium: $font-text2-medium,
  font-text2-normal: $font-text2-normal,
  font-text3-bold: $font-text3-bold,
  font-text3-medium: $font-text3-medium,
  font-text3-normal: $font-text3-normal
);

$core-typography-letter-spacing-map: (
  letter-spacing-h1-bold: $letter-spacing-h1-bold,
  letter-spacing-h1-normal: $letter-spacing-h1-normal,
  letter-spacing-h1-light: $letter-spacing-h1-light,
  letter-spacing-h2-bold: $letter-spacing-h2-bold,
  letter-spacing-h2-normal: $letter-spacing-h2-normal,
  letter-spacing-h2-light: $letter-spacing-h2-light,
  letter-spacing-h3-bold: $letter-spacing-h3-bold,
  letter-spacing-h3-normal: $letter-spacing-h3-normal,
  letter-spacing-h3-light: $letter-spacing-h3-light
);
