// CORE MAP: SPACING
// This partial defines a Spacing related map.
// - Map include spacing scope tokens.
// - Map is collected into the $core-settings-map and is interpolated into custom properties.

$core-spacing-map: (
  spacing-xs: $spacing-xs,
  spacing-small: $spacing-small,
  spacing-medium: $spacing-medium,
  spacing-large: $spacing-large,
  spacing-xl: $spacing-xl,
  spacing-xxl: $spacing-xxl,
  spacing-xxxl: $spacing-xxxl,
  space-2: $space-2,
  space-4: $space-4,
  space-8: $space-8,
  space-12: $space-12,
  space-16: $space-16,
  space-20: $space-20,
  space-24: $space-24,
  space-32: $space-32,
  space-40: $space-40,
  space-48: $space-48,
  space-64: $space-64,
  space-80: $space-80
);
