@import "../../styles/keyframes";

.toast {
  box-shadow: var(--ezds-shadow-medium);
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
  margin: var(--ezds-space-0200);
  position: fixed;
  left: 50%;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: var(--ezds-space-0100);
  align-items: center;
  display: flex;
  min-width: 200px;
  width: auto;
  border-radius: var(--ezds-radius-0100);
  color: var(--ezds-color-text-default-inverted);
  transform: translateX(-50%);
  transition: background-color 80ms cubic-bezier(0.6, 0, 0.4, 1), width 200ms cubic-bezier(0, 0, 0.4, 1);

  &.typeNormal {
    background-color: var(--ezds-color-background-accent-default);
  }

  &.typePositive {
    background-color: var(--ezds-color-background-success-default);
  }

  &.typeNegative {
    background-color: var(--ezds-color-background-danger-default);
  }

  &.typeWarning {
    background-color: var(--ezds-color-background-warning-default);
    color: var(--ezds-color-text-default);

    .closeButton {
      color: var(--ezds-color-text-default);
    }

    .actionButton,
    .actionLink {
      color: var(--ezds-color-text-default);
      border-color: var(--ezds-color-text-default);
    }
  }

  &.typeDark {
    background-color: var(--ezds-color-background-primary-inverted);
    color: var(--ezds-color-text-default-inverted);

    .closeButton {
      color: var(--ezds-color-text-default-inverted);
    }

    .actionButton,
    .actionLink {
      color: var(--ezds-color-text-default-inverted);
      border-color: var(--ezds-color-text-default-inverted);
    }
  }
}

.icon {
  display: flex;
  margin-left: var(--ezds-space-0100);
}

.actionButton.withTransition {
  opacity: 0;
  animation: bounceIn 150ms cubic-bezier(0, 0, 0.4, 1);
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.content {
  margin: 0 var(--ezds-space-0100);
  flex: 1;
}

.textContent {
  display: inline-flex;
  flex-grow: 1;
}

.enterActive {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: slideIn;
  animation-duration: 350ms;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.exitActive {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: slideOut;
  animation-duration: 350ms;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.closeButton {
  margin-left: var(--ezds-space-0100);
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, -100px);
  }

  40% {
    transform: translate(-50%, 16px);
  }

  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes slideOut {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
