.subMenuIconWrapper {
  margin-left: var(--ezds-space-0050);

  .divider {
    height: 19px;
  }

  .splitSubMenuIcon {
    width: 18px;
    height: 18px;
  }

  .subMenuIcon,
  .splitSubMenuIcon {
    color: var(--ezds-color-icon-subtle);

    &.disabled {
      cursor: not-allowed;
      color: var(--ezds-color-text-default-disabled);
    }
  }

  .splitMenuItemIconButton {
    width: 34px;
    height: 30px;

    // Override for IconButton active color
    --primary-selected-color: rgba(103, 104, 121, 0.1);
  }
}
