@import "../../../styles/typography";

.container {
  margin-block-start: var(--ezds-space-0200);

  .icon {
    margin-top: var(--ezds-space-0050);
    flex-shrink: 0;
    color: var(--ezds-color-text-default);
  }

  .description {
    margin-block-start: var(--ezds-space-0100);
    color: var(--ezds-color-text-subtle);
  }

  .closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
