@import "~@ezds/web/dist/mixins";

.scrollableContainer {
  @include scroller;
}

.optionsContainer {
  overflow-x: visible;
  overflow-y: auto;
  margin-top: var(--ezds-space-0100);
}

.categoryWithOptions,
.categoryWithoutOptions {
  &.firstCategory {
    padding-top: 0;
  }
}

.categoryWithOptions {
  margin-bottom: var(--ezds-space-0050);
}

.categoryWithoutOptions {
  margin-bottom: 0;
}
