@import "~@vibe/style/dist/mixins";

.scrollableContainer {
  @include scroller;
}

.optionsContainer {
  overflow-x: visible;
  overflow-y: auto;
  margin-top: var(--space-8);
}

.categoryWithOptions,
.categoryWithoutOptions {
  &.firstCategory {
    padding-top: 0;
  }
}

.categoryWithOptions {
  margin-bottom: var(--space-4);
}

.categoryWithoutOptions {
  margin-bottom: 0;
}
