// CORE LOADER : TOKENS
// This partial loads Core scope tokens.
// Sort order is by a-z and dependency.

@import "tokens/core-fonts";
@import "tokens/core-motion";
@import "tokens/core-opacity";
@import "tokens/core-radius";
@import "tokens/core-shadows";
@import "tokens/core-spacing";
@import "tokens/core-typography";
//
@import "tokens/core-common";
