@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";
@import "../../styles/states";

.wrapper {
  width: 100%;
  min-width: 0;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  @include focus-style();
}

.wrapper:focus,
.wrapper:active {
  outline: none;
}

:global(.headingComponent) {
  margin: 0;
}

.insetFocus {
  @include focus-style-inset();
}
