@import "../../styles/themes.scss";
@import "../../styles/typography.scss";

.editable-heading--wrapper {
  width: 100%;
  min-width: 0;
  .heading-component {
    margin: 0;
  }
  .editable-heading-input {
    &.heading-element-type-h1 {
      @include font-main();
    }
    &.heading-element-type-h2 {
      @include font-title();
    }
    &.heading-element-type-h3 {
      @include font-subtitle();
    }

    &.heading-element-type-h4,
    &.heading-element-type-h5 {
      @include font-default();
    }
  }
}
