@import "../../styles/themes.scss";
@import "../../styles/typography.scss";
@import "../../styles/global-css-settings.scss";
@import "../../styles/states.scss";

.editable-heading--wrapper {
  width: 100%;
  min-width: 0;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  @include focus-style();
  &:focus,
  &:active {
    outline: none;
  }
  .heading-component {
    margin: 0;
  }
}
