@import "../../../styles/global-css-settings.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/themes.scss";

.monday-style-story-steps-wrapper {
  width: 400px;
}
.monday-style-story-steps-on-primary-wrapper {
  width: 400px;
  background: var(--primary-color);
  padding: $spacing-medium;
}