@import "../../../styles/global-css-settings";
@import "../../../styles/typography";
@import "../../../styles/themes";

.monday-style-story-steps {
  &_inline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }

  &_column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_spacing {
    margin-left: 90px;
  }

  &_container {
    width: 10px;
    height: 150px;
    margin: 0 auto;
  }

  &_block {
    margin: 0 auto;
    width: 270px;
  }

  &_padding {
    padding: 15px 103px 20px;
  }

  &_color {
    @include theme-prop(background-color, primary-color);
  }
}
