@import "../../../styles/global-css-settings.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/themes.scss";

.monday-style-story-steps {
  &_inline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px
  }

  &_column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &_spacing {
    margin-left: 90px;
  }

  &_container {
    width: 10px;
    height: 150px;
    margin: 0 auto;
  }

  &_block {
    margin: 0 auto;
    width: 270px;
  }
}

