@import "~monday-ui-style/dist/mixins";
@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/states";
@import "../../styles/global-css-settings";

.textField {
  position: relative;
  box-sizing: border-box;
  font-family: var(--font-family);
  width: 100%;
}

.textField * {
  box-sizing: border-box;
}

.textField .labelWrapper {
  width: 100%;
}

.textField .subTextContainer {
  display: flex;
  @include smoothing-text;
  padding-block: 1px;
}

.textField .subTextContainer .counter {
  margin-left: auto;
}

.textField.disabled .icon {
  cursor: not-allowed;
}

.textField.disabled .inputWrapper {
  cursor: not-allowed;
}

.textField.disabled .inputWrapper .input {
  user-select: none;
  border: none;
  pointer-events: none;
  @include theme-prop(background-color, disabled-background-color);
  cursor: not-allowed;
}

.textField.disabled .inputWrapper .input::placeholder {
  @include theme-prop(color, disabled-text-color);
}

.textField.disabled .inputWrapper .iconContainer.iconContainerHasIcon:hover {
  background-color: transparent;
}

.textField .inputWrapper {
  width: 100%;
  position: relative;
}

.textField .inputWrapper .input {
  width: 100%;
  height: 100%;
  outline: 0;
  background-color: transparent;
  border: 1px solid;
  @include theme-prop(border-color, ui-border-color);
  border-radius: $border-radius-small;
  transition: border-color var(--motion-productive-medium) ease-in;
  padding: $spacing-small $spacing-medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include theme-prop(color, primary-text-color);
}

.textField .inputWrapper .input.inputHover {
  @include theme-prop(border-color, primary-text-color);
}

.textField .inputWrapper .input:focus,
.textField .inputWrapper .input:active,
.textField .inputWrapper .input.inputActive {
  @include theme-prop(border-color, primary-color);
}

.textField .inputWrapper .input::placeholder {
  @include theme-prop(color, secondary-text-color);
  font-weight: 400;
}

.textField .inputWrapper .input.inputHasIcon {
  padding: $spacing-small $spacing-large $spacing-small $spacing-medium;
}

.textField .inputWrapper .input.round {
  border-radius: 50px;
}

.textField .inputWrapper .input.square {
  border-radius: 0;
}

.textField .inputWrapper .input.onlyUnderline {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: $spacing-small $spacing-large $spacing-small $spacing-xs;
  border-radius: 0 !important;
}

.textField .inputWrapper .iconContainer {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-small;
  opacity: 0;
  pointer-events: none;
}

.textField .inputWrapper .iconContainer:active,
.textField .inputWrapper .iconContainer:focus,
.textField .inputWrapper .iconContainer:focus-visible {
  outline: none;
  @include theme-prop(background-color, primary-background-hover-color);
}

.textField .inputWrapper .iconContainer {
  -webkit-appearance: none;
}

.textField .inputWrapper .iconContainer.iconContainerActive.iconContainerHasIcon {
  pointer-events: all;
  cursor: pointer;
}

.textField .inputWrapper .iconContainer.iconContainerActive {
  opacity: 1;
}

.textField .inputWrapper .iconContainer.iconContainerActive .icon {
  opacity: 1;
  pointer-events: all;
  transform: rotate(0) scale(1);
}

.textField .inputWrapper .iconContainer.iconContainerHasIcon:hover,
.textField .inputWrapper .iconContainer.iconContainerHasIcon:focus-within {
  @include theme-prop(background-color, primary-background-hover-color);
}

.textField .inputWrapper .iconContainer .icon {
  transform: rotate(90deg) scale(0.8);
  @include theme-prop(color, icon-color);
  will-change: transform;
  pointer-events: none;
  transition: color var(--motion-productive-short) var(--motion-timing-enter),
    transform var(--motion-productive-short) var(--motion-timing-enter);
  font-size: 14px;
}

.textField .inputWrapper.inputErrorValidation:hover .input {
  @include theme-prop(border-color, negative-color);
}

.textField .inputWrapper.inputErrorValidation .input {
  @include theme-prop(border-color, negative-color);
}

.textField .inputWrapper.inputErrorValidation .input:focus,
.textField .inputWrapper.inputErrorValidation .input:active {
  @include theme-prop(border-color, negative-color);
}

.textField .inputWrapper.inputErrorValidation .iconContainer .icon {
  @include theme-prop(color, negative-color);
}

.textField .inputWrapper.inputErrorValidation .iconContainer .icon:hover {
  @include theme-prop(color, negative-color);
}

.textField .inputWrapper.inputErrorValidation + .subTextContainer .subTextContainerStatus {
  @include theme-prop(color, negative-color);
}

.textField .inputWrapper.inputSuccessValidation:hover .input {
  @include theme-prop(border-color, positive-color);
}

.textField .inputWrapper.inputSuccessValidation .input {
  @include theme-prop(border-color, positive-color);
}

.textField .inputWrapper.inputSuccessValidation .input:focus,
.textField .inputWrapper.inputSuccessValidation .input:active {
  @include theme-prop(border-color, positive-color);
}

.textField .inputWrapper.inputSuccessValidation .iconContainer .icon {
  @include theme-prop(color, positive-color);
}

.textField .inputWrapper.inputSuccessValidation .iconContainer .icon:hover {
  @include theme-prop(color, positive-color);
}

.textField .inputWrapper.inputSuccessValidation + .subTextContainer .subTextContainerStatus {
  @include theme-prop(color, positive-color);
}

.textField .inputWrapper.wrapperSizeSmall {
  height: 32px;
}

.textField .inputWrapper.wrapperSizeSmall .input {
  @include vibe-text(small, normal);
  @include smoothing-text;
}

.textField .inputWrapper.inputWrapperSizeSmall .input.inputHasIcon.onlyUnderline {
  padding-left: $spacing-xs;
}

.textField .inputWrapper.wrapperSizeMedium {
  height: 40px;
}

.textField .inputWrapper.wrapperSizeMedium .input {
  @include vibe-text(medium, normal);
  @include smoothing-text;
}

.textField .inputWrapper.wrapperSizeMedium .input.inputHasIcon {
  padding: $spacing-small $spacing-xl $spacing-small $spacing-medium;
}

.textField .inputWrapper.wrapperSizeMedium .input.inputHasIcon.onlyUnderline {
  padding-left: 4px;
}

.textField .inputWrapper.wrapperSizeMedium .iconContainer {
  pointer-events: none;
  height: 32px;
  width: 32px;
  outline: none;
}

.textField .inputWrapper.wrapperSizeMedium .iconContainer .icon {
  font-size: 16px;
}

.textField .inputWrapper.wrapperSizeMedium .iconContainer:hover + .iconContainer + .input {
  @include theme-prop(border-color, primary-text-color);
}

.textField .inputWrapper.wrapperSizeLarge {
  height: 48px;
}

.textField .inputWrapper.wrapperSizeLarge .input {
  @include vibe-text(medium, normal);
  @include smoothing-text;
}

.textField .inputWrapper.wrapperSizeLarge .input.inputHasIcon {
  padding: $spacing-small $spacing-xl $spacing-small $spacing-medium;
}

.textField .inputWrapper.wrapperSizeLarge .input.inputHasIcon.onlyUnderline {
  padding-left: $spacing-xs;
}

.textField .inputWrapper.wrapperSizeLarge .iconContainer {
  height: 40px;
  width: 40px;
}

.textField .inputWrapper.wrapperSizeLarge .iconContainer .icon {
  font-size: 16px;
}

.textField .inputWrapper:hover .input {
  @include theme-prop(border-color, primary-text-color);
}

.textField .inputWrapper .loaderContainer {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textField .inputWrapper .loaderContainer.loaderContainerHasIcon {
  right: 32px;
}

.textField .inputWrapper .loaderContainer .loader {
  width: 16px;
  height: 16px;
}

.textField .inputWrapper .loaderContainer .loader .loaderSvg {
  @include theme-prop(color, secondary-text-color);
}

.textField .inputWrapper .iconContainer .icon {
  font-family: var(--font-family);
}

.textField .inputWrapper.wrapperSizeMedium .iconContainer .icon {
  font-family: var(--font-family);
}

.textField .inputWrapper.wrapperSizeLarge .iconContainer .icon {
  font-family: var(--font-family);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: block;
  background: url("./assets/Calendar.svg") no-repeat;
}

:global(.dark-app-theme, .black-app-theme, .hacker_theme-app-theme) {
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: url("./assets/CalendarInverted.svg") no-repeat;
  }
}
