@import "../../styles/typography";
@import "~@ezds/web/dist/mixins";

.textAreaWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--ezds-space-0050);
  @include smoothing-text;
  @include vibe-text(text2, normal);

  .label {
    display: inline-flex;
    gap: var(--ezds-space-0050);
    color: var(--ezds-color-text-default);

    &.required::after {
      content: "*";
      color: var(--ezds-color-background-danger-default);
    }
  }

  .subTextContainer {
    color: var(--ezds-color-text-subtle);

    .helpText {
      display: flex;
    }

    .limitText {
      margin-left: auto;
    }
  }

  .textArea {
    resize: vertical;
    border: 1px solid var(--ezds-color-border-strong);
    border-radius: var(--ezds-radius-0100);
    padding: var(--ezds-space-0100) var(--ezds-space-0200);
    outline: none;
    background-color: var(--ezds-color-background-primary);
    color: var(--ezds-color-text-default);

    &:hover {
      border-color: var(--ezds-color-text-default);
    }

    &:active,
    &:focus,
    &:focus-within {
      border-color: var(--ezds-color-background-accent-default);
    }

    &.small {
      @include vibe-text(text2, normal);
    }

    &.large {
      @include vibe-text(text1, normal);
    }

    &:not(.resize) {
      resize: none;
    }
  }

  &.success {
    .textArea {
      border-color: var(--ezds-color-background-success-default);
    }

    .helpText {
      color: var(--ezds-color-background-success-default);
    }
  }

  &.error {
    .textArea {
      border-color: var(--ezds-color-background-danger-default);
    }

    .helpText,
    .limitText {
      color: var(--ezds-color-background-danger-default);
    }
  }

  &.disabled {
    .textArea,
    .textArea:hover {
      color: var(--ezds-color-text-default-disabled);
      background-color: var(--ezds-color-background-disabled);
      border-color: transparent;
      resize: none;
    }

    .helpText {
      color: var(--ezds-color-text-default-disabled);
    }
  }

  &.readOnly {
    .textArea,
    .textArea:hover {
      background-color: var(--ezds-color-background-quaternary);
      border-color: transparent;
      resize: none;
    }
  }
}
