@import "../../styles/typography";

.textWithHighlightWrapper {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.textWithHighlightWrapper em.highlightText {
  background-color: var(--ezds-color-background-accent-subtle);
  color: var(--ezds-color-text-default);
  border-radius: 2px;
}

.textWithHighlightWrapper.withEllipsis {
  @include line-clamp(var(--heading-clamp-lines));
  word-break: break-word;
}
