.searchComponentWrapper input[type="search"] {
  -webkit-appearance: textfield;
}

.searchComponentWrapper input[type="search"]::-webkit-search-decoration,
.searchComponentWrapper input[type="search"]::-webkit-search-cancel-button,
.searchComponentWrapper input[type="search"]::-webkit-search-results-button,
.searchComponentWrapper input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.searchComponentWrapper:focus-within .searchFocusElementFirst {
  animation: dashForward 5s linear forwards;
}

.searchComponentWrapper:focus-within .searchFocusElementSecond {
  animation: dashBackwards 5s linear forwards;
}

.searchComponent.searchComponentRound {
  border-radius: 50px !important;
}

@keyframes dashForward {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashBackwards {
  to {
    stroke-dashoffset: 2000;
  }
}
