@import "../../styles/typography";
@import "~@ezds/web/dist/mixins";

.link {
  display: flex;
  align-items: center;
  color: var(--ezds-color-link-default);
  @include vibe-text(text2, normal);
  @include smoothing-text;
  text-decoration: none;
  writing-mode: horizontal-tb;
  @include focus-style();

  &.colorOnPrimary {
    color: var(--ezds-color-text-default-inverted);
  }

  &.colorOnInverted {
    color: var(--ezds-color-text-default-inverted);
  }
}

.link:hover .text {
  text-decoration: underline;
  color: inherit;
}

.link.inlineText {
  display: inline-flex;
  align-items: unset;
}

.link.inheritFontSize {
  font-size: inherit;
  line-height: inherit;
}

.iconStart {
  line-height: 24px;
  margin-right: var(--ezds-space-0100);
}

.iconEnd {
  line-height: 24px;
  margin-left: var(--ezds-space-0100);
}

@supports (margin-inline-start: initial) {
  .iconStart {
    line-height: 24px;
    margin-right: 0;
    margin-inline-end: var(--ezds-space-0050);
  }
  .iconEnd {
    line-height: 24px;
    margin-left: 0;
    margin-inline-start: var(--ezds-space-0050);
  }
}
