@import "../../styles/typography";

.listItemAvatar {
  display: flex;
  align-items: center;
  color: var(--ezds-color-text-default);
}

.avatar {
  width: 22px;
  height: 22px;
  margin-right: var(--ezds-space-0100);
}
