// MIXINS: Generate custom properties

// Used to create custom properties from a $map
// @arguments: $map
// Loops over the map
// - Generates custom properties from its keys
// - Each Custom property value is the map key value.
@mixin generate-custom-properties($map) {
  @each $key, $value in $map {
    --#{$key}: #{$value};
  }
}
