@mixin vibe-text($type-prefix, $weight-type) {
  font: var(--font-#{$type-prefix}-#{$weight-type});
}

@mixin vibe-heading($type-prefix, $weight-type) {
  font: var(--font-#{$type-prefix}-#{$weight-type});
  letter-spacing: var(--letter-spacing-#{$type-prefix}-#{$weight-type});
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
}
