.tableContainer {
  width: 100%;
  height: 100%;
  position: relative;

  .menuContainer {
    --cell-width: 40px;
    position: absolute;
    overflow: hidden;
    left: calc(1px - var(--cell-width));
    width: var(--cell-width);
    height: 100%;
  }
}

