@import "~@ezds/web/dist/mixins";

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--ezds-space-0100);
  padding-block: var(--ezds-space-0050);
  padding-inline: var(--ezds-space-0200) var(--ezds-space-0050);

  @include vibe-text(text1, normal);
  @include smoothing-text;

  outline: none;
  border: 1px solid var(--ezds-color-border-strong);
  border-radius: var(--ezds-radius-0100);
  color: var(--ezds-color-text-default);
  background-color: var(--ezds-color-background-primary);
  transition: border-color var(--ezds-motion-productive-medium) ease-in;

  &.small {
    min-height: 32px;
    height: 32px;
    @include vibe-text(text2, normal);
  }

  &.medium {
    min-height: 40px;
    height: 40px;
  }

  &.large {
    min-height: 48px;
    height: 48px;
    padding-block: var(--ezds-space-0100);
  }

  &.rightThinnerPadding {
    padding-inline-end: var(--ezds-space-0200);
  }

  &:hover {
    border-color: var(--ezds-color-text-default);
  }

  @supports selector(:has(*)) {
    &:has(.input:active, .input:focus) {
      border-color: var(--ezds-color-background-accent-default);
    }

    &:has(.input:read-only) {
      background-color: var(--ezds-color-background-quaternary);
      border: none;

      .input {
        background-color: var(--ezds-color-background-quaternary);
      }
    }

    &:has(.input:disabled) {
      cursor: not-allowed;
      user-select: none;
      border: none;
      pointer-events: none;
      background-color: var(--ezds-color-background-disabled);
      color: var(--ezds-color-text-default-disabled);

      .input {
        background-color: var(--ezds-color-background-disabled);
      }
    }

    &.success {
      border-color: var(--ezds-color-background-success-default);

      &:hover {
        border-color: var(--ezds-color-background-success-default);
      }

      &:has(.input:active, .input:focus) {
        border-color: var(--ezds-color-background-success-default);
      }
    }

    &:has(.input[aria-invalid="true"]) {
      border-color: var(--ezds-color-background-danger-default);

      &:hover {
        border-color: var(--ezds-color-background-danger-default);
      }

      &:has(.input:active, .input:focus) {
        border-color: var(--ezds-color-background-danger-default);
      }
    }
  }

  @supports not selector(:has(*)) {
    &:focus-within {
      border-color: var(--ezds-color-background-accent-default);
    }

    &.readOnly {
      background-color: var(--ezds-color-background-quaternary);
      border: none;

      .input {
        background-color: var(--ezds-color-background-quaternary);
      }
    }

    &.disabled {
      cursor: not-allowed;
      user-select: none;
      border: none;
      pointer-events: none;
      background-color: var(--ezds-color-background-disabled);

      .input {
        background-color: var(--ezds-color-background-disabled);
      }
    }

    &.success {
      border-color: var(--ezds-color-background-success-default);

      &:hover {
        border-color: var(--ezds-color-background-success-default);
      }

      &:focus-within {
        border-color: var(--ezds-color-background-success-default);
      }
    }

    &.error {
      border-color: var(--ezds-color-background-danger-default);

      &:hover {
        border-color: var(--ezds-color-background-danger-default);
      }

      &:focus-within {
        border-color: var(--ezds-color-background-danger-default);
      }
    }
  }

  .input {
    all: unset;

    flex: 1;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--ezds-color-text-subtle);
      font-weight: 400;
    }

    &:disabled::placeholder {
      color: var(--ezds-color-text-default-disabled);
    }
  }
}
