.header {
  width: 100%;

  .title {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .descriptionIcon {
    flex-shrink: 0;
    margin-inline-end: var(--spacing-xs);
    color: var(--icon-color);
  }
}
