@import "../../styles/typography";

.vibe-sb-comps-link {
  display: inline-flex;
  &--small {
    @include small-text-without-color;
  }
  &--medium {
    @include content-text-without-color;
  }
  &--with-spacing {
    margin: 0 $spacing-xs;
  }
}
