@import "~monday-ui-style/dist/mixins";

// TODO remove, only for dev purposes
:root {
  --modal-content-inline-padding: var(--spacing-xl);
  --modal-content-block-end-padding: var(--spacing-xl);
}

.content {
  width: 100%;
  height: 100%;
  border: 1px dashed aquamarine;
  align-self: flex-start;
  padding-inline: var(--modal-content-inline-padding);
  margin-block-end: var(--modal-content-block-end-padding);
  overflow: auto;
  @include scroller;
}
