@import "../../../../../styles/global-css-settings";

.monday-storybook-colors-description {
  display: flex;
  justify-content: center;
  align-items: center;

  &_color-block {
    height: 48px;
    width: 48px;

    &:first-child {
      background-color: var(--primary-color);
    }

    &:nth-child(2) {
      background-color: var(--primary-hover-color);
    }

    &:last-child {
      background-color: var(--primary-selected-color);
    }
  }
}
