.table {
  background-color: inherit;
  width: 100%;

  [role="rowgroup"] {
    [role="row"] {
      > [role="cell"] {
        border-bottom: 1px solid var(--layout-border-color);
      }
    }

    > [role="row"]:last-of-type {
      > [role="cell"] {
        border-bottom: none;
      }
    }
  }
}
