.monday-storybook-alert-banner {
  &_column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_big-container {
    width: 610px;
  }

  &_small-container {
    width: 320px;
  }

  &_medium-container {
    width: 392px;
  }

  &_pink {
    background: var(--sb-color-sofia_pink);
  }
}
