.monday-style-avatar-badge {
  stroke: white;
  color: red;
  stroke-width: 1px;

  &--large{
    $avatar-badge-size-large: 19px;
    height: $avatar-badge-size-large;
    width: $avatar-badge-size-large;
  }

  &--medium {
    $avatar-badge-size-medium: 13px;
    height: $avatar-badge-size-medium;
    width: $avatar-badge-size-medium;
  }

  &--small {
    $avatar-badge-size-small: 10px;
    height: $avatar-badge-size-small;
    width: $avatar-badge-size-small;
  }
}