@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";
$tooltip-z-index: 9999999999999999;

.tooltip {
  position: relative;
  display: inline-block;
  border-radius: $border-radius-small;
  padding: $spacing-small $spacing-medium;
  @include theme-prop(box-shadow, box-shadow-medium);
  @include font-input();
  max-width: 50vw;
  word-break: break-word;
}

.paddingSizeMd {
  border-radius: $border-radius-medium;
  padding: $spacing-medium;
  @include font-input();
}

a.tooltipWhiteLink {
  color: #fff;
}

.tooltipDark,
:global(.monday-style-tooltip-arrow).arrowDark {
  @include theme-prop(background-color, inverted-color-background);
  @include theme-prop(color, text-color-on-inverted);
}

.tooltipWhite,
:global(.monday-style-tooltip-arrow).arrowWhite {
  background-color: $white-theme-bg-color;
  color: $white-theme-font-color;
  @include theme-prop(box-shadow, box-shadow-medium);
}

.tooltipPrimary,
:global(.monday-style-tooltip-arrow).arrowPrimary {
  @include theme-prop(background-color, primary-color);
  @include theme-prop(color, text-color-on-primary);
}

.tooltipSuccess,
:global(.monday-style-tooltip-arrow).arrowSuccess {
  @include theme-prop(background-color, positive-color);
  @include theme-prop(color, text-color-on-primary);
}

.tooltipSurface,
:global(.monday-style-tooltip-arrow).arrowSurface {
  background-color: $surface-theme-bg-color;
  color: $surface-theme-font-color;
}

.tooltipPrivate,
:global(.monday-style-tooltip-arrow).arrowPrivate {
  @include theme-prop(background-color, private-color);
  @include theme-prop(color, text-color-on-primary);
}

.tooltipShare,
:global(.monday-style-tooltip-arrow).arrowShare {
  @include theme-prop(background-color, shareable-color);
  @include theme-prop(color, text-color-on-primary);
}

.tooltipError,
:global(.monday-style-tooltip-arrow).arrowError {
  @include theme-prop(background-color, negative-color);
  @include theme-prop(color, text-color-on-primary);
}

:global(.monday-style-dialog-content-component) {
  padding: 6px;
}

:global(.monday-style-dialog-content-component):focus {
  outline: none;
}
