@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";
$tooltip-z-index: 9999999999999999;

.mondayStyleTooltip {
  position: relative;
  display: inline-block;
  border-radius: $border-radius-small;
  padding: $spacing-small $spacing-medium;
  @include theme-prop(box-shadow, box-shadow-medium);
  @include font-input();
  max-width: 50vw;
  word-break: break-word;
}

.mondayStyleTooltip.paddingSizeMd {
  border-radius: $border-radius-medium;
  padding: $spacing-medium;
  @include font-input();
}

.mondayStyleTooltip a.tooltipWhiteLink {
  color: #fff;
}

.mondayStyleTooltipDark,
.mondayStyleArrowDark {
  @include theme-prop(background-color, inverted-color-background);
  @include theme-prop(color, text-color-on-inverted);
}

.mondayStyleTooltipWhite,
.mondayStyleArrowWhite {
  background-color: $white-theme-bg-color;
  color: $white-theme-font-color;
  @include theme-prop(box-shadow, box-shadow-medium);
}

.mondayStyleTooltipPrimary,
.mondayStyleArrowPrimary {
  @include theme-prop(background-color, primary-color);
  @include theme-prop(color, text-color-on-primary);
}

.mondayStyleTooltipSuccess,
.mondayStyleArrowSuccess {
  @include theme-prop(background-color, positive-color);
  @include theme-prop(color, text-color-on-primary);
}

.mondayStyleTooltipSurface,
.mondayStyleArrowSurface {
  background-color: $surface-theme-bg-color;
  color: $surface-theme-font-color;
}

.mondayStyleTooltipPrivate,
.mondayStyleArrowPrivate {
  @include theme-prop(background-color, private-color);
  @include theme-prop(color, text-color-on-primary);
}

.mondayStyleTooltipShare,
.mondayStyleArrowShare {
  @include theme-prop(background-color, shareable-color);
  @include theme-prop(color, text-color-on-primary);
}

.mondayStyleTooltipError,
.mondayStyleArrowError {
  @include theme-prop(background-color, negative-color);
  @include theme-prop(color, text-color-on-primary);
}

.mondayStyleDialogContentComponent {
  padding: 6px;
}

.mondayStyleDialogContentComponent:focus {
  outline: none;
}
