.emptyState {
  width: 100%;
  padding: var(--space-24);
  box-sizing: border-box;
  background: var(--primary-background-color);

  &.compact {
    padding: var(--space-16);
  }

  .content {
    width: 100%;
    text-align: center;

    .title {
      max-width: 500px;
    }

    .description {
      max-width: 500px;
    }

    .actions {
      width: 100%;
    }
  }
}
