@import "../../styles/themes.scss";
// Mocks for global imports
@import "./BoxCoreFunctions";
@import "./BoxCoreMixin";
@import "./BoxCoreVariables";
@import "./BoxCoreMaps";
// Local Box utility definitions
@import "./BoxUtilityMap";

@include utility-factory($utilities-modules, $export: "modules");

.box {
  background: red;
  min-height: 50px;
  margin: 24px;
  display: flex;
  text-align: left;
  align-items: center;
  color: white;
}
