// Box Core: Maps
// - Mock maps the should be delivered Via "monday-ui-styles"

$core-spacing-vars: (
        0: 0,
        xs: var(--spacing-xs),
        small:var(--spacing-small),
        medium: var(--spacing-medium),
        large: var(--spacing-large),
        xl: var(--spacing-xl),
        xxl: var(--spacing-xxl),
        xxxl: var(--spacing-xxxl),
);

$core-negative-spacing-vars: (
        nxs: var(--spacing-n-xs),
        nsmall:var(--spacing-n-small),
        nmedium: var(--spacing-n-medium),
        nlarge: var(--spacing-n-large),
        nxl: var(--spacing-n-xl),
        nxxl: var(--spacing-n-xxl),
        nxxxl: var(--spacing-n-xxxl),
);

$core-border-colors-vars: (
        uiBorderColor: var(--ui-border-color),
        layoutBorderColor: var(--layout-border-color),
);

$core-colors-vars: (
        primaryColor: var(--primary-color),
        primaryHoverColor: var(--primary-hover-color),
        primarySelectedColor: var(--primary-selected-color),
        primaryTextColor: var(--primary-text-color),
        textColorOnPrimary: var(--text-color-on-primary),
        textColorOnInverted: var(--text-color-on-inverted),
        secondaryTextColor: var(--secondary-text-color),
        placeholderColor: var(--placeholder-color),
        iconColor: var(--icon-color),
        linkColor: var(--link-color),
        disabledTextColor: var(--disabled-text-color),
);

$core-background-colors-vars: (
        primaryBackgroundColor: var(--primary-background-color),
        primaryBackgroundHoverColor: var(--primary-background-hover-color),
        secondaryBackgroundColor: var(--secondary-background-color),
        greyBackgroundColor: var(--grey-background-color),
        allgreyBackgroundColor: var(--allgrey-background-color),
        invertedColorBackground: var(--inverted-color-background),
        disabledBackgroundColor: var(--disabled-background-color),
);
