// BOX Core: variables
// Mock Custom properties that should be imported from "monday-ui-styles"

:root {
  --border-width: 1px;
  --border-style: solid;
}

:root,
.light-app-theme,
.default-app-theme {
  --box-shadow-xs: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.dark-app-theme {
  --box-shadow-xs: 0px 4px 6px -4px rgba(9, 11, 25, 0.5);
}

.black-app-theme {
  --box-shadow-xs: 0px 4px 6px -4px #000000;
}

.hacker-app-theme {
  --box-shadow-xs: 0px 4px 6px -4px #000000;
}