// BOX Core: variables
// Mock Custom properties that should be imported from "monday-ui-styles"
:root{
  --border-width:1px;
  --border-style:solid;
  --spacing-n-xs: -4px;
  --spacing-n-small: -8px;
  --spacing-n-medium: -16px;
  --spacing-n-large: -24px;
  --spacing-n-xl: -32px;
  --spacing-n-xxl: -48px;
  --spacing-n-xxxl: -64px;
}
