@use "sass:map";

$utilities-modules: (
        "opacity": (
                property: opacity,
                values: (
                        disabled: var(--disabled-component-opacity),
                )
        ),
        "border": (
                property: border,
                values: (
                        null: var(--border-width) var(--border-style) var(--ui-border-color),
                        0: 0,
                )
        ),
        "borderTop": (
                property: border-top,
                class: borderTop,
                values: (
                        null: var(--border-width) var(--border-style) var(--ui-border-color),
                        0: 0,
                )
        ),
        "borderEnd": (
                property: border-inline-end,
                class: borderEnd,
                values: (
                        null: var(--border-width) var(--border-style) var(--ui-border-color),
                        0: 0,
                )
        ),
        "borderBottom": (
                property: border-bottom,
                class: borderBottom,
                values: (
                        null: var(--border-width) var(--border-style) var(--ui-border-color),
                        0: 0,
                )
        ),
        "borderStart": (
                property: border-inline-start,
                class: borderStart,
                values: (
                        null: var(--border-width) var(--border-style) var(--ui-border-color),
                        0: 0,
                )
        ),
        "borderColor": (
                property: border-color,
                class: borderColor,
                values: $core-border-colors-vars,
        ),
        "rounded": (
                property: border-radius,
                class: rounded,
                values: (
                        0: 0,
                        small: var(--border-radius-small),
                        medium: var(--border-radius-medium),
                        big: var(--border-radius-big),
                ),
        ),
        "roundedTop": (
                property: border-top-left-radius border-top-right-radius,
                class: roundedTop,
                values: (
                        0: 0,
                        small: var(--border-radius-small),
                        medium: var(--border-radius-medium),
                        big: var(--border-radius-big),
                ),
        ),
        "roundedEnd": (
                property: border-top-right-radius border-bottom-right-radius,
                class: roundedEnd,
                values: (
                        0: 0,
                        small: var(--border-radius-small),
                        medium: var(--border-radius-medium),
                        big: var(--border-radius-big),
                ),
        ),
        "roundedBottom": (
                property: border-bottom-right-radius border-bottom-left-radius,
                class: roundedBottom,
                values: (
                        0: 0,
                        small: var(--border-radius-small),
                        medium: var(--border-radius-medium),
                        big: var(--border-radius-big),
                ),
        ),
        "roundedStart": (
                property: border-bottom-left-radius border-top-left-radius,
                class: roundedStart,
                values: (
                        0: 0,
                        small: var(--border-radius-small),
                        medium: var(--border-radius-medium),
                        big: var(--border-radius-big),
                ),
        ),
        "shadow": (
                property: box-shadow,
                class: shadow,
                values: (
                        xs: var(--box-shadow-xs),
                        small: var(--box-shadow-small),
                        medium: var(--box-shadow-medium),
                        large: var(--box-shadow-large),
                )
        ),
        "margin": (
                property: margin,
                class: m,
                values: map.merge($core-spacing-vars, (auto: auto)),
        ),
        "marginX": (
                property: margin-right margin-left,
                class: mx,
                values: map.merge($core-spacing-vars, (auto: auto))
        ),
        "marginY": (
                property: margin-top margin-bottom,
                class: my,
                values: map.merge($core-spacing-vars, (auto: auto)),
        ),
        "marginTop": (
                property: margin-top,
                class: mt,
                values: map.merge($core-spacing-vars, (auto: auto)),
        ),
        "marginEnd": (
                property: margin-inline-end,
                class: me,
                values: map.merge($core-spacing-vars, (auto: auto)),
        ),
        "marginBottom": (
                property: margin-bottom,
                class: mb,
                values: map.merge($core-spacing-vars, (auto: auto)),
        ),
        "marginStart": (
                property: margin-inline-start,
                class: ms,
                values: map.merge($core-spacing-vars, (auto: auto)),
        ),
        "padding": (
                property: padding,
                class: p,
                values: $core-spacing-vars,
        ),
        "paddingX": (
                property: padding-right padding-left,
                class: px,
                values: $core-spacing-vars,
        ),
        "paddingY": (
                property: padding-top padding-bottom,
                class: py,
                values: $core-spacing-vars,
        ),
        "paddingTop": (
                property: padding-top,
                class: pt,
                values: $core-spacing-vars
        ),
        "paddingEnd": (
                property: padding-inline-end,
                class: pe,
                values: $core-spacing-vars
        ),
        "paddingBottom": (
                property: padding-bottom,
                class: pb,
                values: $core-spacing-vars
        ),
        "paddingStart": (
                property: padding-inline-start,
                class: ps,
                values: $core-spacing-vars
        ),
        "color": (
                property: color,
                class: text,
                values: $core-colors-vars,
        ),
        "backgroundColor": (
                property: background-color,
                class: bg,
                values: map.merge(
                                $core-background-colors-vars,
                                (
                                        "transparent": transparent
                                ),
                ),
        ),
);
