@import "../../../styles/themes";

.monday-storybook-toast {
  border: 1px solid red;
  &_wrapper {
    position: static;
    width: 390px;
    margin: 0;
    transform: translate(0, 0);
  }

  &_inline-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &_big {
    width: 420px;
    .monday-style-toast-content {
      justify-content: center;
    }
  }

  &_toast-line-wrapper {
    position: static;
    left: 0;
    right: 0;
    margin: 0;
    transform: translate(0, 0);
  }

  &_box {
    width: 390px;
  }
}

// overriding margin for storybook wrapper
.monday-storybook_multiple-story-elements-wrapper .monday-style-toast{
  margin-right:auto;
  margin-left:auto;
}