@mixin shadow-example-text {
  font-size: var(--sb-small-text-font-size);
  line-height: 22px;
}
.shadow {
  display: flex;
  flex-direction: column;
  align-items: center;

  .example {
    width: 81px;
    height: 81px;

    &.xs {
      box-shadow: var(--box-shadow-xs);
    }

    &.small {
      box-shadow: var(--box-shadow-small);
    }

    &.medium {
      box-shadow: var(--box-shadow-medium);
    }

    &.large {
      box-shadow: var(--box-shadow-large);
    }
  }

  .title {
    @include shadow-example-text;
    font-weight: 500;
    margin: var(--sb-spacing-small) 0;
  }

  .code {
    @include shadow-example-text;
  }
}
