.containerWrapper {
  min-width: 1px;
  flex-grow: 1;
}
.hiddenChip {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
}
.inputWrapper {
  flex-shrink: 0;
  width: 48px;
}
.hiddenChipsDialog {
  max-width: 192px;
}
.dialogChip {
  max-width: 100%;
}
