@import "~@ezds/web/dist/mixins";

.tableHeaderCell {
  height: var(--table-row-size);
  padding: var(--ezds-space-0100);
  padding-inline-start: var(--ezds-space-0200);
  color: var(--ezds-color-text-subtle);
  box-sizing: border-box;
  text-align: initial;
  border-bottom: 1px solid var(--ezds-color-border-default);
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  @include focus-style();

  &.sticky {
    z-index: 1;
    position: sticky;
    left: 0;
    box-shadow: var(--sticky-cell-box-shadow);

    &:hover {
      background: var(--sticky-cell-hover-background);
    }
  }

  &:hover,
  &.sortActive {
    background-color: var(--ezds-color-background-transparent-inverted);
  }

  .tableHeaderCellContent {
    min-width: 0;

    .icon {
      min-width: var(--ezds-space-0200);
    }

    .infoTooltip {
      display: inline-flex;
    }
  }

  .tableHeaderCellSort {
    padding-inline-start: var(--ezds-space-0100);

    .sort {
      color: var(--ezds-color-icon-subtle);
      transition: opacity 0.1s;

      &.asc,
      &.desc {
        color: var(--ezds-color-text-default);
      }

      &:not(.show) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
