@import "~@ezds/web/dist/mixins";

.expandCollapse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--ezds-color-text-default);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: var(--ezds-radius-0100);
}

.header {
  @include reset-button();
  padding: var(--ezds-space-0200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header:hover {
  background-color: var(--ezds-color-background-transparent-inverted);
}

.header:active {
  transform: scale(1);
}

.header .headerContent {
  margin: 0;
}

.header .iconComponent {
  color: var(--ezds-color-icon-subtle);
}

.content {
  padding: var(--ezds-space-0200);
}

.section {
  width: 100%;
}

.hideBorder {
  border: none;
}

.hideBorderBottom {
  border-bottom: none;
}

.showBorder {
  border: 1px solid var(--ezds-color-border-strong);
  .headerOpen {
    border-bottom: 1px solid;
    border-color: var(--ezds-color-border-strong);
  }
}

.animateIconOpen {
  transform: rotate(-180deg);
  transition: transform var(--ezds-motion-expressive-short) var(--ezds-motion-timing-transition);
}

.animateIconClose {
  transform: rotate(-360deg);
  transition: transform var(--ezds-motion-expressive-short) var(--ezds-motion-timing-transition);
}

.header.leftIcon {
  justify-content: flex-start;
  gap: var(--ezds-space-0100);
}
