@import "~@vibe/style/dist/mixins";

.listTitle {
  @include smoothing-text;
  border-radius: var(--border-radius-small);
}

// Inline padding matches BaseItem for alignment
.small {
  padding: var(--space-16) var(--space-8) var(--space-8);
}

.medium {
  padding: var(--space-16) 12px var(--space-8);
}

.large {
  padding: var(--space-16) 12px var(--space-8);
}

.sticky {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--primary-background-color);
  z-index: 1;
}
