@import "../../../styles/typography";

.component-state-description-container {
  width: 15%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  &.full {
    width: unset;
  }
  .component-state-description-title {
    @include font-input();
    color: var(--secondary-text-color);
  }
}
