// DEBUG

@import "debug/debug-flags";
@import "debug/debug-value-maps";
@import "debug/debug-mixins";

@if $debug-values {
  @debug "🦠 Wellcome to the dubug ,set flags to true to check tokens scopes.";
  @debug "🚩 Available flags: $debug-core, $debug-basic-theme , $debug-dark-theme, $debug-black-theme";
  @debug "🔍 Scope Debug options: $debug-palette, $debug-legacy-palette, $debug-keys , $debug-legacy-keys";

  @if $debug-basic-theme {
    // BASIC THEME
    // - palette
    @if $debug-palette {
      @include debug-compare-values(
              $prod: $debug-basic-theme-palette-map,
              $dev: $debug-output-basic-theme-palette,
              $custom-props-values: $debug-basic-theme-palette-custom-props-reference,
              $custom-props-converted: $debug-basic-theme-palette-custom-props-converted,
              $white-list: $debug-basic-theme-palette-white-list,
              $reference-key-map: $debug-basic-theme-palette-map,
              $title: "🖌️ 🎨 palette values",
              $scope: "basic theme palette",
      )
    }
    @if $debug-legacy-palette {
      // - legacy palette
      @include debug-compare-values(
              $prod: $debug-basic-theme-legacy-palette-map,
              $dev: $debug-output-basic-theme-legacy-palette,
              $custom-props-values: $debug-basic-theme-legacy-palette-custom-props-reference,
              $custom-props-converted: $debug-basic-theme-legacy-palette-custom-props-converted,
              $white-list: $debug-basic-theme-legacy-palette-white-list,
              $reference-key-map: $debug-basic-theme-legacy-palette-map,
              $title: "🖌️ legacy palette values",
              $scope: "basic theme legacy palette",
      );
    }
    // - Theme keys
    @if $debug-keys {
      @include debug-compare-values(
              $prod: $debug-basic-theme-keys-map,
              $dev: $debug-output-basic-theme-keys,
              $custom-props-values: $debug-basic-theme-custom-props-reference,
              $custom-props-converted: $debug-basic-theme-keys-custom-props-converted,
              $white-list: $debug-basic-theme-white-list,
              $reference-key-map: $reference-vibe-keys-map,
              $title: "🔑 theme key values",
              $scope: "basic theme keys",
      );
    }
    // - Theme legacy keys
    @if $debug-legacy-keys {
      @include debug-compare-values(
              $prod: $debug-basic-theme-legacy-keys-map,
              $dev: $debug-output-basic-theme-legacy-keys,
              $custom-props-values: $debug-basic-theme-legacy-keys-custom-props-reference,
              $custom-props-converted: $debug-basic-theme-legacy-keys-custom-props-converted,
              $white-list: $debug-basic-theme-legacy-keys-white-list,
              $reference-key-map: $debug-basic-theme-legacy-keys-map,
              $title: "🗝️ legacy key values",
              $scope: "basic theme legacy keys",
      );
    }
  }
  @if $debug-dark-theme {
    // DARK THEME
    // - Theme keys
    @if $debug-keys {
      @include debug-compare-values(
              $prod: $debug-dark-theme-keys-map,
              $dev: $debug-output-dark-theme-keys,
              $custom-props-values: $debug-dark-theme-keys-custom-props-reference,
              $custom-props-converted: $debug-dark-theme-keys-custom-props-converted,
              $white-list: $debug-dark-theme-keys-white-list,
              $reference-key-map: $debug-basic-theme-keys-map,
              $title: "🔑 theme key values",
              $scope: "dark theme",
      );
    }
    // - Theme legacy keys
    @if $debug-legacy-keys {
      @include debug-compare-values(
              $prod: $debug-dark-theme-legacy-keys-map,
              $dev: $debug-output-dark-theme-legacy-keys,
              $custom-props-values: $debug-dark-theme-legacy-custom-props-reference,
              $custom-props-converted: $debug-dark-theme-legacy-keys-custom-props-converted,
              $white-list: $debug-dark-theme-legacy-white-list,
              $reference-key-map: $debug-basic-theme-legacy-keys-map,
              $title: "🗝️ legacy key values",
              $scope: "dark theme",
      );
    }
  }
  @if $debug-black-theme {
    //BLACK THEME
    // - Theme keys
    @if $debug-keys {
      @include debug-compare-values(
              $prod: $debug-black-theme-keys-map,
              $dev: $debug-output-black-theme-keys,
              $custom-props-values: $debug-black-theme-keys-custom-props-reference,
              $custom-props-converted: $debug-black-theme-keys-custom-props-converted,
              $white-list: $debug-black-theme-keys-white-list,
              $reference-key-map: $debug-basic-theme-keys-map,
              $title: "🔑 theme key values",
              $scope: "black theme",
      );
    }
    // - Theme legacy keys
    @if $debug-legacy-keys {
      @include debug-compare-values(
              $prod: $debug-black-theme-legacy-keys-map,
              $dev: $debug-output-black-theme-legacy-keys,
              $custom-props-values: $debug-black-theme-legacy-custom-props-reference,
              $custom-props-converted: $debug-black-theme-legacy-keys-custom-props-converted,
              $white-list: $debug-black-theme-legacy-keys-white-list,
              $reference-key-map: $debug-basic-theme-legacy-keys-map,
              $title: "🗝️ legacy key values",
              $scope: "black theme",
      );
    }
  }

  // Example use for validate tokens using reference map
  @if $debug-example-verify-vibe-keys {
    @debug "EXAMPLE: using \"debug-verify-vibe-tokens\" Mixin";
    @include debug-verify-vibe-tokens(
                    --primary-color,
                    --primary-on-secondary-color,
                    --primary-hover-color,
                    --primary-hover-on-secondary-color,
                    --primary-selected-color,
                    --primary-selected-color-rgb,
                    --primary-selected-on-secondary-color,
                    --primary-text-color,
                    --primary-text-on-secondary-color,
                    --text-color-on-primary,
                    --text-color-on-primary-with-opacity,
                    --primary-background-color,
                    --primary-background-color-rgb,
                    --primary-background-hover-color,
                    --primary-background-hover-on-secondary-color,
                    --grey-background-color,
                    --modal-background-color,
                    --inverted-color-background,
                    --text-color-on-inverted,
                    --positive-color,
                    --positive-color-hover,
                    --positive-color-selected,
                    --negative-color,
                    --negative-color-hover,
                    --negative-color-selected,
                    --private-color,
                    --shareable-color,
                    --ui-border-color,
                    --ui-border-on-secondary-color,
                    --layout-border-color,
                    --layout-border-on-secondary-color,
                    --placeholder-color,
                    --placeholder-color-with-opacity,
                    --placeholder-on-secondary-color,
                    --icon-color,
                    --icon-on-secondary-color,
                    --disabled-background-color,
                    --disabled-background-on-secondary-color,
                    --disabled-text-color,
                    --disabled-text-on-secondary-color,
                    --dark-background-color,
                    --dark-background-on-secondary-color,
                    --secondary-background-color,
                    --secondary-background-color-rgb,
                    --dialog-background-color,
                    --label-background-color,
                    --label-background-on-secondary-color,
                    --secondary-text-color,
                    --secondary-text-on-secondary-color,
                    --link-color,
                    --link-on-secondary-color,
                    --box-shadow-small,
                    --box-shadow-medium,
                    --box-shadow-large,
                    --box-shadow-mediun,
    );
  }
}
