:root,
.light-app-theme,
.default-app-theme {
  --color-asphalt: #676879;
  --color-asphalt-with-opacity: rgba(103, 104, 121, 0.1);
  --color-light_blue: #61caf7;
  --color-basic_blue: #0073ea;
  --color-basic_light_blue: #c7e6fa;
  --color-dark_blue: #0060b9;
  --color-link_color: #1f76c2;
  --color-snow_white: #ffffff;
  --color-snow_white-with-opacity: rgba(255, 255, 255, 0.4);

  --color-success: #258750;
  --color-success-hover: #007038;
  --color-success-highlight: #bbdbc9;

  --color-error: #d83a52;
  --color-error-hover: #b63546;
  --color-error-highlight: #f4c3cb;

  --color-placholder_gray: #d8d8d8;
  --placeholder-color-with-opacity: rgba(197, 199, 208, 0.1);
  --color-wolf_gray: #c3c6d4;
  --color-wolf_gray-with-opacity: rgba(195, 198, 212, 0.1);
  --color-mud_black: #323338;
  --color-jaco_gray: #9699a6;
  --color-black: #000000;
  --color-blue_links: #0086c0;
  --color-bazooka: #f65f7c;
  --color-dark_marble: #f1f1f1;
  --color-marble: #f7f7f7;
  --color-gainsboro: #e1e1e1;

  --color-jeans: #597bfc;
  --color-aqua: #00d1d1;

  --color-highlight_blue: #cce5ff;
  --color-highlight_blue-rgb: 204, 229, 255;
  --color-pulse_text_color: #333333;
  --color-highlight: #dff0ff;
  --color-placeholder_light_gray: #efefef;
  --color-scrollbar_gray: #b2b2b2;
  --color-timeline_grid_blue: #454662;
  --color-timeline_blue: #1c1f3b;
  --color-default_group_color: #579bfc;
  --color-very_light_gray: #a1a1a1;
  --color-pulse_bg: #f0f0f0;
  --color-jade: #03c875;
  --color-deadline_upcoming_indication: #5d6387;
  --color-form_purple: #575c96;
  --color-form_btn_hover: #0083d9;
  --color-board_views_grey: #6e6f8f;
  --color-board_views_blue: #1c1f3b;
  --color-board_views_grey_hover: #b2b3d0;
  --color-board_views_blue_secondary: #363a52;
  --color-brand-blue: #00a9ff;
  --color-brand-charcoal: #2b2c5c;
  --color-brand-gold: #ffcc00;
  --color-brand-green: #11dd80;
  --color-brand-iris: #595ad4;
  --color-brand-light-blue: #00cff4;
  --color-brand-malachite: #00cd6f;
  --color-brand-purple: #a358d0;
  --color-brand-red: #f74875;
  --color-public: #009aff;
  --color-private: #f65f7c;
  --color-word-blue: #2a5699;
  --color-ppt-orange: #d64e2a;
  --color-excel-green: #207245;
  --color-pdf-red: #bb0706;
  --color-zip-orange: #e4901c;
  --color-media-blue: #2ea2e9;
  --color-surface: #292f4c;
  --color-burned_eggplant: #181d37;
  --color-live_blue: #009aff;
  --color-extra_light_gray: #edeef0;
  --color-glitter: #d9f0ff;
  --color-ultra_light_gray: #ebebeb;
  --color-red_shadow: #e2445c;
  --color-green_shadow: #00c875;
  --color-storm_gray: #6b6d77;
  --color-riverstone_gray: #f6f7fb;
  --color-ui_grey: #dcdfec;
  --color-border_light_gray: #f5f6f8;
  --color-like_red: #fb275d;
  --color-lime-green: #9cd326;
  --color-mustered: #cab641;
  --color-dark_red: #bb3354;
  --color-trolley-grey: #808080;
  --color-dark-purple: #784bd1;
  --color-dark-pink: #ff158a;
  --color-turquoise: #66ccff;
  --color-light-pink: #ff5ac4;
  --color-red-shadow: #e2445c;
  --color-orange: #fdab3d;
  --color-yellow: #ffcb00;
  --color-green-shadow: #00c875;
  --color-grass-green: #037f4c;
  --color-blue-links: #0086c0;
  --color-amethyst: #a25ddc;
  --color-green-haze: #00a359;
}
