:root,
.light-app-theme,
.default-app-theme {
  --theme-box-shadow: 50, 51, 56;
}

.dark-app-theme {
  --theme-box-shadow: 245, 246, 248;
}

// TODO just for test - remove afterwards
:root {
  --motion-productive-short: 7000ms;
}
