.resourceButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  background: none;
  border: 2px solid var(--primary-text-color);
  border-radius: 40px;
  color: var(--primary-text-color);
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-background-hover-color);
  }
}
