/* stylelint-disable selector-class-pattern */

@import "~monday-ui-style/dist/mixins";

.chip-with-input-wrapper {
  display: flex;
  max-width: 100%;
}
.placeholder-container {
  margin-left: 6px;
}

.multiselect-chip-multi-line {
  --chips-margin: 2px;
}

.multiselect-chip-single-line-medium {
  --chips-margin: 5px 2px;
}

.multiselect-chip-single-line-large {
  --chips-margin: 9px 2px;
}

.multiselect-chip-single-line-small {
  --chips-margin: 1px 2px;
}

.multiselect-chip-disabled {
  background-color: var(--ui-background-color) !important;
}

.value-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.value-container-chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;

  &.without-placeholder {
    margin-left: 6px;
  }
}

.valueDialogContent {
  @include scroller();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 300px;
  overflow-y: auto;

  .chips {
    flex-shrink: 0;
  }
}

.dropdownCounter {
  &:hover {
    background-color: var(--primary-background-hover-color);
    box-shadow: 0 0 0 1px var(--primary-hover-color) inset;
  }

  &.active {
    box-shadow: 0 0 0 1px var(--primary-hover-color) inset;
  }
}
