.infoText {
  color: var(--ezds-color-text-subtle);

  &.error {
    color: var(--ezds-color-background-danger-default);
  }

  &.success {
    color: var(--ezds-color-background-success-default);
  }

  &.disabled {
    color: var(--ezds-color-text-default-disabled);
  }

  &.readOnly {
    color: var(--ezds-color-text-subtle);
  }
}
