.outerWrapper {
  width: 100%;
}
.wrapper {
  --border-color: var(--ui-border-color);
  --background-color: var(--secondary-background-color);

  border-radius: var(--border-radius-small);
  box-shadow: inset 0 0 0 1px var(--border-color);
  background: var(--background-color);
  cursor: pointer;

  &:hover {
    --border-color: var(--primary-text-color);
  }

  &.active,
  &:focus {
    --border-color: var(--primary-color);
  }

  &.disabled {
    --border-color: var(--disabled-background-color);
    --background-color: var(--disabled-background-color);
    cursor: not-allowed;
  }

  &.readOnly {
    --border-color: var(--allgrey-background-color);
    --background-color: var(--allgrey-background-color);
    cursor: default;
  }

  &.error {
    --border-color: var(--negative-color);
  }
}
.helperText {
  margin-top: var(--spacing-xs);
}
