@import "../../../styles/themes";

.monday-storybook-search {
  &_wrapper {
    width: 260px;
    padding: 16px 18px;
  }

  &_box {
    width: 448px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_size {
    width: 240px;
  }
}
