.typesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--sb-spacing-large);

  .typeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--sb-spacing-xl);

    .editableText {
      width: 150px;
    }
  }
}
