// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  $active-background: scale-color($background, $lightness: -15%);
  $active-border: scale-color($background, $lightness: -15%);
  outline: none;
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: none;

  &:hover {
    outline: none;
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    outline: none;
  }

  &:active,
  &.active {
    outline: none;
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
    transform: scale(0.97);
    // Remove the gradient for the pressed/active state
    background-image: none;

    &:hover,
    &:focus,
    &.focus {
      outline: none;
      color: $color;
      background-color: scale-color($background, $lightness: -20%);
      border-color: scale-color($background, $lightness: -20%);
    }
  }

  &.disabled,
  &:disabled {
    cursor: arrow;
    border-color: $dark_marble;
    background-color: $dark_marble;
    color: $american_gray;
    box-shadow: none;

    &:focus,
    &.focus {
      background-color: $dark_marble;
      border-color: $dark_marble;
    }
    &:hover {
      background-color: $dark_marble;
      border-color: $dark_marble;
      color: $american_gray;
    }
  }
}

@mixin button-outline-variant($color) {
  $active-background: scale-color($color, $lightness: 80%);
  $active-border: $color;
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  &:hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    outline: none;
  }

  &:active,
  &.active,
  .open > &.ds-dropdown-toggle {
    outline: none;
    transform: scale(0.97);
    color: $color;
    background-color: $active-background;
    border-color: $active-border;

    &:hover,
    &:focus,
    &.focus {
      outline: none;
      color: $color;
      background-color: scale-color($color, $lightness: 70%);
      border-color: $active-border;
    }
  }

  &.disabled,
  &:disabled {
    cursor: arrow;
    border-color: $dark_marble;
    background-color: $dark_marble;
    color: $american_gray;
    box-shadow: none;
    &:focus,
    &.focus {
      background-color: $dark_marble;
      border-color: $dark_marble;
    }
    &:hover {
      background-color: $dark_marble;
      border-color: $dark_marble;
      color: $american_gray;
    }
  }
}

@mixin button-loading-variant($color, $background, $border) {
  $active-background: scale-color($background, $lightness: -15%);
  $active-border: scale-color($background, $lightness: -15%);
  outline: none;
  color: $color;
  cursor: default;
  background-color: $background;
  border-color: $border;
  box-shadow: none;
  padding: 0px 0px;
  padding-right: 0.24rem;
  margin-top: 1px;

  &:focus,
  &.focus {
    outline: none;
  }

  &:active,
  &.active {
    outline: none;
    &:hover,
    &:focus,
    &.focus {
      outline: none;
    }
  }

  .loader {
    color: $color;
    content: -9999em;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin_accel 0.8s infinite ease;
    animation: spin_accel 0.8s infinite ease;
  }
}

@mixin button-outline-loading-variant($color, $color-hover: #fff) {
  color: $color;
  cursor: default;
  background-image: none;
  background-color: transparent;
  border-color: $color;
  padding: 0px 0px;
  padding-right: 0.24rem;
  margin-top: 1px;

  &:focus,
  &.focus {
    outline: none;
  }

  &:active,
  &.active,
  .ds-open > &.ds-dropdown-toggle {
    outline: none;

    &:hover,
    &:focus,
    &.focus {
      outline: none;
    }
  }

  .loader {
    color: $color;
    content: -9999em;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin_accel 0.8s infinite ease;
    animation: spin_accel 0.8s infinite ease;
  }
}

// Button sizes
@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $border-radius,
  $loader-size
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $btn-line-height;
  height: ($btn-line-height * $font-size) + (2 * $padding-y + 2rem/15); //fix this hack (border thickness is missing)
  border-radius: $border-radius;

  .loader {
    font-size: $loader-size;
    min-width: $loader-size;
    height: $loader-size;
    margin: $loader-size $loader-size;
  }
}

@keyframes spin_accel {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  65% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
