.monday-storybook-tooltip {
  &_box {
    padding: 20px 50px;
    display: flex;
    gap: 16px;
  }

  &_title {
    padding: 30px 0;
    display: flex;
  }

  &_image {
    padding: 120px 0;
    display: flex;

    &__tooltip > img {
      min-height: 135px;
    }
  }

  &_tabs {
    ul,
    li {
      padding: 0;
      margin: 0;
    }
  }

  &_position-left {
    position: relative;
    left: -25%;
  }

  &_link {
    color: var(--text-color-on-primary);
    text-decoration: underline;
  }

  &_position-bottom {
    position: relative;
    top: 25%;
  }

  &_positions {
    display: flex;
    align-items: center;

    > :nth-child(1) {
      padding: 0 64px 68px 0;
      margin: 0 32px;
    }

    > :nth-child(2) {
      padding: 50px 0 0 0;
      margin: 0 32px;
    }
    > :nth-child(3) {
      padding: 0 32px 8px 32px;
      margin: 0 32px;
    }

    > :nth-child(4) {
      padding: 0 64px 8px 64px;
      margin: 0 64px;
    }
  }

  &_overview {
    padding: 40px 0 0 50px;
  }
}
