.contributor {
  border-radius: 4px;
  background-color: var(--sb-dark-background-color);
  display: inline-block;
  padding: 2px 8px;
  margin: 0 12px 12px 0;
  text-decoration: none;
  vertical-align: middle;

  .image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
}
