.text {
  color: var(--secondary-text-color);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 140%;
  margin: 0;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
