@import "../../../styles/themes.scss";

.monday-storybook-modal-new {

  &-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-end: 24px;
  }


  &-buttons {
    padding-block-start: 24px;
    align-self: end;
    button+button {
      margin-inline-start: 24px;
    }

  }

  &-display-none {
    display: none;
  }
}
