@import "../../styles/typography";

.listItemIcon {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.start {
  margin-inline-end: var(--spacing-small);
}

.end {
  margin-inline-start: var(--spacing-small);
}
