@import "../../styles/typography";

.listItemIcon {
  display: flex;
  align-items: center;
  color: var(--ezds-color-text-default);
}

.start {
  margin-right: var(--ezds-space-0100);
}

.end {
  margin-left: var(--ezds-space-0100);
}
