.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);
  
  &.compact {
    gap: var(--space-4);
  }
}

.action {
  &.primary {
    order: 1;
  }
  
  &.secondary {
    order: 2;
  }
} 