@import "~@ezds/web/dist/mixins/states";
@import "../../styles/typography";
@import "../../styles/keyframes";

.clickableWrapper {
  @include clickable;

  &:active {
    transform: scale(0.95) translate3d(0, 0, 0);
    transition: var(--ezds-motion-productive-short) transform;
  }
}

.label {
  @include smoothing-text;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--ezds-radius-0100);
  padding: 2px var(--ezds-space-0100);
  position: relative;

  &.small {
    padding: 0 var(--ezds-space-0050);
    border-radius: 2px;
  }
}

.withLeg {
  border-radius: var(--ezds-radius-0100) var(--ezds-radius-0100) var(--ezds-radius-0100) 0;
}

.legWrapper {
  position: absolute;
  height: 8px;
  top: 100%;
  left: 0;
  display: inline-flex;
}

.kindFill {
  &.colorPrimary {
    background-color: var(--ezds-color-background-accent-default);

    svg path {
      fill: var(--ezds-color-background-accent-default);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-accent-default--hover);
    }
  }

  &.colorDark {
    background-color: var(--ezds-color-background-primary-inverted);

    svg path {
      fill: var(--ezds-color-background-primary-inverted);
    }
  }

  &.colorNegative {
    background-color: var(--ezds-color-background-danger-default);

    svg path {
      fill: var(--ezds-color-background-danger-default);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-danger-default--hover);
    }
  }

  &.colorPositive {
    background-color: var(--ezds-color-background-success-default);

    svg path {
      fill: var(--ezds-color-background-success-default);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-success-default--hover);
    }
  }
}

.kindLine {
  border: 1px solid currentColor;
  padding: 1px var(--ezds-space-0100);

  .legWrapper {
    left: -1px;
    top: calc(100% + 1px);
  }

  &.colorPrimary {
    color: var(--ezds-color-background-accent-default);

    svg path {
      fill: var(--ezds-color-background-accent-default);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-transparent-inverted);
    }
  }

  &.colorDark {
    color: var(--ezds-color-background-primary-inverted);

    svg path {
      fill: var(--ezds-color-background-primary-inverted);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-transparent-inverted);
    }
  }

  &.colorNegative {
    color: var(--ezds-color-background-danger-default);

    svg path {
      fill: var(--ezds-color-background-danger-default);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-danger-subtle);
    }
  }

  &.colorPositive {
    color: var(--ezds-color-background-success-default);

    svg path {
      fill: var(--ezds-color-background-success-default);
    }

    &.clickable:hover,
    &.clickable:active {
      background-color: var(--ezds-color-background-success-subtle);
    }
  }

  .smallText {
    line-height: 14px;
  }
}
