.typesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--sb-spacing-large);

  .typeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;

    .editableHeading {
      width: 200px;
    }

    .editableHeading:first-child {
      width: 125px;
    }
  }
}
