.tipseenMedia {
  width: 100%;
  overflow: hidden;
  display: flex;
  border: 2px solid var(--ezds-color-background-accent-default);
  border-radius: var(--ezds-radius-0200);
  position: relative;
  z-index: 1;
}

.colorInverted {
  border-color: var(--ezds-color-background-primary-inverted);
}