@import '../../styles/mixins/typography';

.informationBoxTitle {
  margin-bottom: var(--sb-spacing-xs);
  margin-top: var(--sb-spacing-xs);
  display: inline;

  &.informationBoxTitle {
    display: flex;
    font-weight: 700;
  }

  &.titleLink {
    cursor: pointer;
  }
}
