@import "../../styles/themes";
@import "../../styles/typography";
@import "../../styles/global-css-settings";

.banner {
  width: content-box;
}

.bannerContent {
  display: grid;
  position: relative;
  padding: $spacing-large;
  border-radius: $border-radius-medium;
  grid-gap: $spacing-small;
  justify-content: start;
  column-gap: 24px;
  align-content: center;
  background-color: var(--primary-background-hover-color);
  @include theme-prop(color, primary-text-color);
}

.bannerContent .bannerClose {
  position: absolute;
  top: 0;
  right: 0;
}

.bannerContent.closeButtonSpacing {
  padding-right: $spacing-xl;
}

.bannerContent.imagePositionLeft,
.bannerContent.imagePositionRight {
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.bannerContent.imagePositionLeft {
  grid-template-areas:
    "image  title    title   "
    "image  subtitle subtitle";
}

.bannerContent.imagePositionRight {
  grid-template-areas:
    "title    title     image"
    "subtitle subtitle  image";
}

.bannerContent.imagePositionBottom,
.bannerContent.imagePositionTop {
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.bannerContent.imagePositionTop {
  grid-template-areas:
    "image"
    "title"
    "subtitle";
}

.bannerContent.imagePositionBottom {
  grid-template-areas:
    "title"
    "subtitle"
    "image";
}

.bannerContent .bannerTitle {
  align-self: end;
  margin: 0;
  grid-area: title;
  height: 32px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  max-width: 782px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bannerContent .bannerSubtitle {
  @include font-paragraph();
  margin: 0;
  grid-area: subtitle;
  @include line-clamp(3);
}

.bannerContent .bannerImage {
  align-self: center;
  justify-self: center;
  grid-area: image;
  width: 100px;
  height: 100px;
  border-radius: $border-radius-medium;
  object-fit: contain;
}

.rtl .bannerContent {
  text-align: right;
}

.rtl .bannerContent .bannerClose {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
}

.rtl .bannerContent.closeButtonSpacing {
  padding-left: $spacing-xl;
}

.rtl .bannerContent.imagePositionLeft {
  grid-template-areas:
    "image  title    title"
    "image  subtitle subtitle";
}

.rtl .bannerContent.imagePositionRight {
  grid-template-areas:
    "title    title     image"
    "subtitle subtitle  image";
}
