@import "../../../styles/themes";
@import "../../../styles/typography";
@import "../../../styles/global-css-settings";

.itemButton {
  margin: unset;
  @include font-default;
  display: flex;
  flex-direction: row;
  padding: $spacing-xs 0;
  align-items: center;
}

.itemButton :global(.monday-style-button) {
  width: 100%;
}

.itemButton :global(.monday-style-button) .content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
