@import "../../styles/themes";

.sliderInfix {
  font-size: 14px;
  flex: 0 0 auto;
}

.sliderInfixTxt {
  white-space: nowrap;
}

.sliderInfix .inputComponentInput {
  text-align: center;
}

.sliderInfix .inputComponent .inputComponentInputWrapper .inputComponentInput {
  padding: var(--spacing-small);
}

.sliderInfixPrefix {
  margin-right: var(--spacing-small);
}

.sliderInfixPostfix {
  margin-left: var(--spacing-small);
}
