// HACKER THEME LEGACY KEYS MAP: This partial defines the hacker theme's legacy keys color map.
// - Map include legacy keys scope tokens.
// - Its main Purpose is to separate legacy tokens to registration tokens and key tokens.
// - This map is for Key Tokens.
//   - Legacy Key tokens are aliases of registration tokens or content color tokens with a semantic meaning.
// - Map is collected into the $theme-dark-settings map and is interpolated into custom properties.

$theme-hacker-legacy-keys: (
  primary-on-secondary-color: $theme-hacker-primary-on-secondary-color,
  primary-hover-on-secondary-color: $theme-hacker-primary-hover-on-secondary-color,
  primary-selected-color-rgb: $theme-hacker-primary-selected-color-rgb,
  primary-selected-on-secondary-color: $theme-hacker-primary-selected-on-secondary-color,
  primary-text-on-secondary-color: $theme-hacker-primary-text-on-secondary-color,
  primary-background-color-rgb: $theme-hacker-primary-background-color-rgb,
  primary-background-hover-on-secondary-color: $theme-hacker-primary-background-hover-on-secondary-color,
  secondary-background-color-rgb: $theme-hacker-secondary-background-color-rgb,
  secondary-text-on-secondary-color: $theme-hacker-secondary-text-on-secondary-color,
  link-on-secondary-color: $theme-hacker-link-on-secondary-color,
  modal-background-color: $theme-hacker-modal-background-color,
  dark-background-color: $theme-hacker-dark-background-color,
  dark-background-on-secondary-color: $theme-hacker-dark-background-on-secondary-color,
  dialog-background-color: $theme-hacker-dialog-background-color,
  label-background-color: $theme-hacker-label-background-color,
  label-background-on-secondary-color: $theme-hacker-label-background-on-secondary-color,
  icon-on-secondary-color: $theme-hacker-icon-on-secondary-color,
  placeholder-color-with-opacity: $theme-hacker-placeholder-color-with-opacity,
  placeholder-on-secondary-color: $theme-hacker-placeholder-on-secondary-color,
  ui-border-on-secondary-color: $theme-hacker-ui-border-on-secondary-color,
  layout-border-on-secondary-color: $theme-hacker-layout-border-on-secondary-color,
  disabled-background-on-secondary-color: $theme-hacker-disabled-background-on-secondary-color,
  disabled-text-on-secondary-color: $theme-hacker-disabled-text-on-secondary-color,
  box-shadow-mediun: $box-shadow-mediun
);
