.filledTrack {
  position: absolute;
  border-radius: inherit;
  background-color: var(--ezds-color-background-accent-default);
  height: inherit;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.positive {
  background-color: var(--ezds-color-background-success-default);
}

.negative {
  background-color: var(--ezds-color-background-danger-default);
}
