@import "~@ezds/web/dist/mixins";

.thumb {
  position: absolute;
  border: 3px solid;
  border-radius: 50%;
  border-color: var(--ezds-color-background-accent-default);
  background-color: var(--ezds-color-background-primary);
  font-size: 14px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--ezds-motion-productive-long) var(--ezds-motion-timing-enter);
  font-family: var(--ezds-font-family-body);
}

.dragging {
  cursor: grabbing !important;
  transform: translate(-50%, -50%) scale(1.15, 1.15);
  transform-origin: center center;
  transition: transform var(--ezds-motion-productive-long) var(--ezds-motion-timing-enter);
  box-shadow: var(--ezds-shadow-small);
}
.focused {
  border-color: var(--ezds-color-background-accent-default--hover);
  cursor: grab;
  box-shadow: var(--ezds-shadow-small);
}

// thumb (for NOT-disabled)
.notDisabledThumb {
  @include focus-style(50%);
  &:hover {
    border-color: var(--ezds-color-background-accent-default--hover);
    cursor: grab;
    box-shadow: var(--ezds-shadow-small);
  }
}

.positive {
  border-color: var(--ezds-color-background-success-default);
}

.positive.notDisabledThumb {
  &:hover {
    border-color: var(--ezds-color-background-success-default--hover);
  }
}

.negative {
  border-color: var(--ezds-color-background-danger-default);
}

.negative.notDisabledThumb {
  &:hover {
    border-color: var(--ezds-color-background-danger-default--hover);
  }
}

.small {
  height: 16px;
  width: 16px;
}

.medium {
  height: 20px;
  width: 20px;
}

.large {
  height: 24px;
  width: 24px;
}

.label {
  left: 50%;
  max-width: 64px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, 0);
  white-space: nowrap;

  &.positionTop {
    bottom: calc(100% + 8px);
  }

  &.positionBottom {
    top: calc(100% + 8px);
  }

  &.colorPrimary {
    color: var(--ezds-color-text-default);
  }

  &.colorSecondary {
    color: var(--ezds-color-text-subtle);
  }
}
