.track {
  position: absolute;
  border-radius: inherit;
  background-color: var(--ezds-color-background-accent-subtle);
  height: inherit;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.positive {
  background-color: var(--ezds-color-background-success-subtle);
}

.negative {
  background-color: var(--ezds-color-background-danger-subtle);
}
