.spacing-xs {
  height: var(--sb-spacing-xs);
}

.spacing-small {
  height: var(--sb-spacing-small);
}

.spacing-medium {
  height: var(--sb-spacing-medium);
}

.spacing-large {
  height: var(--sb-spacing-large);
}

.spacing-xl {
  height: var(--sb-spacing-xl);
}

.spacing-xxl {
  height: var(--sb-spacing-xxl);
}

.spacing-xxxl {
  height: var(--sb-spacing-xxxl);
}

.spacing-component-visualizer {
  background-color: var(--sb-negative-color-selected);
  width: 75px;
}

.spacing-component {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 0 var(--sb-spacing-medium);
  align-items: center;
  justify-content: flex-end;

  &_title-container {
    display: flex;
    justify-content: center;
    padding: var(--sb-spacing-medium) var(--sb-spacing-xs) var(--sb-spacing-medium) var(--sb-spacing-xs);
    color: var(--sb-primary-text-color);
    font-size: var(--sb-small-text-font-size);
  }

  &_description {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  &_title {
    margin-right: var(--sb-spacing-small);
  }

  &_variable-name {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
  }
}
