.row {
  margin-bottom: var(--spacing-xxl);
}

.video {
  flex-grow: 1;
  max-width: 620px;
}

.easingInformationBox {
  p {
    margin-top: 0;
    margin-bottom: var(--spacing-small);

    &:not(:last-child) {
      margin-top: var(--spacing-xxl);
    }
  }
}
